Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

feat(pathfinding): Implement real-time path preview on mouse hover
  Views/PathOverlay.cs
Labels: none

docs(backlog): Update VS_014 with real-time preview completion
  Docs/01-Active/Backlog.md
Labels: documentation

fix(pathfinding): Production-ready logging and scope clarification
  Docs/01-Active/Backlog.md
  Views/PathOverlay.cs
  src/Darklands.Presentation/Presenters/PathVisualizationPresenter.cs
Labels: documentation

feat(planning): TD_060 elevated to prerequisite, VS_012 technical breakdown
  Docs/01-Active/Backlog.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog_005.md
Labels: documentation

feat: VS_014 A* Pathfinding - PRODUCTION READY with Planning Complete (#65)
  CLAUDE.md
  Docs/01-Active/Backlog.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/tech-lead.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog_005.md
  GodotIntegration/Core/GameManager.cs
  Scenes/combat_scene.tscn
  Views/PathOverlay.cs
  Views/PathOverlay.tscn
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Application/Grid/Services/IGridStateService.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Darklands.Domain/Pathfinding/AStarAlgorithm.cs
  src/Darklands.Domain/Pathfinding/IPathfindingAlgorithm.cs
  src/Darklands.Domain/Pathfinding/PathfindingCostTable.cs
  src/Darklands.Domain/Pathfinding/PathfindingNode.cs
  src/Darklands.Domain/Pathfinding/PathfindingResult.cs
  src/Darklands.Presentation/DI/ServiceConfiguration.cs
  src/Darklands.Presentation/Presenters/IPathVisualizationPresenter.cs
  src/Darklands.Presentation/Presenters/PathVisualizationPresenter.cs
  src/Darklands.Presentation/Views/IPathVisualizationView.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
  tests/Application/Grid/Commands/SpawnDummyCommandHandlerTests.cs
  tests/Application/Grid/GridStateDebugTest.cs
  tests/Domain/Pathfinding/AStarAlgorithmTests.cs
  tests/Domain/Pathfinding/AStarRuntimeDebugTest.cs
Labels: application, infrastructure, tests, documentation, phase-1, phase-2, phase-3, phase-4

feat(movement): Complete TD_060 - Movement Animation Foundation with A* integration
  Docs/01-Active/Backlog.md
  Views/ActorView.cs
  src/Darklands.Presentation/Presenters/ActorPresenter.cs
  src/Darklands.Presentation/Presenters/GridPresenter.cs
  src/Darklands.Presentation/Presenters/IActorPresenter.cs
  src/Darklands.Presentation/Presenters/MovementPresenter.cs
  src/Darklands.Presentation/Views/IActorView.cs
Labels: documentation

docs: Archive TD_060 and approve TD_062 with sub-cell waypoint solution
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

refactor(td-061): Correctly identify FOV update issue, not camera smoothing
  Docs/01-Active/Backlog.md
Labels: documentation

feat: Movement Animation Foundation with A* Integration (TD_060) (#66)
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog.md
  Views/ActorView.cs
  src/Darklands.Presentation/Presenters/ActorPresenter.cs
  src/Darklands.Presentation/Presenters/GridPresenter.cs
  src/Darklands.Presentation/Presenters/IActorPresenter.cs
  src/Darklands.Presentation/Presenters/MovementPresenter.cs
  src/Darklands.Presentation/Views/IActorView.cs
Labels: documentation

docs(td-062): Revise sprite clipping fix to discrete movement
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-022-temporal-decoupling-pattern.md
  Docs/03-Reference/ADR/ADR-023-game-state-management.md
  Docs/03-Reference/ADR/README.md
  Docs/04-Personas/tech-lead.md
  Scenes/combat_scene.tscn
Labels: documentation, phase-4

feat(td-062): Fix actor sprite clipping through obstacles during animation
  Docs/01-Active/Backlog.md
  Views/ActorView.cs
Labels: documentation

docs(td-062): Archive completed sprite clipping fix to backlog archive
  Docs/01-Active/Backlog.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat(td-062): Fix actor sprite clipping through obstacles during animation (#67)
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-022-temporal-decoupling-pattern.md
  Docs/03-Reference/ADR/ADR-023-game-state-management.md
  Docs/03-Reference/ADR/README.md
  Docs/04-Personas/tech-lead.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog.md
  Scenes/combat_scene.tscn
  Views/ActorView.cs
Labels: documentation, phase-4

feat(td-061): Progressive FOV domain layer [Phase 1/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Domain/FogOfWar/RevealPositionAdvanced.cs
  src/Darklands.Domain/FogOfWar/RevealProgression.cs
  src/Darklands.Domain/FogOfWar/RevealProgressionCompleted.cs
  src/Darklands.Domain/FogOfWar/RevealProgressionStarted.cs
  src/Darklands.Domain/FogOfWar/RevealState.cs
  tests/Domain/FogOfWar/RevealProgressionTests.cs
  tests/Domain/FogOfWar/RevealStateTests.cs
Labels: tests, documentation, phase-1

docs(architecture): Simplify ADR-022 to Two-Position Model and create TD_064
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-022-logical-visual-position-separation.md
  Docs/03-Reference/ADR/ADR-023-game-state-management.md
  Docs/03-Reference/ADR/README.md
  Docs/04-Personas/tech-lead.md
Labels: documentation

docs(architecture): Align ADR-022, ADR-023, and TD_061/TD_063 with true two-position model
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-022-logical-visual-position-separation.md
  Docs/03-Reference/ADR/ADR-023-game-state-management.md
  tmp.md
Labels: documentation

feat(td-061): Application layer services and MediatR integration [Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Application/FogOfWar/Events/RevealPositionAdvancedNotification.cs
  src/Application/FogOfWar/Events/RevealProgressionCompletedNotification.cs
  src/Application/FogOfWar/Events/RevealProgressionStartedNotification.cs
  src/Application/FogOfWar/Handlers/RevealPositionAdvancedHandler.cs
  src/Application/FogOfWar/Handlers/RevealProgressionCompletedHandler.cs
  src/Application/FogOfWar/Handlers/RevealProgressionStartedHandler.cs
  src/Application/FogOfWar/Services/IMovementProgressionService.cs
  src/Application/FogOfWar/Services/MovementProgressionService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/FogOfWar/Handlers/ProgressiveFOVCoordinationTests.cs
  tests/Application/FogOfWar/Services/MovementProgressionServiceIntegrationTests.cs
Labels: application, infrastructure, tests, documentation, phase-2, phase-3

fix: reduce verbose logging noise from gameplay and pathfinding
  Views/ActorView.cs
  src/Darklands.Presentation/Presenters/GridPresenter.cs
Labels: none

feat(td-061): Infrastructure layer timer coordination and movement orchestration [Phase 3/4]
  Docs/01-Active/Backlog.md
  Docs/08-Learning/Inventory-System-Analysis.md
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Services/GameTimeService.cs
  src/Infrastructure/Services/IGameTimeService.cs
  src/Infrastructure/Services/IMovementTimer.cs
  src/Infrastructure/Services/MovementTimer.cs
Labels: infrastructure, documentation, phase-3

docs: Post-mortem and backlog updates from TD_061 architectural review
  Docs/01-Active/Backlog.md
  Docs/06-PostMortems/Inbox/2025-09-19-td061-presenter-handler-violation.md
Labels: documentation

docs: Revise ADR-022 to Two-Position Model and update implementation status
  Docs/01-Active/Backlog.md
  Docs/01-Active/CurrentImplementationStatus.md
  Docs/03-Reference/ADR/ADR-022-temporal-decoupling-pattern.md
Labels: documentation

docs(td-065): Add detailed implementation plan after architectural analysis
  Docs/01-Active/Backlog.md
Labels: documentation

refactor: Clean up redundant pathfinding debug messages
  Views/ActorView.cs
  Views/PathOverlay.cs
  src/Application/Grid/Commands/MoveActorCommandHandler.cs
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Darklands.Presentation/Presenters/ActorPresenter.cs
  src/Darklands.Presentation/Presenters/GridPresenter.cs
  src/Darklands.Presentation/Presenters/PathVisualizationPresenter.cs
Labels: application, phase-2

docs(td-065): Refine implementation plan for single-actor movement
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-022-temporal-decoupling-pattern.md
Labels: documentation

feat(td-065): Complete Phase 1 - Domain movement foundation [Phase 1/4]
  Docs/01-Active/Backlog.md
  src/Application/Events/ActorMovedEvent.cs
  src/Application/Events/MovementCompletedEvent.cs
  src/Application/Events/MovementStartedEvent.cs
  src/Darklands.Domain/Actor/Actor.cs
  tests/Domain/Actor/ActorMovementTests.cs
Labels: application, tests, documentation, phase-1, phase-2

feat(td-065): Complete Phase 2 - Application movement handlers [Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Application/Grid/Commands/MoveActorCommandHandler.cs
  src/Application/Movement/Handlers/ActorMovedHandler.cs
  src/Application/Movement/Handlers/MovementCompletedHandler.cs
  src/Application/Movement/Handlers/MovementStartedHandler.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
Labels: application, tests, documentation, phase-2

fix(td-065): Resolve Phase 2 test failures - null reference exceptions
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
Labels: tests, phase-2

docs(td-071): Create ADR-024 for GameLoop architecture
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-024-gameloop-architecture.md
  Docs/03-Reference/ADR/README.md
Labels: documentation

fix(adr-024): Clarify GameLoop must not depend on wall-clock time
  Docs/03-Reference/ADR/ADR-024-gameloop-architecture.md
Labels: documentation

docs(adr-024): Critical improvements to GameLoop architecture clarity
  Docs/03-Reference/ADR/ADR-024-gameloop-architecture.md
Labels: documentation

fix(adr-024): Add critical architectural alignments with ADR-006 and ADR-010
  Docs/03-Reference/ADR/ADR-024-gameloop-architecture.md
Labels: documentation

docs(adr-024): Add alignments with ADR-018, ADR-021, and ADR-016
  Docs/03-Reference/ADR/ADR-024-gameloop-architecture.md
Labels: documentation

fix(adr-024): Address critical implementation risks identified in review
  Docs/03-Reference/ADR/ADR-024-gameloop-architecture.md
  tmp.md
Labels: documentation

fix(adr-024): Critical corrections from second expert review
  Docs/03-Reference/ADR/ADR-024-gameloop-architecture.md
  tmp.md
Labels: documentation

docs(backlog): Add TD_072 for UIEventBus FIFO queue with concurrency
  Docs/01-Active/Backlog.md
Labels: documentation

fix(ci): update GitHub Actions workflows for new project structure
  .github/workflows/ci-auto-fix.yml
  .github/workflows/scheduled-maintenance.yml
Labels: ci/cd

docs: comprehensive architecture documentation update
  Docs/03-Reference/ADR/ADR-001-clean-architecture-foundation.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Docs/03-Reference/ADR/ADR-003-functional-error-handling.md
  Docs/03-Reference/CONTROL-FLOW-EXAMPLE.md
  Docs/03-Reference/HANDBOOK.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

docs: comprehensive architecture documentation update (#73)
  Docs/03-Reference/ADR/ADR-001-clean-architecture-foundation.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Docs/03-Reference/ADR/ADR-003-functional-error-handling.md
  Docs/03-Reference/CONTROL-FLOW-EXAMPLE.md
  Docs/03-Reference/HANDBOOK.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

docs: fix ADR-002 bugs and add VS_002 technical breakdown
  .husky/pre-commit
  .husky/pre-push
  CLAUDE.md
  Darklands.csproj
  Docs/01-Active/Backlog.md
  Docs/01-Active/Workflow.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Docs/03-Reference/FsCheck3xMigrationGuide.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/devops-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  src/Darklands.Core/Darklands.Core.csproj
Labels: documentation, automation

docs: fix ADR-002 bugs and add VS_002 technical breakdown (#74)
  .husky/pre-commit
  .husky/pre-push
  CLAUDE.md
  Darklands.csproj
  Docs/01-Active/Backlog.md
  Docs/01-Active/Workflow.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Docs/03-Reference/FsCheck3xMigrationGuide.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/devops-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  src/Darklands.Core/Darklands.Core.csproj
Labels: documentation, automation

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
