Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

feat(worldgen): TD_008 - Image/Texture2D rendering architecture for world map
  .claude/memory-bank/active/dev-engineer.md
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapNode.cs
Labels: documentation, godot

feat(worldgen): Upgrade to WorldEngine 41-biome system with Holdridge life zones
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapNode.cs
  src/Darklands.Core/Features/WorldGen/Domain/BiomeType.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/BiomeClassifier.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ClimateCalculator.cs
Labels: documentation, godot, phase-1, phase-3

feat(worldgen): Rain shadow + orographic precipitation with multi-octave noise
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ClimateCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: documentation, phase-3

feat(worldgen): Faster zoom + middle mouse button drag for camera controls
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

fix(worldgen): Make middle mouse drag more responsive
  Components/InventoryPanelNode.cs
  Infrastructure/DebugConsoleController.cs
  godot_project/features/worldgen/WorldMapNode.cs
  godot_project/scenes/Main.cs
Labels: godot, phase-3

fix(worldgen): Fix glitchy middle mouse drag with screen-space coordinates
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

feat(worldgen): Add algorithm tracing to ClimateCalculator
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ClimateCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: phase-3

fix(debug): Persist log level setting across game restarts
  Infrastructure/DebugConsoleController.cs
Labels: phase-3

feat(debug): Rich startup message showing current debug settings
  Infrastructure/DebugConsoleController.cs
Labels: phase-3

style: Hardcode log level to Debug for development
  godot_project/scenes/Main.cs
Labels: godot

feat(worldgen): Add pixel art tileset assets for two-layer rendering system
  Docs/01-Active/Backlog.md
  assets/overworld/BaseSet.png
  assets/overworld/BaseSet.png.import
  assets/overworld/overworld.tres
  assets/overworld/white_32x32.png
  assets/overworld/white_32x32.png.import
  godot_project/assets/tilesets/worldgen/BaseSet.png
  godot_project/assets/tilesets/worldgen/BaseSet.png.import
Labels: documentation, godot

docs(worldgen): Revise TD_009 scope - Complete WorldEngine simulation pipeline
  Docs/01-Active/Backlog.md
  Docs/08-Learnings/WorldEngine/TD_009-Pipeline-Gap-Analysis.md
  Main.tscn
Labels: documentation, godot, phase-4

feat(worldgen): Implement hydraulic erosion simulation (TD_009 Phase 1)
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/AStarPathfinder.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/HydraulicErosionProcessor.cs
Labels: phase-3

feat(worldgen): Integrate erosion simulation into pipeline (TD_009 Phase 1)
  Main.tscn
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: godot, phase-2, phase-3, phase-4

docs(backlog): Mark TD_009 Phase 1 complete - Erosion & rivers validated
  Docs/01-Active/Backlog.md
Labels: documentation

feat(worldgen): Implement watermap simulation (TD_009 Phase 2)
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/WatermapCalculator.cs
Labels: phase-3

feat(worldgen): Implement irrigation simulation (TD_009 Phase 3)
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/IrrigationCalculator.cs
Labels: phase-3

feat(worldgen): Implement humidity simulation (TD_009 Phase 4)
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/HumidityCalculator.cs
Labels: phase-3

docs(backlog): Mark TD_009 Phases 1-4 complete - All simulation algorithms done
  Docs/01-Active/Backlog.md
Labels: documentation

feat(worldgen): Fix biome classification to use humidity instead of precipitation (TD_009 Phase 5-6)
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapNode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/BiomeClassifier.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: documentation, godot, phase-2, phase-3

feat(worldgen): Add Ricklefs-style biome grouping for improved visual clarity
  src/Darklands.Core/Features/WorldGen/Domain/BiomeCategory.cs
  src/Darklands.Core/Features/WorldGen/Domain/BiomeExtensions.cs
Labels: phase-1

fix(worldgen): elevation view renders via exact WorldEngine rescaling (draw_simple_elevation): has-ocean handling, proper land delta (/11), and sea-level coloring
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

fix(worldgen): normalize land elevation distribution in post-processing (gamma=1.8) to correct top-heavy heightmaps; pipeline updated after FillOcean
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: phase-3

fix(worldgen): stabilize elevation noise by global renormalization and reduce amplitude (0.06) to prevent land from saturating upper bands
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessor.cs
Labels: phase-3

chore(worldgen): add diagnostics for elevation post-process stats and biome water/land counts to investigate skewed rendering
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: phase-3

fix(worldgen): rank-based land elevation remap (alpha=1.6) after gamma to broaden plains/hills; diagnostics retained
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: phase-3

feat(worldgen): add probe (P key) to log full cell data under cursor (ocean,elev,temp,precip,humidity,irrigation,watermap,biome,river/lake)
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

feat(worldgen): probe highlight (P) + precipitation/temperature views; legends remain anchored (CanvasLayer) and visible when zooming
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

fix(worldgen): attach legend panel to UI CanvasLayer and reposition; update scene label with view/probe instructions
  godot_project/features/worldgen/WorldMapNode.cs
  godot_project/features/worldgen/WorldMapTestScene.tscn
Labels: godot, phase-4

feat(worldgen): enlarge legend (scale 1.6x, 24px swatches, larger fonts) and reposition under UI
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

docs(td_010): record new precipitation/temperature views, probe+highlight, enlarged legends; note elevation map issue and planned harmonization fix
  Docs/01-Active/Backlog.md
Labels: documentation

docs(td_010): complete multi-view debug system; create TD_011 pipeline refactor
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapNode.cs
  godot_project/scenes/Main.tscn
  project.godot
  scripts/utils/Export-PlatecVideo.ps1
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ClimateCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: ci/cd, documentation, godot, automation, phase-2, phase-3, phase-4

refactor(worldgen): replace keyboard shortcuts with UI dropdown for view mode switching
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

feat(td_011): add explicit pipeline stage DTOs for visual validation (Phase 1)
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PipelineStages.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: phase-2, phase-3

feat(td_011): add pipeline stage rendering in WorldMapNode (Phase 2)
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

fix(td_011): add diagnostic logging to Stage2 elevation rendering
  godot_project/features/worldgen/WorldMapNode.cs
Labels: godot

fix(td_011): disable experimental normalization algorithms causing latitude banding
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: phase-3

feat(td_011): add stage-aware probe and legends for all view modes
  godot_project/features/worldgen/WorldMapNode.cs
  project.godot
Labels: godot

docs(td_011): update backlog with comprehensive progress summary
  Docs/01-Active/Backlog.md
Labels: documentation

fix(td_011): add normalization to handle unnormalized native library output
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: phase-3
