Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

docs(td_011): document sea level threshold bug and Option A solution
  Docs/01-Active/Backlog.md
Labels: documentation

refactor(worldgen): strip to native output only, modular node architecture
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapNode.cs
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapTestScene.tscn
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Commands/GenerateWorldCommandHandler.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PipelineStages.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationParams.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/AStarPathfinder.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/BiomeClassifier.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ClimateCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/HumidityCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/HydraulicErosionProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/IrrigationCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/WatermapCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessorTests.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Native/PlateTectonicsIntegrationTests.cs
Labels: tests, documentation, godot, phase-2, phase-3, phase-4

docs(backlog): create VS-022 for incremental WorldGen pipeline
  Docs/01-Active/Backlog.md
Labels: documentation

docs(backlog): add VS_023-029 WorldGen foundation issues
  Docs/01-Active/Backlog.md
Labels: documentation

feat(worldgen): complete VS_025 - flexible UI layout with anchors
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapTestScene.tscn
  godot_project/features/worldgen/WorldMapUINode.cs
Labels: documentation, godot, phase-4

feat(worldgen): complete VS_028 - camera zoom and pan controls
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapCameraNode.cs
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapTestScene.tscn
Labels: documentation, godot, phase-4

feat(worldgen): complete VS_027 - fix probe coordinates and add click-to-probe
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapCameraNode.cs
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
Labels: documentation, godot

feat(worldgen): add colored elevation view with probe fixes (VS_024/TD_013)
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapCameraNode.cs
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  project.godot
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
Labels: documentation, godot, phase-2

fix(worldgen): normalize heightmap for colored elevation rendering (TD_013)
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: documentation, godot

feat(worldgen): dynamic legends, ColoredElevation default, UI reordering (TD_012)
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
Labels: documentation, godot

feat(worldgen): binary world serialization with save/load UI (TD_015)
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapSerializationService.cs
  godot_project/features/worldgen/WorldMapUINode.cs
Labels: documentation, godot

feat(worldgen): adaptive probe highlight colors per view mode
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
Labels: godot

feat(worldgen): GenerateWorldPipeline architecture foundation (VS_023)
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/WorldGen/Application/Abstractions/IWorldGenerationPipeline.cs
  src/Darklands.Core/Features/WorldGen/Application/Commands/GenerateWorldCommand.cs
  src/Darklands.Core/Features/WorldGen/Application/Commands/GenerateWorldCommandHandler.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
Labels: documentation, godot, phase-2, phase-3

feat(worldgen): auto-load/auto-save world cache for instant iteration
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
Labels: godot

feat(worldgen): establish pipeline architecture with VS_024/VS_025 breakdown
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
  godot_project/features/worldgen/WorldMapCameraNode.cs
Labels: documentation, godot

fix(editor): add TOOLS conditional to editor plugin for CI build
  addons/item_shape_editor/ItemShapeEditorPlugin.cs
Labels: none

fix(ci): exclude native library tests from CI pipeline
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

feat(worldgen): VS_024 - Elevation Post-Processing & Quantile Thresholds
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/ElevationMapper.cs
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/ElevationThresholds.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/FastNoiseLite.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
Labels: documentation, godot, phase-2, phase-3

fix(worldgen): TD_018 - Upgrade World Serialization to Format v2
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapSerializationService.cs
Labels: documentation, godot

docs: Archive VS_024 and TD_018, update VS_022 Phase 1
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
Labels: documentation

docs: Update VS_025 with WorldEngine temperature.py analysis
  Docs/01-Active/Backlog.md
Labels: documentation

fix(worldgen): Ocean depth mapping bug + TemperatureMapper utility
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/ElevationMapper.cs
  godot_project/features/worldgen/TemperatureMapper.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapSerializationService.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
Labels: documentation, godot, phase-2, phase-3

feat(worldgen): VS_024 + TD_018 - Stage 1 Elevation Post-Processing & Format v2 Serialization (#99)
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
  godot_project/features/worldgen/ElevationMapper.cs
  godot_project/features/worldgen/TemperatureMapper.cs
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapSerializationService.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/ElevationThresholds.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/FastNoiseLite.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
Labels: documentation, godot, phase-2, phase-3

feat(worldgen): VS_025 Phase 0 - Disable cache during temperature development
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
Labels: documentation, godot

feat(worldgen): VS_025 Phase 1 - Temperature algorithm with 4-stage debug output
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/MathUtils.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/TemperatureCalculator.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/MathUtilsTests.cs
Labels: tests, documentation, phase-3

feat(worldgen): VS_025 Phase 2 - Pipeline integration with 4-stage temperature output
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapSerializationService.cs
  src/Darklands.Core/Features/WorldGen/Application/Commands/GenerateWorldCommandHandler.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
Labels: documentation, godot, phase-2, phase-3

feat(worldgen): VS_025 Phase 3 - Multi-stage temperature visualization
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
Labels: documentation, godot, phase-2

feat(worldgen): VS_025 Phase 3 - Add temperature UI controls (complete)
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapUINode.cs
Labels: documentation, godot

fix(worldgen): Match WorldEngine temperature color scheme (quantile-based discrete bands)
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: godot

fix(worldgen): Temperature noise configuration - add FBm fractal + frequency scaling
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/TemperatureCalculator.cs
Labels: documentation, phase-3

docs(worldgen): Update roadmap + archive VS_025 (Temperature Stage 2 complete)
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
Labels: documentation

docs(worldgen): Add VS_026-027 precipitation pipeline (base + rain shadow)
  Docs/01-Active/Backlog.md
Labels: documentation

feat(worldgen): VS_025 Temperature Simulation + VS_026-027 Precipitation Pipeline (#100)
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapOrchestratorNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapSerializationService.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Commands/GenerateWorldCommandHandler.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/MathUtils.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/TemperatureCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/MathUtilsTests.cs
Labels: tests, documentation, godot, phase-2, phase-3

feat(worldgen): VS_026 Base Precipitation - Stage 3 Climate System
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PrecipitationThresholds.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PrecipitationCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/PrecipitationCalculatorTests.cs
Labels: tests, documentation, godot, phase-2, phase-3

docs(worldgen): Update VS_027 to use latitude-based prevailing winds
  Docs/01-Active/Backlog.md
Labels: documentation

refactor(worldgen): Update precipitation color scheme to Yellow→Green→Blue
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: documentation, godot

feat(worldgen): VS_027 Phase 0+1 - Prevailing Winds + Rain Shadow Effect
  .claude/settings.local.json
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PrevailingWinds.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/RainShadowCalculator.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/PrevailingWindsTests.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/RainShadowCalculatorTests.cs
Labels: tests, phase-3

feat(worldgen): VS_027 Phase 2 - Rain Shadow Visualization Integration
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
Labels: documentation, godot, phase-2, phase-3

docs(backlog): Mark VS_027 fully complete (all 3 phases)
  Docs/01-Active/Backlog.md
Labels: documentation

refactor(worldgen): Rename PrecipitationFinal → PrecipitationBase
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
Labels: godot, phase-2

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
