Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

feat(ci): streamline CI to verification-only approach
  .claude/settings.local.json
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

chore(ci): clean up redundant workflows
  .github/workflows/auto-merge.yml
  .github/workflows/core-tests.yml
Labels: ci/cd

refactor(ci): remove custom auto-merge workflow
  .github/workflows/auto-merge.yml
Labels: ci/cd

fix(ci): remove problematic NuGet caching
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

fix: resolve whitespace formatting issues in tests
  tests/Domain/Combat/TimeUnitCalculatorDeterminismTests.cs
  tests/Domain/Combat/TimeUnitCalculatorTests.cs
Labels: tests, phase-1

fix: prevent build artifacts from being committed
  .gitignore
Labels: none

fix: reorder CI steps to prevent build artifact conflicts
  .claude/settings.local.json
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

fix: remove --no-restore and --no-build flags from CI
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

fix: temporarily skip flaky DI test in CI
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

feat(ci): streamline workflows and eliminate custom auto-merge (#5)
  .claude/settings.local.json
  .github/workflows/auto-merge.yml
  .github/workflows/ci-auto-fix.yml
  .github/workflows/core-tests.yml
  .gitignore
  tests/Domain/Combat/TimeUnitCalculatorDeterminismTests.cs
  tests/Domain/Combat/TimeUnitCalculatorTests.cs
Labels: tests, ci/cd, phase-1

feat(docs): establish Glossary as SSOT and create foundational VS items
  Docs/01-Active/Backlog.md
  Docs/03-Reference/Glossary.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/commit-conventions.md
  Docs/04-Personas/dev-engineer.md
Labels: documentation

feat(grid): complete grid domain models with comprehensive testing [Phase 1/4]
  .claude/settings.local.json
  Docs/01-Active/Backup.md
  src/Domain/Grid/ActorId.cs
  src/Domain/Grid/Grid.cs
  src/Domain/Grid/Movement.cs
  src/Domain/Grid/Position.cs
  src/Domain/Grid/TerrainType.cs
  src/Domain/Grid/Tile.cs
  tests/Domain/Grid/BasicGridTests.cs
Labels: domain, tests, documentation, phase-1

feat(grid): complete Application layer commands and queries [Phase 2/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Application/Common/ICommand.cs
  src/Application/Grid/Commands/MoveActorCommand.cs
  src/Application/Grid/Commands/MoveActorCommandHandler.cs
  src/Application/Grid/Queries/CalculatePathQuery.cs
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Application/Grid/Queries/GetGridStateQuery.cs
  src/Application/Grid/Queries/GetGridStateQueryHandler.cs
  src/Application/Grid/Queries/ValidateMovementQuery.cs
  src/Application/Grid/Queries/ValidateMovementQueryHandler.cs
  src/Application/Grid/Services/IGridStateService.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
Labels: application, infrastructure, tests, documentation, phase-2, phase-3

fix: complete project identity cleanup from BlockLife to Darklands
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/03-Reference/HANDBOOK.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/devops-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  scripts/persona/embody.ps1
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, ci/cd, documentation, automation, phase-3

fix: resolve CI formatting issues in test files
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
  tests/Domain/Grid/BasicGridTests.cs
Labels: tests, phase-1, phase-2

fix: remove overly strict Infrastructure_Should_Not_Reference_Domain test
  tests/Architecture/ArchitectureTests.cs
Labels: tests

fix: complete project identity cleanup from BlockLife to Darklands (#8)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/03-Reference/Glossary.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/commit-conventions.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/devops-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  scripts/persona/embody.ps1
  src/Application/Common/ICommand.cs
  src/Application/Grid/Commands/MoveActorCommand.cs
  src/Application/Grid/Commands/MoveActorCommandHandler.cs
  src/Application/Grid/Queries/CalculatePathQuery.cs
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Application/Grid/Queries/GetGridStateQuery.cs
  src/Application/Grid/Queries/GetGridStateQueryHandler.cs
  src/Application/Grid/Queries/ValidateMovementQuery.cs
  src/Application/Grid/Queries/ValidateMovementQueryHandler.cs
  src/Application/Grid/Services/IGridStateService.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Domain/Grid/ActorId.cs
  src/Domain/Grid/Grid.cs
  src/Domain/Grid/Movement.cs
  src/Domain/Grid/Position.cs
  src/Domain/Grid/TerrainType.cs
  src/Domain/Grid/Tile.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
  tests/Architecture/ArchitectureTests.cs
  tests/Domain/Grid/BasicGridTests.cs
Labels: domain, application, infrastructure, tests, ci/cd, documentation, automation, phase-1, phase-2, phase-3

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci/cd

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci/cd

Add Claude Code GitHub Workflow (#9)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

feat(combat): complete TD_002 and TD_003 - terminology and scheduling interface
  src/Domain/Combat/CombatAction.cs
  src/Domain/Combat/ISchedulable.cs
Labels: domain, phase-1

docs(learning): extract SPD patterns and prepare VS_008 for implementation
  .claude/settings.local.json
  .gitignore
  Docs/01-Active/Backlog.md
  Docs/08-Learning/PROTOTYPE-ASSETS-WARNING.md
  Docs/08-Learning/README.md
  Docs/08-Learning/SPD-Analysis.md
  Docs/08-Learning/SPD-Combat-Extraction.md
  Docs/08-Learning/SPD-High-Level-Flow.md
  Docs/08-Learning/VS_008-Sprite-Setup.md
Labels: documentation

docs(backlog): mark TD_002 and TD_003 as COMPLETE with validation details
  Docs/01-Active/Backlog.md
Labels: documentation

docs(archive): move completed TD_002 and TD_003 to archive, clean active backlog
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

Add Claude Code GitHub Workflow (#9)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

docs(learning): Extract SPD patterns and prepare VS_008 for implementation (#10)
  .claude/settings.local.json
  .gitignore
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  Docs/08-Learning/PROTOTYPE-ASSETS-WARNING.md
  Docs/08-Learning/README.md
  Docs/08-Learning/SPD-Analysis.md
  Docs/08-Learning/SPD-Combat-Extraction.md
  Docs/08-Learning/SPD-High-Level-Flow.md
  Docs/08-Learning/VS_008-Sprite-Setup.md
  src/Domain/Combat/CombatAction.cs
  src/Domain/Combat/ISchedulable.cs
Labels: domain, documentation, phase-1

fix(consistency): complete BlockLife → Darklands identity cleanup
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Design/Protocols/GitWorkflow/BranchAndCommitDecisionProtocols.md
  Docs/02-Design/README.md
  Docs/03-Reference/ADR/ADR-001-strict-model-view-separation.md
  Docs/03-Reference/ADR/ADR-002-phased-implementation-protocol.md
  Docs/03-Reference/FsCheck3xMigrationGuide.md
  Docs/03-Reference/TEST_CATEGORIES_GUIDE.md
  Docs/03-Reference/Testing.md
  Docs/07-Archive/Completed_Backlog.md
  Docs/08-Learning/PROTOTYPE-ASSETS-WARNING.md
  Docs/08-Learning/README.md
  Docs/08-Learning/SPD-High-Level-Flow.md
  scripts/GUIDE.md
  scripts/QUICK_REFERENCE.md
  scripts/git/install-smart-sync.ps1
  scripts/persona/README.md
  scripts/setup/install-claude-protection.ps1
  scripts/test/README.md
  scripts/test/full.ps1
  scripts/utils/rotate-memory-bank.ps1
  scripts/utils/setup-rotation-schedule.ps1
Labels: ci/cd, documentation, automation

fix(consistency): complete BlockLife → Darklands identity cleanup (#11)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Design/Protocols/GitWorkflow/BranchAndCommitDecisionProtocols.md
  Docs/02-Design/README.md
  Docs/03-Reference/ADR/ADR-001-strict-model-view-separation.md
  Docs/03-Reference/ADR/ADR-002-phased-implementation-protocol.md
  Docs/03-Reference/FsCheck3xMigrationGuide.md
  Docs/03-Reference/TEST_CATEGORIES_GUIDE.md
  Docs/03-Reference/Testing.md
  Docs/07-Archive/Completed_Backlog.md
  Docs/08-Learning/PROTOTYPE-ASSETS-WARNING.md
  Docs/08-Learning/README.md
  Docs/08-Learning/SPD-High-Level-Flow.md
  scripts/GUIDE.md
  scripts/QUICK_REFERENCE.md
  scripts/git/install-smart-sync.ps1
  scripts/persona/README.md
  scripts/setup/install-claude-protection.ps1
  scripts/test/README.md
  scripts/test/full.ps1
  scripts/utils/rotate-memory-bank.ps1
  scripts/utils/setup-rotation-schedule.ps1
Labels: ci/cd, documentation, automation

feat: VS_008 Presentation layer + ADR-008 error handling + LanguageExt v5
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-003-tilemap-variant-selection-strategy.md
  Docs/03-Reference/ADR/ADR-008-functional-error-handling.md
  Docs/03-Reference/ADR/README.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/LanguageExt-Usage-Guide.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/test-specialist.md
  Docs/08-Learning/SPD-Dungeon-Generation-Analysis.md
  Docs/08-Learning/SPD-Visual-Consistency-System.md
  GameManager.cs
  Scenes/combat_scene.tscn
  Views/ActorView.cs
  Views/GridView.cs
  assets/tiles_city.png
  assets/tiles_city.png.import
  assets/warrior.png
  assets/warrior.png.import
  src/Darklands.Core.csproj
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/PresenterBase.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  src/Presentation/Views/IActorView.cs
  src/Presentation/Views/IGridView.cs
Labels: infrastructure, documentation, phase-3, phase-4

fix(breaking): resolve LanguageExt v5 API breaking changes (TD_004)
  Docs/01-Active/Backlog.md
  Docs/03-Reference/LanguageExt-Usage-Guide.md
  src/Application/Grid/Commands/MoveActorCommandHandler.cs
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Domain/Grid/Grid.cs
  src/Domain/Grid/Movement.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
Labels: domain, application, tests, documentation, phase-1, phase-2

VS_008: Grid Scene + Player Sprite + LanguageExt v5 Migration (TD_004) (#12)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-003-tilemap-variant-selection-strategy.md
  Docs/03-Reference/ADR/ADR-008-functional-error-handling.md
  Docs/03-Reference/ADR/README.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/LanguageExt-Usage-Guide.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/test-specialist.md
  Docs/08-Learning/SPD-Dungeon-Generation-Analysis.md
  Docs/08-Learning/SPD-Visual-Consistency-System.md
  GameManager.cs
  Scenes/combat_scene.tscn
  Views/ActorView.cs
  Views/GridView.cs
  assets/tiles_city.png
  assets/tiles_city.png.import
  assets/warrior.png
  assets/warrior.png.import
  src/Application/Grid/Commands/MoveActorCommandHandler.cs
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Darklands.Core.csproj
  src/Domain/Grid/Grid.cs
  src/Domain/Grid/Movement.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/PresenterBase.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  src/Presentation/Views/IActorView.cs
  src/Presentation/Views/IGridView.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
Labels: domain, application, infrastructure, tests, documentation, phase-1, phase-2, phase-3, phase-4

fix(visual): resolve TD_005 visual movement bug - actor now moves visually
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/06-PostMortems/Inbox/2025-09-07-visual-movement-bug.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Scenes/combat_scene.tscn
  Views/ActorView.cs
  Views/GridView.cs
  assets/tiles_city.png
  assets/tiles_city.png.import
  assets/warrior.png
  assets/warrior.png.import
  project.godot
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
Labels: documentation, phase-4

fix(tests): resolve ServiceProvider disposal race condition in DI tests
  .claude/settings.local.json
  tests/Infrastructure/DependencyInjection/DependencyResolutionTests.cs
Labels: tests, phase-3

fix(tests): remove second ServiceProvider destructor in MediatR tests
  tests/Infrastructure/DependencyInjection/MediatRHandlerRegistrationTests.cs
Labels: tests, phase-3

fix(visual): resolve TD_005 visual movement bug - actor now moves visually (#13)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/06-PostMortems/Inbox/2025-09-07-visual-movement-bug.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Scenes/combat_scene.tscn
  Views/ActorView.cs
  Views/GridView.cs
  assets/tiles_city.png
  assets/tiles_city.png.import
  assets/warrior.png
  assets/warrior.png.import
  project.godot
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  tests/Infrastructure/DependencyInjection/DependencyResolutionTests.cs
  tests/Infrastructure/DependencyInjection/MediatRHandlerRegistrationTests.cs
Labels: tests, documentation, phase-3, phase-4

feat(logging): implement GodotConsoleSink with rich formatting for TD_008
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Infrastructure/Logging/GodotConsoleSink.cs
  Views/ActorView.cs
  Views/GridView.cs
  logs/darklands-20250907.log
  src/Domain/Grid/ActorId.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/Presenters/GridPresenter.cs
Labels: domain, infrastructure, documentation, phase-1, phase-3

feat(logging): implement GodotConsoleSink with rich formatting for TD_008 (#14)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Infrastructure/Logging/GodotConsoleSink.cs
  Views/ActorView.cs
  Views/GridView.cs
  logs/darklands-20250907.log
  src/Domain/Grid/ActorId.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/Presenters/GridPresenter.cs
Labels: domain, infrastructure, documentation, phase-1, phase-3

feat(grid): add visual grid lines between cells for better clarity
  Docs/01-Active/Backlog.md
  Views/GridView.cs
  logs/darklands-20250907.log
Labels: documentation

docs(architecture): split VS_010 into three thin slices
  Docs/01-Active/Backlog.md
  Docs/03-Reference/Glossary.md
Labels: documentation

feat(VS_002): Combat Scheduler Phase 2 - Application Layer [Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Application/Combat/Commands/ProcessNextTurnCommand.cs
  src/Application/Combat/Commands/ProcessNextTurnCommandHandler.cs
  src/Application/Combat/Commands/ScheduleActorCommand.cs
  src/Application/Combat/Commands/ScheduleActorCommandHandler.cs
  src/Application/Combat/Common/CombatScheduler.cs
  src/Application/Combat/Common/SchedulableActor.cs
  src/Application/Combat/Common/TimeComparer.cs
  src/Application/Combat/Queries/GetSchedulerQuery.cs
  src/Application/Combat/Queries/GetSchedulerQueryHandler.cs
  src/Application/Combat/Services/ICombatSchedulerService.cs
  src/Application/Combat/Services/InMemoryCombatSchedulerService.cs
  src/Domain/Combat/ISchedulable.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Combat/Commands/ProcessNextTurnCommandHandlerTests.cs
  tests/Application/Combat/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Application/Combat/Common/CombatSchedulerTests.cs
  tests/Application/Combat/Common/TimeComparerTests.cs
  tests/Application/Combat/Queries/GetSchedulerQueryHandlerTests.cs
Labels: domain, application, infrastructure, tests, documentation, phase-1, phase-2, phase-3

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
