Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

feat(VS_010a): Actor Health System - Phase 1 Domain Complete
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  src/Application/Actor/Commands/DamageActorCommand.cs
  src/Application/Actor/Commands/HealActorCommand.cs
  src/Domain/Actor/Actor.cs
  src/Domain/Actor/Health.cs
  tests/Application/Actor/Commands/DamageActorCommandTests.cs
  tests/Application/Actor/Commands/HealActorCommandTests.cs
  tests/Domain/Actor/ActorTests.cs
  tests/Domain/Actor/HealthTests.cs
Labels: domain, application, tests, documentation, phase-1, phase-2

feat(VS_010a): Actor Health System - Phase 2 Application Complete
  Docs/01-Active/Backlog.md
  src/Application/Actor/Commands/DamageActorCommand.cs
  src/Application/Actor/Commands/DamageActorCommandHandler.cs
  src/Application/Actor/Commands/HealActorCommand.cs
  src/Application/Actor/Commands/HealActorCommandHandler.cs
  src/Application/Actor/Services/IActorStateService.cs
  tests/Application/Actor/Commands/DamageActorCommandHandlerTests.cs
  tests/Application/Actor/Commands/HealActorCommandHandlerTests.cs
Labels: application, tests, documentation, phase-2

feat(health): infrastructure [Phase 3/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Application/Actor/Commands/DamageActorCommandHandler.cs
  src/Application/Actor/Commands/HealActorCommandHandler.cs
  src/Application/Actor/Services/IActorStateService.cs
  src/Application/Actor/Services/InMemoryActorStateService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Actor/Services/ActorStateServiceIntegrationTests.cs
Labels: application, infrastructure, tests, documentation, phase-2, phase-3

feat(VS_010a): Actor Health System - Phase 4 Presentation Complete [Phase 4/4]
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  GameManager.cs
  Scenes/combat_scene.tscn
  Views/HealthView.cs
  logs/darklands-20250907.log
  src/Application/Actor/Services/IActorStateService.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
  src/Presentation/Views/IHealthView.cs
  tests/Application/Actor/Commands/DamageActorCommandHandlerTests.cs
  tests/Application/Actor/Commands/HealActorCommandHandlerTests.cs
Labels: application, tests, documentation, phase-2, phase-4

feat(architecture): implement TD_009 Single Source of Truth for Actor position
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  logs/darklands-20250907.log
  src/Application/Combat/Services/CombatQueryService.cs
  src/Application/Combat/Services/ICombatQueryService.cs
  src/Application/Grid/Services/IGridStateService.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Domain/Actor/Actor.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
  tests/Application/Actor/Commands/DamageActorCommandHandlerTests.cs
  tests/Application/Actor/Commands/HealActorCommandHandlerTests.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
  tests/Domain/Actor/ActorTests.cs
Labels: domain, application, infrastructure, tests, documentation, phase-1, phase-2, phase-3

fix: format test files whitespace for CI compliance
  tests/Application/Actor/Commands/DamageActorCommandHandlerTests.cs
  tests/Application/Actor/Commands/DamageActorCommandTests.cs
  tests/Application/Actor/Commands/HealActorCommandHandlerTests.cs
  tests/Application/Actor/Commands/HealActorCommandTests.cs
  tests/Application/Actor/Services/ActorStateServiceIntegrationTests.cs
  tests/Application/Combat/Commands/ProcessNextTurnCommandHandlerTests.cs
  tests/Application/Combat/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Application/Combat/Common/CombatSchedulerTests.cs
  tests/Application/Combat/Common/TimeComparerTests.cs
  tests/Application/Combat/Queries/GetSchedulerQueryHandlerTests.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
  tests/Domain/Actor/ActorTests.cs
  tests/Domain/Actor/HealthTests.cs
Labels: tests, phase-1, phase-2

fix(health): complete health bar display system with presenter coordination
  Docs/01-Active/Backlog.md
  Docs/06-PostMortems/Inbox/2025-09-07-presenter-coordination-health-bar-display.md
  GameManager.cs
  Views/HealthView.cs
  logs/darklands-20250907.log
  src/Presentation/Presenters/ActorPresenter.cs
Labels: documentation

chore: exclude log files from version control
  .gitignore
  logs/darklands-20250907.log
Labels: none

fix(health): Complete VS_010a Health Bar Display System (#16)
  .gitignore
  Docs/01-Active/Backlog.md
  Docs/06-PostMortems/Inbox/2025-09-07-presenter-coordination-health-bar-display.md
  GameManager.cs
  Views/HealthView.cs
  logs/darklands-20250907.log
  src/Presentation/Presenters/ActorPresenter.cs
Labels: documentation

feat: increase tile size from 32px to 64px for better visibility
  Views/ActorView.cs
  Views/GridView.cs
  Views/HealthView.cs
Labels: none

feat: enlarge health bar and text for better visibility
  Views/HealthView.cs
Labels: none

feat(combat): implement attack validation domain model [Phase 1/4]
  src/Domain/Combat/AttackValidation.cs
  tests/Domain/Combat/AttackValidationTests.cs
Labels: domain, tests, phase-1

feat(VS_010b): basic melee attack system [Phase 2/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Application/Combat/Commands/ExecuteAttackCommand.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandTests.cs
  tests/Darklands.Core.Tests.csproj
Labels: application, tests, documentation, phase-2

feat(VS_010b): attack system infrastructure integration [Phase 3/4]
  Docs/01-Active/Backlog.md
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerIntegrationTests.cs
Labels: tests, documentation, phase-2

feat(VS_010b): attack presentation layer with feedback system [Phase 4/4]
  Docs/01-Active/Backlog.md
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Combat/Services/IAttackFeedbackService.cs
  src/Presentation/Presenters/AttackPresenter.cs
  src/Presentation/Views/IAttackView.cs
Labels: application, documentation, phase-2

feat(VS_010c): Complete Dummy Combat Target implementation [Phase 1-3/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Application/Grid/Commands/SpawnDummyCommand.cs
  src/Application/Grid/Commands/SpawnDummyCommandHandler.cs
  src/Domain/Actor/DummyActor.cs
  tests/Application/Grid/Commands/SpawnDummyCommandHandlerTests.cs
  tests/Application/Grid/Commands/SpawnDummyCommandTests.cs
  tests/Domain/Actor/DummyActorTests.cs
Labels: domain, application, tests, documentation, phase-1, phase-2

feat(VS_010c): Complete Phase 4 - Visual dummy target in combat scene
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  src/Presentation/Presenters/ActorPresenter.cs
Labels: documentation

docs(architecture): approve TD_011 and create ADR-009 for sequential turn processing
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-009-sequential-turn-processing.md
  Views/ActorView.cs
  Views/HealthView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
Labels: documentation

feat(TD_011): eliminate async/concurrent race conditions in turn-based game
  Docs/01-Active/Backlog.md
  Views/ActorView.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Combat/Coordination/GameLoopCoordinator.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/Presenters/ActorPresenter.cs
  tests/Application/Combat/Coordination/GameLoopCoordinatorTests.cs
  tests/Architecture/ArchitectureTests.cs
Labels: application, infrastructure, tests, documentation, phase-2, phase-3

feat(TD_011): complete async→sync transformation with compilation fixes
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  Views/ActorView.cs
  Views/HealthView.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Combat/Coordination/GameLoopCoordinator.cs
  src/Application/Combat/Services/IAttackFeedbackService.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/AttackPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
  src/Presentation/Views/IHealthView.cs
  tests/Application/Combat/Coordination/GameLoopCoordinatorTests.cs
Labels: application, tests, documentation, phase-2

fix: resolve code formatting issues for CI compliance
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerIntegrationTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandTests.cs
  tests/Application/Combat/Coordination/GameLoopCoordinatorTests.cs
  tests/Application/Grid/Commands/SpawnDummyCommandHandlerTests.cs
  tests/Application/Grid/Commands/SpawnDummyCommandTests.cs
  tests/Architecture/ArchitectureTests.cs
  tests/Domain/Actor/DummyActorTests.cs
  tests/Domain/Combat/AttackValidationTests.cs
Labels: tests, phase-1, phase-2

feat(TD_011): Complete async→sync transformation eliminating race conditions (#17)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/03-Reference/ADR/ADR-009-sequential-turn-processing.md
  Docs/07-Archive/Completed_Backlog.md
  Views/ActorView.cs
  Views/GridView.cs
  Views/HealthView.cs
  src/Application/Combat/Commands/ExecuteAttackCommand.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Combat/Coordination/GameLoopCoordinator.cs
  src/Application/Combat/Services/IAttackFeedbackService.cs
  src/Application/Grid/Commands/SpawnDummyCommand.cs
  src/Application/Grid/Commands/SpawnDummyCommandHandler.cs
  src/Domain/Actor/DummyActor.cs
  src/Domain/Combat/AttackValidation.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/AttackPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
  src/Presentation/Views/IAttackView.cs
  src/Presentation/Views/IHealthView.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerIntegrationTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandTests.cs
  tests/Application/Combat/Coordination/GameLoopCoordinatorTests.cs
  tests/Application/Grid/Commands/SpawnDummyCommandHandlerTests.cs
  tests/Application/Grid/Commands/SpawnDummyCommandTests.cs
  tests/Architecture/ArchitectureTests.cs
  tests/Darklands.Core.Tests.csproj
  tests/Domain/Actor/DummyActorTests.cs
  tests/Domain/Combat/AttackValidationTests.cs
Labels: domain, application, infrastructure, tests, documentation, phase-1, phase-2, phase-3

feat(devops): enhance CI workflows with zero-friction automation
  .claude/settings.local.json
  .github/workflows/scheduled-maintenance.yml
  GameManager.cs
  Infrastructure/Logging/GodotConsoleSink.cs
  Views/ActorView.cs
  Views/GridView.cs
  Views/HealthView.cs
  scripts/persona/embody.ps1
Labels: ci/cd, automation, phase-3

feat: implement click-to-attack logic for dummy targets
  GameManager.cs
  src/Presentation/Presenters/GridPresenter.cs
Labels: none

feat: implement death cleanup system with visual UI removal
  .claude/settings.local.json
  GameManager.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Combat/Common/CombatScheduler.cs
  src/Application/Combat/Services/ICombatSchedulerService.cs
  src/Application/Combat/Services/InMemoryCombatSchedulerService.cs
  tests/Application/Combat/Commands/ProcessNextTurnCommandHandlerTests.cs
  tests/Application/Combat/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Application/Combat/Queries/GetSchedulerQueryHandlerTests.cs
Labels: application, tests, phase-2

feat: enhance combat logging with rich damage and HP state information
  GameManager.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Presentation/Presenters/GridPresenter.cs
Labels: application, phase-2

feat: implement HP bar live updates during damage
  GameManager.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
Labels: application, phase-2

docs: archive completed VS_010c dummy combat target
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat(VS_008/VS_010c): Complete enhanced combat system with live health updates (#18)
  .claude/settings.local.json
  .github/workflows/scheduled-maintenance.yml
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Infrastructure/Logging/GodotConsoleSink.cs
  Views/ActorView.cs
  Views/GridView.cs
  Views/HealthView.cs
  scripts/persona/embody.ps1
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Combat/Common/CombatScheduler.cs
  src/Application/Combat/Services/ICombatSchedulerService.cs
  src/Application/Combat/Services/InMemoryCombatSchedulerService.cs
  src/Presentation/Presenters/GridPresenter.cs
  tests/Application/Combat/Commands/ProcessNextTurnCommandHandlerTests.cs
  tests/Application/Combat/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Application/Combat/Queries/GetSchedulerQueryHandlerTests.cs
Labels: application, tests, ci/cd, documentation, automation, phase-2, phase-3

feat(extraction): complete knowledge extraction from 16 completed items
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/HANDBOOK.md
  Docs/06-PostMortems/Inbox/2025-09-08-backlog-extraction.md
  Docs/06-PostMortems/Inbox/2025-09-08-extraction-summary.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

docs: consolidate HANDBOOK.md and fix cross-references
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/PRODUCTION-PATTERNS.md
  Docs/03-Reference/README.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

feat(extraction): Complete knowledge extraction from 16 completed items (#19)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/PRODUCTION-PATTERNS.md
  Docs/03-Reference/README.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/test-specialist.md
  Docs/06-PostMortems/Inbox/2025-09-08-backlog-extraction.md
  Docs/06-PostMortems/Inbox/2025-09-08-extraction-summary.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat(devops): Zero-friction PR workflow automation
  scripts/git/pr-continue.ps1
  scripts/git/pr.ps1
  scripts/git/sync-core.psm1
  scripts/persona/embody.ps1
Labels: ci/cd, automation

feat(TD_012): Complete static callback elimination with event-driven architecture
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/06-PostMortems/Inbox/2025-09-08-ui-event-routing-failure.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.NotificationHandlers.cs
  GameManager.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Domain/Combat/ActorDamagedEvent.cs
  src/Domain/Combat/ActorDiedEvent.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Events/GameManagerEventRouter.cs
  tests/Domain/Combat/ActorEventsTests.cs
Labels: domain, application, infrastructure, tests, documentation, phase-1, phase-2, phase-3

fix(TD_012): Add missing final newline to ActorEventsTests.cs
  tests/Domain/Combat/ActorEventsTests.cs
Labels: tests, phase-1

feat(TD_012): Complete static callback elimination with event-driven architecture (#20)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/06-PostMortems/Inbox/2025-09-08-ui-event-routing-failure.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.NotificationHandlers.cs
  GameManager.cs
  scripts/git/pr-continue.ps1
  scripts/git/pr.ps1
  scripts/git/sync-core.psm1
  scripts/persona/embody.ps1
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Domain/Combat/ActorDamagedEvent.cs
  src/Domain/Combat/ActorDiedEvent.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Events/GameManagerEventRouter.cs
  tests/Domain/Combat/ActorEventsTests.cs
Labels: domain, application, infrastructure, tests, ci/cd, documentation, automation, phase-1, phase-2, phase-3

fix(devops): implement hard reset strategy for squash merge handling [TD_019]
  .husky/pre-push
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/README.md
  scripts/git/sync-core.psm1
Labels: ci/cd, documentation, automation

docs(backlog): archive completed TD_019 and create archive section
  Docs/01-Active/Backlog.md
Labels: documentation

fix(devops): implement hard reset strategy for squash merge handling [TD_019] (#21)
  .husky/pre-push
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/README.md
  scripts/git/sync-core.psm1
Labels: ci/cd, documentation, automation

feat(TD_017): UI Event Bus core contract [Phase 1/4]
  Docs/03-Reference/ADR/ADR-010-ui-event-bus-architecture.md
  src/Application/Events/IUIEventBus.cs
Labels: application, documentation, phase-2
