Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

docs: Improve ADR-006 with compile-time safety + expand VS_021 scope
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-006-data-driven-entity-design.md
Labels: documentation

feat(i18n): Implement i18n foundation (VS_021 Phase 1/5)
  CLAUDE.md
  project.godot
  translations/en.csv
Labels: documentation

feat(templates): Implement template infrastructure (VS_021 Phase 2/5)
  data/entities/.gitkeep
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Infrastructure/Templates/ActorTemplate.cs
  src/Darklands.Core/Infrastructure/Templates/GodotTemplateService.cs
  src/Darklands.Core/Infrastructure/Templates/IIdentifiableResource.cs
  src/Darklands.Core/Infrastructure/Templates/ITemplateService.cs
Labels: phase-2, phase-3

feat(templates): Create first template + integration test (VS_021 Phase 3/5)
  data/entities/player.tres
  translations/en.csv
Labels: none

feat(validation): Add template validation script (VS_021 Phase 4/5)
  .claude/settings.local.json
  .husky/pre-push
  scripts/validate-templates.ps1
Labels: ci/cd, automation

fix(architecture): Move templates to Presentation layer (VS_021 Phase 5/5)
  Infrastructure/Templates/ActorTemplate.cs
  Infrastructure/Templates/GodotTemplateService.cs
  data/entities/player.tres
  godot_project/scenes/Main.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Infrastructure/Templates/ITemplateService.cs
Labels: godot, phase-2, phase-3

docs(backlog): Mark VS_021 complete, unblock VS_020
  Docs/01-Active/Backlog.md
Labels: documentation

refactor(logging): Improve FOV/movement log informativeness
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetVisibleActorsQueryHandler.cs
Labels: phase-2

fix: Three critical bug fixes (terrain loading + FOV logging)
  Infrastructure/TileSetTerrainRepository.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetVisibleActorsQueryHandler.cs
Labels: phase-2, phase-3

fix(i18n): Use compiled translation file instead of CSV source
  project.godot
Labels: none

feat(logging): Add actor type enrichment to all Core logs
  Docs/01-Active/Backlog.md
  Docs/08-Learnings/WorldEngine/WorldEngine-Analysis.md
  Docs/08-Learnings/WorldEngine/WorldEngine-Implementation-Review.md
  Infrastructure/Logging/GodotConsoleSink.cs
  assets/micro-roguelike/test_terrain_tileset.tres
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ScheduleActorCommandHandler.cs
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetVisibleActorsQueryHandler.cs
  src/Darklands.Core/Features/Movement/Application/Commands/MoveAlongPathCommandHandler.cs
  src/Darklands.Core/Infrastructure/Logging/ActorIdLoggingExtensions.cs
  tests/I18nTest.cs
  tests/I18nTest.tscn
  tests/TemplateIntegrationTest.cs
  tests/TemplateIntegrationTest.tscn
  translations/en.csv.import
  translations/en.en.translation
Labels: tests, documentation, godot, phase-2, phase-3, phase-4

docs(backlog): Finalize VS_020 Phase 0 with component pattern architecture
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/TurnQueueTestScene.tscn
  src/Darklands.Core/Features/Combat/Application/Commands/ScheduleActorCommandHandler.cs
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetVisibleActorsQueryHandler.cs
Labels: documentation, godot, phase-2, phase-4

docs(backlog): Finalize VS_021 completion status with all commits
  Docs/01-Active/Backlog.md
Labels: documentation

chore: Archive VS_021 to Completed_Backlog_2025-10_Part2.md
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part2.md
Labels: documentation

fix(tests): Add missing IPlayerContext and ILogger parameters to test constructors
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/RemoveActorFromQueueCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/FakePlayerContext.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Queries/QueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Commands/MoveActorCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Queries/GetVisibleActorsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Movement/Application/Commands/MoveAlongPathCommandHandlerTests.cs
Labels: tests, phase-2

fix(hooks): Add test execution to pre-push hook to catch runtime failures
  .husky/pre-push
Labels: automation

feat(combat): VS_020 Phase 0 - Component Pattern Infrastructure
  Infrastructure/Templates/ActorTemplate.cs
  src/Darklands.Core/Application/Factories/ActorFactory.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Application/Repositories/IActorRepository.cs
  src/Darklands.Core/Domain/Common/Weapon.cs
  src/Darklands.Core/Domain/Components/HealthComponent.cs
  src/Darklands.Core/Domain/Components/IComponent.cs
  src/Darklands.Core/Domain/Components/IHealthComponent.cs
  src/Darklands.Core/Domain/Components/IWeaponComponent.cs
  src/Darklands.Core/Domain/Components/WeaponComponent.cs
  src/Darklands.Core/Domain/Entities/Actor.cs
  src/Darklands.Core/Infrastructure/Logging/ActorIdLoggingExtensions.cs
  src/Darklands.Core/Infrastructure/Repositories/InMemoryActorRepository.cs
Labels: phase-1, phase-2, phase-3

docs: Update VS_020 backlog with Phase 0 completion
  Docs/01-Active/Backlog.md
Labels: documentation

feat(combat): VS_020 Phase 2 - ExecuteAttackCommand Implementation
  src/Darklands.Core/Features/Combat/Application/Commands/ExecuteAttackCommand.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ExecuteAttackCommandHandler.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/ExecuteAttackCommandHandlerTests.cs
Labels: tests, phase-2

docs: Update VS_020 backlog with Phase 2 completion
  Docs/01-Active/Backlog.md
Labels: documentation

feat(combat): VS_020 Phase 3 - Line-of-Sight Validation for Ranged Attacks
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Combat/Application/Commands/ExecuteAttackCommandHandler.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/ExecuteAttackCommandHandlerTests.cs
Labels: tests, documentation, phase-2

feat(combat): VS_020 Phase 4 - Click-to-Attack Combat UI
  Docs/01-Active/Backlog.md
  data/entities/player.tres
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  translations/en.en.translation
Labels: documentation, godot

fix(combat): VS_020 - Death handling bug fix and completion
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part2.md
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ExecuteAttackCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Services/IActorPositionService.cs
Labels: documentation, godot, phase-2

fix(combat): TD_006 - Immediate death visuals + dynamic actor tracking
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ExecuteAttackCommandHandler.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/ExecuteAttackCommandHandlerTests.cs
Labels: tests, documentation, godot, phase-2

feat(combat): VS_020 - Basic Combat System (Attacks & Damage) (#97)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part2.md
  Infrastructure/Templates/ActorTemplate.cs
  data/entities/player.tres
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  src/Darklands.Core/Application/Factories/ActorFactory.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Application/Repositories/IActorRepository.cs
  src/Darklands.Core/Domain/Common/Weapon.cs
  src/Darklands.Core/Domain/Components/HealthComponent.cs
  src/Darklands.Core/Domain/Components/IComponent.cs
  src/Darklands.Core/Domain/Components/IHealthComponent.cs
  src/Darklands.Core/Domain/Components/IWeaponComponent.cs
  src/Darklands.Core/Domain/Components/WeaponComponent.cs
  src/Darklands.Core/Domain/Entities/Actor.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ExecuteAttackCommand.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ExecuteAttackCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Services/IActorPositionService.cs
  src/Darklands.Core/Infrastructure/Logging/ActorIdLoggingExtensions.cs
  src/Darklands.Core/Infrastructure/Repositories/InMemoryActorRepository.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/ExecuteAttackCommandHandlerTests.cs
  translations/en.en.translation
Labels: tests, documentation, godot, phase-1, phase-2, phase-3

docs: ADR-007 Native Library Integration + VS_019 Technical Breakdown
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/03-Reference/ADR/ADR-007-native-library-integration.md
Labels: documentation

feat(worldgen): TD_006 - Native Library Setup (plate-tectonics PInvoke)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  NATIVE_LIBRARIES.md
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/Interop/PlateSimulationHandle.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/Interop/PlateTectonicsNative.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativeLibraryLoader.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Native/PlateTectonicsIntegrationTests.cs
Labels: tests, documentation, phase-3

refactor(worldgen): Migrate TD_006 to LibraryImport (.NET 7+ standard)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-007-native-library-integration.md
  src/Darklands.Core/Darklands.Core.csproj
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/Interop/PlateTectonicsNative.cs
Labels: documentation, phase-3

feat(worldgen): TD_007 [Phase 2.1/4] - Foundation layer with marshaling
  src/Darklands.Core/Features/WorldGen/Application/Abstractions/IPlateSimulator.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationParams.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationResult.cs
  src/Darklands.Core/Features/WorldGen/Domain/BiomeType.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Native/PlateTectonicsIntegrationTests.cs
Labels: tests, phase-1, phase-2, phase-3

feat(worldgen): TD_007 [Phase 2.2/4] - Elevation post-processing algorithms
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/ElevationPostProcessorTests.cs
Labels: tests, phase-3

feat(worldgen): TD_007 [Phases 2.3-2.4/4] - Climate simulation + biome classification (COMPLETE)
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/BiomeClassifier.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/ClimateCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: phase-3

docs(backlog): TD_007 complete - Core WorldGen Infrastructure (4h actual, 6-8h estimate)
  Docs/01-Active/Backlog.md
Labels: documentation

docs(backlog): TD_007 - Add high-level implementation details (4 phases)
  Docs/01-Active/Backlog.md
Labels: documentation

feat(worldgen): TD_008 [Phase 3/4] - Godot WorldMap Visualization (WIP)
  godot_project/features/worldgen/WorldMapNode.cs
  godot_project/features/worldgen/WorldMapTestScene.tscn
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/WorldGen/Application/Commands/GenerateWorldCommand.cs
  src/Darklands.Core/Features/WorldGen/Application/Commands/GenerateWorldCommandHandler.cs
Labels: godot, phase-2, phase-3, phase-4

feat(worldgen): TD_008 Complete - Minimal tileset + scene ready for testing
  .claude/settings.local.json
  godot_project/assets/tilesets/worldgen/white_pixel.png
  godot_project/assets/tilesets/worldgen/white_pixel.png.import
  godot_project/assets/tilesets/worldgen/worldgen_tileset.tres
  godot_project/features/worldgen/WorldMapTestScene.tscn
Labels: godot, phase-4

docs(backlog): TD_008 complete - Godot WorldMap Visualization (2h actual, 3-4h estimate)
  Docs/01-Active/Backlog.md
Labels: documentation

fix(worldgen): Override IPlateSimulator registration with correct Godot project path
  godot_project/assets/tilesets/worldgen/worldgen_tileset.tres
  godot_project/features/worldgen/WorldMapTestScene.tscn
  godot_project/scenes/Main.cs
Labels: godot, phase-4

fix(worldgen): Add enhanced logging + document MSVC runtime dependency
  .claude/settings.local.json
  NATIVE_LIBRARIES.md
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
Labels: documentation, phase-3

fix(worldgen): Add DllImportResolver for custom native library search path
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/Interop/PlateTectonicsNative.cs
Labels: phase-3

wip(worldgen): TD_008 - World generation works, rendering needs debug
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapNode.cs
Labels: documentation, godot

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
