Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

feat(inventory): TD_004 Phase 1.1 - CalculateHighlightCellsQuery (Leak #1)
  src/Darklands.Core/Domain/Common/GridOffset.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CalculateHighlightCellsQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CalculateHighlightCellsQueryHandler.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CalculateHighlightCellsQueryHandlerTests.cs
Labels: tests, phase-1, phase-2

test(inventory): TD_004 - Fix CalculateHighlightCellsQuery tests (all GREEN)
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CalculateHighlightCellsQueryHandlerTests.cs
Labels: tests, phase-2

chore(backlog): Update TD_004 status - Leak #1 complete
  Docs/01-Active/Backlog.md
Labels: documentation

feat(inventory): TD_004 Leak #2 - GetOccupiedCellsQuery (all tests GREEN)
  src/Darklands.Core/Features/Inventory/Application/Queries/GetOccupiedCellsQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetOccupiedCellsQueryHandler.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetOccupiedCellsQueryHandlerTests.cs
Labels: tests, phase-2

feat(inventory): TD_004 Leak #3 - GetItemRenderPositionQuery (all tests GREEN)
  src/Darklands.Core/Features/Inventory/Application/Queries/GetItemRenderPositionQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandler.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandlerTests.cs
Labels: tests, phase-2

feat(inventory): TD_004 Leak #5 - SwapItemsCommand (all tests GREEN)
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommandHandler.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/SwapItemsCommandHandlerTests.cs
Labels: tests, phase-2

chore(backlog): TD_004 Phase 1 COMPLETE - All Core replacements ready
  Docs/01-Active/Backlog.md
Labels: documentation

refactor(inventory): TD_004 Phase 2.1 - Replace Leak #1 with CalculateHighlightCellsQuery
  Components/SpatialInventoryContainerNode.cs
Labels: none

refactor(inventory): TD_004 Phase 2.2 - Replace Leak #2 with GetOccupiedCellsQuery
  Components/SpatialInventoryContainerNode.cs
Labels: none

refactor(inventory): TD_004 Phase 2.3 - Replace Leak #3 with GetItemRenderPositionQuery
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): TD_004 Option B - Restore pixel-perfect equipment slot centering
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetItemRenderPositionQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandler.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandlerTests.cs
Labels: tests, phase-2

chore(backlog): TD_004 Phase 2 status update - 3/6 replacements + 1 regression
  Docs/01-Active/Backlog.md
Labels: documentation

fix(inventory): TD_004 - Revert Leak #5, restore working swap/move logic
  Components/SpatialInventoryContainerNode.cs
  Infrastructure/TileSetItemRepository.cs
  assets/inventory_ref/item_sprites.tres
Labels: phase-3

chore(backlog): TD_004 Phase 2 accurate status update
  Docs/01-Active/Backlog.md
Labels: documentation

fix(inventory): TD_004 Leak #5 - Fix SwapItemsCommand double-save bug
  .claude/settings.local.json
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommandHandler.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/SwapItemsCommandHandlerTests.cs
Labels: tests, phase-2

refactor(inventory): TD_004 Leaks #6 & #7 - Eliminate cache anti-pattern
  Components/SpatialInventoryContainerNode.cs
Labels: none

chore(backlog): TD_004 Phase 2 marked COMPLETE - All 7 leaks eliminated
  Docs/01-Active/Backlog.md
Labels: documentation

docs(TD_004): Phase 3 - SSOT principle documentation & archiving
  .claude/memory-bank/active/dev-engineer.md
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
Labels: documentation

TD_004 Phase 3: SSOT Principle Documentation & Archiving (#91)
  .claude/agents/backlog-assistant.md
  .claude/memory-bank/active/dev-engineer.md
  .claude/memory-bank/active/tech-lead.md
  .claude/settings.local.json
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  Infrastructure/TileSetItemRepository.cs
  assets/inventory_ref/item_sprites.tres
  src/Darklands.Core/Domain/Common/GridOffset.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CalculateHighlightCellsQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CalculateHighlightCellsQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetItemRenderPositionQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetOccupiedCellsQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetOccupiedCellsQueryHandler.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/SwapItemsCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CalculateHighlightCellsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetOccupiedCellsQueryHandlerTests.cs
Labels: tests, documentation, phase-1, phase-2, phase-3

docs(backlog): Ultra-refine TD_003 after TD_004 completion
  Docs/01-Active/Backlog.md
Labels: documentation

refactor(inventory): Create EquipmentSlotNode for reusability [TD_003 Phase 1/4]
  Components/Inventory/EquipmentSlotNode.cs
  Docs/01-Active/Backlog.md
  assets/inventory_ref/item_sprites.tres
  godot_project/test_scenes/SpatialInventoryTestController.cs
  godot_project/test_scenes/SpatialInventoryTestScene.tscn
Labels: documentation, godot, phase-4

fix(inventory): Enable weapon swap in EquipmentSlotNode [TD_003 Phase 1 bugfix]
  Components/Inventory/EquipmentSlotNode.cs
Labels: none

fix(inventory): Enable weapon swap with shape preservation [TD_003 Phase 1 complete]
  Components/Inventory/EquipmentSlotNode.cs
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommandHandler.cs
Labels: documentation, phase-2

refactor(inventory): Extract InventoryRenderHelper for DRY [TD_003 Phase 2/4]
  Components/Inventory/EquipmentSlotNode.cs
  Components/Inventory/InventoryRenderHelper.cs
  Docs/01-Active/Backlog.md
Labels: documentation

refactor(inventory): Remove equipment logic from InventoryContainerNode [TD_003 Phase 3/4]
  Components/Inventory/InventoryContainerNode.cs
  godot_project/test_scenes/SpatialInventoryTestController.cs
Labels: godot

docs(backlog): Update TD_003 Phase 3 completion (103 lines removed)
  Docs/01-Active/Backlog.md
Labels: documentation

chore: Archive TD_003 and cleanup duplicate component
  Components/EquipmentSlotNode.cs
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part2.md
Labels: documentation

docs(roadmap): Update VS_018 status and add Phase 2 TODOs
  Docs/02-Design/Game/Roadmap.md
Labels: documentation

feat(inventory): TD_003 - Separate Equipment Slots from Spatial Inventory (#92)
  Components/EquipmentSlotNode.cs
  Components/Inventory/EquipmentSlotNode.cs
  Components/Inventory/InventoryContainerNode.cs
  Components/Inventory/InventoryRenderHelper.cs
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part2.md
  assets/inventory_ref/item_sprites.tres
  godot_project/test_scenes/SpatialInventoryTestController.cs
  godot_project/test_scenes/SpatialInventoryTestScene.tscn
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommandHandler.cs
Labels: documentation, godot, phase-2, phase-4

docs(roadmap): Rewrite VS_007 as Time-Unit Turn Queue System + Add VS_011 Enemy AI
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
Labels: documentation

feat(combat): VS_007 Phase 1 - Time-Unit Turn Queue Domain [Phase 1/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Combat/Domain/ScheduledActor.cs
  src/Darklands.Core/Features/Combat/Domain/TimeUnits.cs
  src/Darklands.Core/Features/Combat/Domain/TurnQueue.cs
  tests/Darklands.Core.Tests/Features/Combat/Domain/TimeUnitsTests.cs
  tests/Darklands.Core.Tests/Features/Combat/Domain/TurnQueueTests.cs
Labels: tests, documentation, phase-1

feat(combat): VS_007 Phase 2 - Application Layer (Commands, Queries, Events) [Phase 2/4]
  data/shapes/rect_1x1.tres
  data/shapes/rect_1x2.tres
  data/shapes/rect_2x1.tres
  data/shapes/rect_2x2.tres
  data/shapes/rect_2x3.tres
  data/shapes/rect_3x2.tres
  data/shapes/test_l_shape.tres
  src/Darklands.Core/Features/Combat/Application/Commands/RemoveActorFromQueueCommand.cs
  src/Darklands.Core/Features/Combat/Application/Commands/RemoveActorFromQueueCommandHandler.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ScheduleActorCommand.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ScheduleActorCommandHandler.cs
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
  src/Darklands.Core/Features/Combat/Application/ITurnQueueRepository.cs
  src/Darklands.Core/Features/Combat/Application/Queries/IsActorScheduledQuery.cs
  src/Darklands.Core/Features/Combat/Application/Queries/IsActorScheduledQueryHandler.cs
  src/Darklands.Core/Features/Combat/Application/Queries/IsInCombatQuery.cs
  src/Darklands.Core/Features/Combat/Application/Queries/IsInCombatQueryHandler.cs
  src/Darklands.Core/Features/Combat/Domain/Events/TurnQueueChangeType.cs
  src/Darklands.Core/Features/Combat/Domain/Events/TurnQueueChangedEvent.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/RemoveActorFromQueueCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/FakeEventBus.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/FakeTurnQueueRepository.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Queries/QueryHandlerTests.cs
Labels: tests, phase-1, phase-2

docs(backlog): Update VS_007 Phase 2 progress
  Docs/01-Active/Backlog.md
Labels: documentation

fix(combat): Phase 2 build errors - API signature corrections
  src/Darklands.Core/Features/Combat/Application/Commands/RemoveActorFromQueueCommandHandler.cs
  src/Darklands.Core/Features/Combat/Application/Commands/ScheduleActorCommandHandler.cs
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Combat/Application/FakeEventBus.cs
Labels: tests, phase-2

feat(build): Add --filter parameter support to build script
  CLAUDE.md
  scripts/core/build.ps1
Labels: ci/cd, documentation, automation

fix(movement): Prevent race condition glitching during rapid click-to-move
  godot_project/test_scenes/GridTestSceneController.cs
Labels: godot

test(VS_007): Create dedicated Turn Queue test scene
  godot_project/test_scenes/TurnQueueTestScene.tscn
  godot_project/test_scenes/TurnQueueTestSceneController.cs
Labels: godot, phase-4

feat(VS_007): Phase 3 Infrastructure - Turn queue repository + Player context
  godot_project/test_scenes/TurnQueueTestScene.tscn
  src/Darklands.Core/Application/IPlayerContext.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
  src/Darklands.Core/Features/Combat/Infrastructure/InMemoryTurnQueueRepository.cs
  src/Darklands.Core/Infrastructure/PlayerContext.cs
Labels: godot, phase-2, phase-3, phase-4

docs(backlog): Update VS_007 Phase 3 completion
  Docs/01-Active/Backlog.md
Labels: documentation

feat(VS_007): Phase 4 Presentation - Combat mode input routing + test scene init
  godot_project/test_scenes/TurnQueueTestSceneController.cs
Labels: godot

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
