Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

feat(debug): Add runtime combat system toggle for TD_043 Strangler Fig testing
  DebugConfig.cs
  DebugSystem.cs
Labels: none

wip: TD_047 - Initial test harness structure (needs fixes)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  debug_config.tres
  tests/Infrastructure/Combat/CombatSystemValidationTests.cs
Labels: tests, documentation, godot, phase-3

feat(test): TD_047 - Combat validation test harness completed
  Docs/01-Active/Backlog.md
  tests/Infrastructure/Combat/CombatSystemValidationTests.cs
  tests/Infrastructure/Combat/SimpleCombatValidationTests.cs
Labels: tests, documentation, phase-3

docs: Update project state after TD_043/TD_047 completion
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
Labels: documentation

fix: Remove broken validation test files, restore clean build
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  tests/Infrastructure/Combat/CombatSwitchAdapterTests.cs
  tests/Infrastructure/Combat/CombatSystemValidationTests.cs
  tests/Infrastructure/Combat/SimpleCombatValidationTests.cs
Labels: tests, documentation, phase-3

fix(tactical): TD_048 - Restore logging to Tactical handlers
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Tactical/Application/Features/Combat/Attack/ExecuteAttackCommandHandler.cs
  src/Tactical/Application/Features/Combat/Scheduling/ProcessNextTurnCommandHandler.cs
Labels: documentation, phase-2

feat(backlog): BR_008 - CI build failure for Tactical projects logging
  Docs/01-Active/Backlog.md
Labels: documentation

fix(ci): BR_008 - Fix namespace resolution for Tactical bounded context
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

fix(ci): Add clean step to resolve build cache issues
  .github/workflows/ci-auto-fix.yml
  Docs/07-Archive/README.md
  Docs/07-Archive/extraction-queue.md
Labels: ci/cd, documentation

fix(tactical): TD_048 - Restore logging to Tactical handlers (#50)
  .claude/settings.local.json
  .github/workflows/ci-auto-fix.yml
  Docs/01-Active/Backlog.md
  Docs/07-Archive/README.md
  Docs/07-Archive/extraction-queue.md
  src/Tactical/Application/Features/Combat/Attack/ExecuteAttackCommandHandler.cs
  src/Tactical/Application/Features/Combat/Scheduling/ProcessNextTurnCommandHandler.cs
Labels: ci/cd, documentation, phase-2

feat(architecture): Add ADR-018 for Godot DI lifecycle alignment
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-018-godot-di-lifecycle-alignment.md
  Docs/03-Reference/ADR/README.md
  tmp.md
Labels: documentation

fix(adr-018): Address PR review feedback
  Docs/03-Reference/ADR/ADR-018-godot-di-lifecycle-alignment.md
  tmp.md
Labels: documentation

feat(architecture): ADR-018 Godot DI Lifecycle Alignment and Tactical Logging Fixes (#51)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-018-godot-di-lifecycle-alignment.md
  Docs/03-Reference/ADR/README.md
  tmp.md
Labels: documentation

feat(vision): Replace double math with Fixed-point for cross-platform determinism
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Domain/Vision/ShadowcastingFOV.cs
  src/Tactical/Application/Features/Combat/Attack/ExecuteAttackCommandHandler.cs
  src/Tactical/Application/Features/Combat/Scheduling/ProcessNextTurnCommandHandler.cs
  tests/Domain/Vision/ShadowcastingFOVDeterminismTests.cs
Labels: domain, tests, documentation, phase-1, phase-2

docs(backlog): Archive completed TD_051 FOV determinism fix
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat(vision): Replace double math with Fixed-point for cross-platform determinism (#53)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  src/Domain/Vision/ShadowcastingFOV.cs
  src/Tactical/Application/Features/Combat/Attack/ExecuteAttackCommandHandler.cs
  src/Tactical/Application/Features/Combat/Scheduling/ProcessNextTurnCommandHandler.cs
  tests/Domain/Vision/ShadowcastingFOVDeterminismTests.cs
Labels: domain, tests, documentation, phase-1, phase-2

fix: Configure MediatR v13 license key to resolve PR #52 licensing issue
  .claude/settings.local.json
  SharedKernel/Darklands.SharedKernel.csproj
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, phase-3

fix: Secure MediatR v13 configuration and upgrade Microsoft.Extensions packages
  src/Darklands.Core.csproj
  src/Diagnostics/Darklands.Diagnostics.Domain.csproj
  src/Diagnostics/Darklands.Diagnostics.Infrastructure.csproj
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Tactical/Darklands.Tactical.Application.csproj
  src/Tactical/Darklands.Tactical.Infrastructure.csproj
Labels: infrastructure, phase-3

fix: Secure MediatR v13 configuration and complete Dependabot PR #52 upgrades (#54)
  .claude/settings.local.json
  SharedKernel/Darklands.SharedKernel.csproj
  src/Darklands.Core.csproj
  src/Diagnostics/Darklands.Diagnostics.Domain.csproj
  src/Diagnostics/Darklands.Diagnostics.Infrastructure.csproj
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Tactical/Darklands.Tactical.Application.csproj
  src/Tactical/Darklands.Tactical.Infrastructure.csproj
Labels: infrastructure, phase-3

fix(tactical): TD_050 - Remove Task.Run violations from turn loop and presenters
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Views/GridView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  tests/Architecture/ArchitectureTests.cs
Labels: tests, documentation

fix(tactical): TD_050 - Remove Task.Run violations from turn loop and presenters (#57)
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Views/GridView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  tests/Architecture/ArchitectureTests.cs
Labels: tests, documentation

feat(td-052): Core Infrastructure with Mandatory Improvements [Phase 1/3]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Presentation/Infrastructure/GodotScopeManager.cs
  Presentation/Infrastructure/NodeServiceExtensions.cs
  Presentation/Infrastructure/ServiceCollectionExtensions.cs
  ServiceLocator.cs
  src/Core/Domain/Services/IScopeManager.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/DependencyInjection/StubScopeManager.cs
Labels: infrastructure, documentation, phase-1, phase-3

feat(lifecycle): TD_052 Phase 2 - Service Migration for DI Lifecycle Alignment
  Docs/01-Active/Backlog.md
  Presentation/SceneManager.cs
  Presentation/UI/EventAwareNode.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, documentation, phase-3

fix(lifecycle): TD_052 Phase 2 - Fix ServiceLocator autoload and MVP scoped services
  Docs/01-Active/Backlog.md
  GameManager.cs
  project.godot
Labels: documentation

feat(architecture): Complete TD_052 Phase 3 - Comprehensive Scope Lifecycle Testing & Validation
  Docs/01-Active/Backlog.md
  debug_config.tres
  src/Infrastructure/DependencyInjection/ScopeDebugExtensions.cs
  tests/Infrastructure/DependencyInjection/MediatRHandlerRegistrationTests.cs
  tests/Infrastructure/DependencyInjection/ScopeLifecycleIntegrationTests.cs
Labels: infrastructure, tests, documentation, godot, phase-3

docs(architecture): Complete TD_052 documentation and backlog archival
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-018-godot-di-lifecycle-alignment.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat(architecture): Implement Godot DI Lifecycle Alignment (ADR-018) - Production-Ready Scope Management (#58)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-018-godot-di-lifecycle-alignment.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Presentation/Infrastructure/GodotScopeManager.cs
  Presentation/Infrastructure/NodeServiceExtensions.cs
  Presentation/Infrastructure/ServiceCollectionExtensions.cs
  Presentation/SceneManager.cs
  Presentation/UI/EventAwareNode.cs
  ServiceLocator.cs
  debug_config.tres
  project.godot
  src/Core/Domain/Services/IScopeManager.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/DependencyInjection/ScopeDebugExtensions.cs
  src/Infrastructure/DependencyInjection/StubScopeManager.cs
  tests/Infrastructure/DependencyInjection/MediatRHandlerRegistrationTests.cs
  tests/Infrastructure/DependencyInjection/ScopeLifecycleIntegrationTests.cs
Labels: infrastructure, tests, documentation, godot, phase-1, phase-3

feat(architecture): Clean Architecture foundation with critical fixes plan
  Darklands.csproj
  Darklands.sln
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-018-godot-di-lifecycle-alignment.md
  Presentation/Infrastructure/GodotScopeManager.cs
  Presentation/Infrastructure/NodeServiceExtensions.cs
  Scenes/combat_scene.tscn
  ServiceLocator.cs
  src/Core/Domain/Services/IScopeManager.cs
  src/Infrastructure/DependencyInjection/StubScopeManager.cs
Labels: infrastructure, documentation, phase-1, phase-3, phase-4

docs(architecture): ADR-019 - .csproj-Enforced Clean Architecture
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-019-csproj-enforced-clean-architecture.md
  GameManager.cs
  Views/GridView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  tmp.md
Labels: documentation

docs: Archive Clean Architecture analysis documents
  Docs/07-Archive/ArchitectureReview_CleanArchitecture_2025-09-15.md
  Docs/07-Archive/CleanArchitecture_Review_Report.md
Labels: documentation

feat(architecture): Complete TD_040 Fixed-point determinism implementation
  Docs/01-Active/Backlog.md
  src/Domain/Determinism/Fixed.cs
  src/Domain/Vision/ShadowcastingFOV.cs
Labels: domain, documentation, phase-1

feat(infrastructure): Complete TD_041 DI Lifecycle Management implementation
  Docs/01-Active/Backlog.md
  GameManager.cs
  Presentation/UI/EventAwareNode.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, documentation, phase-3

docs: Add TD_042 for replacing over-engineered DDD main with focused implementation
  Docs/01-Active/Backlog.md
Labels: documentation

docs(architecture): Complete ADR consistency review for MVP-enforced project separation
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/01-Active/TD_046_Migration_Plan.md
  Docs/03-Reference/ADR/ADR-001-strict-model-view-separation.md
  Docs/03-Reference/ADR/ADR-010-ui-event-bus-architecture.md
  Docs/03-Reference/ADR/ADR-011-godot-resource-bridge-pattern.md
  Docs/03-Reference/ADR/ADR-015-namespace-organization-strategy.md
  Docs/03-Reference/ADR/ADR-018-godot-di-lifecycle-alignment.md
  Docs/03-Reference/ADR/ADR-019-csproj-enforced-clean-architecture.md
  Docs/03-Reference/ADR/ADR-020-feature-based-vsa-organization.md
  Docs/03-Reference/ADR/ADR-021-minimal-project-separation.md
  Docs/03-Reference/ADR/README.md
  Docs/07-Archive/Completed_Backlog.md
  tmp.md
Labels: documentation

fix(build): Update pre-push hook for new project structure
  .husky/pre-push
Labels: automation

fix: Add ServiceLocator autoload and update architecture tests for TD_046
  Docs/01-Active/Backlog.md
  project.godot
  tests/Architecture/AdrComplianceTests.cs
  tests/Architecture/ArchitectureTests.cs
  tests/Architecture/NetArchitectureTests.cs
  tests/Infrastructure/DependencyInjection/MediatRHandlerRegistrationTests.cs
Labels: tests, documentation, phase-3

fix: Add ServiceLocator autoload and update architecture tests for TD_046
  GodotIntegration/EventBus/UIDispatcher.cs
  Views/GridView.cs
  src/Darklands.Presentation/DI/ServiceConfiguration.cs
  src/Darklands.Presentation/Presenters/ActorPresenter.cs
  src/Darklands.Presentation/Presenters/AttackPresenter.cs
  src/Darklands.Presentation/Presenters/GridPresenter.cs
  src/Darklands.Presentation/Presenters/IActorPresenter.cs
  src/Darklands.Presentation/Presenters/IAttackPresenter.cs
  src/Darklands.Presentation/Presenters/IGridPresenter.cs
  src/Infrastructure/Services/MockInputService.cs
  tmp.md
Labels: infrastructure, documentation, phase-3

docs: Update backlog with TD_046 implementation completion details
  Docs/01-Active/Backlog.md
Labels: documentation

fix: Configure autoloads in project.godot to fix initialization order
  AUTOLOAD_SETUP.md
  GodotIntegration/Core/GameManager.cs
  Scenes/combat_scene.tscn
  project.godot
  tmp.md
Labels: documentation, phase-4

fix: Restore main_scene to fix Godot startup error
  GodotIntegration/Core/GameManager.cs
  project.godot
Labels: none
