Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

fix(VS_007): Prevent null reference when changing destination during movement
  godot_project/test_scenes/TurnQueueTestSceneController.cs
Labels: godot

fix(VS_007): Fix async race condition in CancelMovementAsync
  godot_project/test_scenes/TurnQueueTestSceneController.cs
Labels: godot

fix(VS_007): Fix path preview disappearing during auto-movement
  godot_project/test_scenes/TurnQueueTestSceneController.cs
Labels: godot

docs(backlog): VS_007 ALL PHASES COMPLETE - ready for manual testing
  Docs/01-Active/Backlog.md
Labels: documentation

fix(VS_007): Implement dual publishing for FOVCalculatedEvent
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
Labels: phase-2

fix(VS_007): Auto-cancel exploration movement when combat starts
  src/Darklands.Core/Features/Movement/Application/Commands/MoveAlongPathCommandHandler.cs
Labels: phase-2

fix(VS_007): Fix FOV radius mismatch and combat movement path indexing
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
Labels: godot, phase-2

docs(backlog): VS_007 COMPLETE ✅ - Manual testing passed, follow-up issues captured
  Docs/01-Active/Backlog.md
Labels: documentation

fix(VS_007): Vision radius constant + FOV-based combat exit
  .claude/settings.local.json
  src/Darklands.Core/Features/Combat/Application/EventHandlers/CombatEndDetectionEventHandler.cs
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
  src/Darklands.Core/Features/Combat/Application/Queries/GetTurnQueueStateQuery.cs
  src/Darklands.Core/Features/Combat/Application/Queries/GetTurnQueueStateQueryHandler.cs
  src/Darklands.Core/Features/Combat/Application/Queries/TurnQueueStateDto.cs
  src/Darklands.Core/Features/Combat/Domain/TurnQueue.cs
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  src/Darklands.Core/Features/Grid/Domain/VisionConstants.cs
Labels: phase-1, phase-2

feat(VS_007): Movement cost implementation + window size fix
  project.godot
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Commands/MoveActorCommandHandlerTests.cs
Labels: tests, phase-2

refactor(VS_007): Change movement cost from 100 to 10
  src/Darklands.Core/Features/Combat/Domain/TimeUnits.cs
  tests/Darklands.Core.Tests/Features/Combat/Domain/TimeUnitsTests.cs
Labels: tests, phase-1

refactor(logs): Remove emojis and clean TimeUnits formatting
  src/Darklands.Core/Features/Combat/Application/EventHandlers/CombatEndDetectionEventHandler.cs
  src/Darklands.Core/Features/Combat/Application/EventHandlers/EnemyDetectionEventHandler.cs
  src/Darklands.Core/Features/Combat/Domain/TimeUnits.cs
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  tests/Darklands.Core.Tests/Features/Combat/Domain/TimeUnitsTests.cs
Labels: tests, phase-1, phase-2

docs(memory-bank): Add production log formatting guidelines
  .claude/memory-bank/active/dev-engineer.md
Labels: documentation

feat(logs): Remove remaining emojis + add Gruvbox semantic highlighting
  Infrastructure/Logging/GodotConsoleSink.cs
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  src/Darklands.Core/Features/Movement/Application/Commands/MoveAlongPathCommandHandler.cs
Labels: godot, phase-2, phase-3

docs(backlog): Mark VS_007 follow-ups complete + session summary
  Docs/01-Active/Backlog.md
  Infrastructure/Logging/GodotConsoleSink.cs
Labels: documentation, phase-3

docs(backlog): Archive VS_007 + Tech Lead architectural review
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part2.md
Labels: documentation

fix(devops): Resolve double-stash bug in embody sync after PR merge
  scripts/git/sync-core.psm1
  scripts/persona/embody.ps1
Labels: ci/cd, automation

docs(devops): Add memory bank with sync bug post-mortem
  .claude/memory-bank/active/devops-engineer.md
Labels: documentation

feat(planning): Add VS_019 TileSet visuals, VS_020 Combat, VS_021 i18n to backlog
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
Labels: documentation

feat(terrain): Add wall autotiling configuration for micro-roguelike tileset
  Docs/01-Active/Backlog.md
  assets/grid_tileset.tres
  assets/micro-roguelike/Sample.png
  assets/micro-roguelike/Sample.png.import
  assets/micro-roguelike/test_terrain_tileset.tres
  godot_project/test_scenes/GridTestScene.tscn
  godot_project/test_scenes/TerrainTileSet.tscn
  godot_project/test_scenes/TurnQueueTestScene.tscn
  project.godot
  src/Darklands.Core/Features/Grid/Domain/TerrainId.cs
Labels: documentation, godot, phase-1, phase-4

feat(planning): Promote VS_019 PCG from optional to primary scope
  Docs/01-Active/Backlog.md
  assets/micro-roguelike/test_terrain_tileset.tres
  godot_project/test_scenes/TerrainTileSet.tscn
Labels: documentation, godot, phase-4

feat(terrain): Add tree tile and actor TileSet for VS_019
  Docs/01-Active/Backlog.md
  assets/micro-roguelike/test_actor_tileset.tres
  assets/micro-roguelike/test_terrain_tileset.tres
Labels: documentation

feat(terrain): Refactor TerrainType enum to data-driven TerrainDefinition pattern [VS_019 Phase 1]
  godot_project/test_scenes/GridTestSceneController.cs
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/Grid/Application/Commands/SetTerrainCommand.cs
  src/Darklands.Core/Features/Grid/Application/Commands/SetTerrainCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/ITerrainRepository.cs
  src/Darklands.Core/Features/Grid/Domain/GridMap.cs
  src/Darklands.Core/Features/Grid/Domain/TerrainDefinition.cs
  src/Darklands.Core/Features/Grid/Domain/TerrainType.cs
  src/Darklands.Core/Features/Grid/Infrastructure/Repositories/StubTerrainRepository.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Commands/MoveActorCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Queries/CalculateFOVQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Domain/GridMapTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Domain/TerrainTypeTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Infrastructure/ShadowcastingFOVServiceTests.cs
Labels: tests, godot, phase-1, phase-2, phase-3

docs(backlog): Update VS_019 Phase 1 completion status
  Docs/01-Active/Backlog.md
Labels: documentation

feat(terrain): Implement TileSetTerrainRepository with TileSet auto-discovery [VS_019 Phase 2]
  Infrastructure/TileSetTerrainRepository.cs
  godot_project/scenes/Main.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
Labels: godot, phase-2, phase-3

docs(backlog): Update VS_019 Phase 2 completion status
  Docs/01-Active/Backlog.md
Labels: documentation

fix(terrain): Configure wall_stone terrain with correct custom data properties
  .claude/settings.local.json
  assets/micro-roguelike/test_terrain_tileset.tres
  godot_project/test_scenes/GridTestSceneController.cs
Labels: godot

feat(rendering): Add TileMapLayer terrain rendering with pixel art tiles [VS_019 Phase 3]
  assets/micro-roguelike/test_terrain_tileset.tres
  godot_project/test_scenes/GridTestSceneController.cs
Labels: godot

docs(backlog): Update VS_019 Phase 3 completion status
  Docs/01-Active/Backlog.md
  project.godot
Labels: documentation

fix(rendering): Fix TileMapLayer rendering + fog overlay for dark tiles [VS_019 Phase 3]
  Docs/01-Active/Backlog.md
  assets/micro-roguelike/test_terrain_tileset.tres
  godot_project/test_scenes/GridTestScene.tscn
  godot_project/test_scenes/GridTestSceneController.cs
Labels: documentation, godot, phase-4

feat(rendering): Implement actor Sprite2D rendering with smooth movement [VS_019 Phase 4]
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/GridTestScene.tscn
  godot_project/test_scenes/GridTestSceneController.cs
Labels: documentation, godot, phase-4

docs(backlog): Mark VS_019 complete, add autotiling follow-up task
  Docs/01-Active/Backlog.md
Labels: documentation

fix(rendering): Implement manual wall tiling for symmetric bitmask edges [VS_019_FOLLOWUP]
  godot_project/test_scenes/GridTestSceneController.cs
Labels: godot

docs(backlog): Mark VS_019_FOLLOWUP complete - manual wall tiling
  Docs/01-Active/Backlog.md
Labels: documentation

docs(backlog): Add TD_006 - Godot terrain autotiling root cause investigation
  Docs/01-Active/Backlog.md
Labels: documentation

docs(backlog): Archive VS_019 and VS_019_FOLLOWUP to completed items
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part2.md
Labels: documentation

VS_019: TileSet-Based Visual Scene + Terrain Catalog SSOT (#94)
  .claude/memory-bank/active/devops-engineer.md
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part2.md
  Infrastructure/TileSetTerrainRepository.cs
  assets/grid_tileset.tres
  assets/micro-roguelike/Sample.png
  assets/micro-roguelike/Sample.png.import
  assets/micro-roguelike/test_actor_tileset.tres
  assets/micro-roguelike/test_terrain_tileset.tres
  godot_project/scenes/Main.cs
  godot_project/test_scenes/GridTestScene.tscn
  godot_project/test_scenes/GridTestSceneController.cs
  godot_project/test_scenes/TerrainTileSet.tscn
  godot_project/test_scenes/TurnQueueTestScene.tscn
  godot_project/test_scenes/TurnQueueTestSceneController.cs
  project.godot
  scripts/git/sync-core.psm1
  scripts/persona/embody.ps1
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/Grid/Application/Commands/SetTerrainCommand.cs
  src/Darklands.Core/Features/Grid/Application/Commands/SetTerrainCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/ITerrainRepository.cs
  src/Darklands.Core/Features/Grid/Domain/GridMap.cs
  src/Darklands.Core/Features/Grid/Domain/TerrainDefinition.cs
  src/Darklands.Core/Features/Grid/Domain/TerrainId.cs
  src/Darklands.Core/Features/Grid/Domain/TerrainType.cs
  src/Darklands.Core/Features/Grid/Infrastructure/Repositories/StubTerrainRepository.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Commands/MoveActorCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Queries/CalculateFOVQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Domain/GridMapTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Domain/TerrainTypeTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Infrastructure/ShadowcastingFOVServiceTests.cs
Labels: tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

docs(backlog): Remove TD_006 (autotiling investigation)
  Docs/01-Active/Backlog.md
Labels: documentation

test: Add wall and floor test sprites for autotiling experiments
  assets/floor_test.png
  assets/floor_test.png.import
  assets/tall_wall_test.png
  assets/tall_wall_test.png.import
  assets/thick_wall_test.png
  assets/thick_wall_test.png.import
  assets/wall_test.png
  assets/wall_test.png.import
Labels: none

docs: Add ADR-005 (i18n) and ADR-006 (data-driven) with comprehensive architecture guidance
  CLAUDE.md
  Docs/03-Reference/ADR/ADR-005-internationalization-architecture.md
  Docs/03-Reference/ADR/ADR-006-data-driven-entity-design.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
Labels: documentation
