Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

feat(ui): Consolidate HealthView into ActorView following ADR-016 (#44)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-016-embrace-engine-scene-graph.md
  Docs/03-Reference/ADR/README.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.NotificationHandlers.cs
  GameManager.cs
  Views/ActorView.cs
  Views/HealthView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
  src/Presentation/Views/IActorView.cs
  src/Presentation/Views/IHealthView.cs
Labels: documentation

feat(debug): Complete TD_036 global debug system with runtime controls
  DebugConfig.cs
  DebugSystem.cs
  DebugWindow.cs
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  GodotCategoryLogger.cs
  debug_config.tres
  project.godot
  src/Domain/Debug/ICategoryLogger.cs
  src/Domain/Debug/IDebugConfiguration.cs
  src/Domain/Debug/LogCategory.cs
  src/Domain/Debug/LogLevel.cs
  src/Infrastructure/Debug/CategoryFilteredLogger.cs
Labels: domain, infrastructure, documentation, godot, phase-1, phase-3

docs: create TD_035, TD_036, and VS_014 in backlog
  Docs/01-Active/Backlog.md
Labels: documentation

style: Fix formatting issues after auto-formatting
  DebugConfig.cs
  DebugSystem.cs
  DebugWindow.cs
  GodotCategoryLogger.cs
  Views/ActorView.cs
  Views/GridView.cs
Labels: none

feat/td 036 debug system (#45)
  DebugConfig.cs
  DebugSystem.cs
  DebugWindow.cs
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  GodotCategoryLogger.cs
  Views/ActorView.cs
  Views/GridView.cs
  debug_config.tres
  project.godot
  src/Domain/Debug/ICategoryLogger.cs
  src/Domain/Debug/IDebugConfiguration.cs
  src/Domain/Debug/LogCategory.cs
  src/Domain/Debug/LogLevel.cs
  src/Infrastructure/Debug/CategoryFilteredLogger.cs
Labels: domain, infrastructure, documentation, godot, phase-1, phase-3

fix(logging): Fix BR_005 - Debug log level filtering now works correctly
  .claude/settings.local.json
  DebugSystem.cs
  Docs/01-Active/Backlog.md
  GodotCategoryLogger.cs
  Views/GridView.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, documentation, phase-3

chore: Complete BR_005 lifecycle - archive and cleanup
  Docs/01-Active/Backlog.md
  Docs/06-PostMortems/Inbox/2025-09-11-br005-log-level-filtering.md
  Docs/07-Archive/Completed_Backlog.md
  Scenes/combat_scene.tscn
Labels: documentation, phase-4

fix(debug): ensure initial log level respects DebugConfig instead of hardcoded Development level
  DebugConfig.cs
  DebugSystem.cs
  DebugWindow.cs
  GameManager.cs
  debug_config.tres
Labels: godot

fix(logging): correct log levels and categories for consistent logging standards
  DebugSystem.cs
  DebugWindow.cs
Labels: none

fix(logging): eliminate redundant tile click and move messages
  Views/GridView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
Labels: none

feat(logging): add Gameplay LogCategory for fine-grained actor movement filtering
  DebugConfig.cs
  GodotCategoryLogger.cs
  Views/ActorView.cs
  src/Domain/Debug/LogCategory.cs
  src/Infrastructure/Debug/CategoryFilteredLogger.cs
Labels: domain, infrastructure, phase-1, phase-3

fix(logging): correct Gameplay category string format parameters
  Views/ActorView.cs
Labels: none

fix(logging): restore actor movement messages with consistent Serilog format
  GodotCategoryLogger.cs
  debug_config.tres
Labels: godot

fix(logging): Standardize log format to use consistent abbreviations
  GodotCategoryLogger.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, phase-3

feat(logging): Add rich text color formatting to Godot console logs
  GameManager.cs
  GodotCategoryLogger.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, phase-3

feat(logging): Complete logger system unification and create ADR-007
  .claude/settings.local.json
  DebugConfig.cs
  DebugSystem.cs
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-007-unified-logger-architecture.md
  Docs/06-PostMortems/Inbox/2025-09-11-br006-overengineered-logging-architecture.md
  GameManager.NotificationHandlers.cs
  GameManager.cs
  Infrastructure/Logging/UnifiedLogger.cs
  Views/ActorView.cs
  Views/GridView.cs
  debug_config.tres
  src/Application/Actor/Commands/DamageActorCommandHandler.cs
  src/Application/Actor/Commands/HealActorCommandHandler.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Combat/Commands/ProcessNextTurnCommandHandler.cs
  src/Application/Combat/Commands/ScheduleActorCommandHandler.cs
  src/Application/Combat/Coordination/GameLoopCoordinator.cs
  src/Application/Combat/Queries/GetSchedulerQueryHandler.cs
  src/Application/Common/ActorFactory.cs
  src/Application/Events/UIEventForwarder.cs
  src/Application/Grid/Commands/MoveActorCommandHandler.cs
  src/Application/Grid/Commands/SpawnDummyCommandHandler.cs
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Application/Grid/Queries/GetGridStateQueryHandler.cs
  src/Application/Grid/Queries/ValidateMovementQueryHandler.cs
  src/Application/Vision/Commands/CalculateFOVConsoleCommandHandler.cs
  src/Application/Vision/Commands/VisionPerformanceConsoleCommandHandler.cs
  src/Application/Vision/Queries/CalculateFOVQueryHandler.cs
  src/Application/Vision/Services/InMemoryVisionStateService.cs
  src/Infrastructure/Debug/CategoryFilteredLogger.cs
  src/Infrastructure/Debug/DefaultDebugConfiguration.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Events/UIEventBus.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerTests.cs
  tests/Application/Combat/Coordination/GameLoopCoordinatorTests.cs
  tests/Application/Grid/Commands/SpawnDummyCommandHandlerTests.cs
Labels: application, infrastructure, tests, documentation, godot, phase-2, phase-3

feat(logging): Fix critical TD_038 implementation issues and complete logger unification
  DebugSystem.cs
  GameManager.cs
  Infrastructure/Logging/GodotConsoleOutput.cs
  Infrastructure/Logging/UnifiedLogger.cs
  Presentation/UI/EventAwareNode.cs
  debug_config.tres
  src/Infrastructure/Debug/CategoryFilteredLogger.cs
  src/Infrastructure/DependencyInjection/ErrorHandlingBehavior.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/DependencyInjection/LoggingBehavior.cs
  src/Infrastructure/Logging/CategoryLoggerAdapter.cs
  src/Infrastructure/Logging/CompositeLogOutput.cs
  src/Infrastructure/Logging/FileLogOutput.cs
  src/Infrastructure/Logging/ILogOutput.cs
  src/Infrastructure/Logging/LogCategory.cs
  src/Infrastructure/Logging/TestConsoleOutput.cs
  src/Infrastructure/Logging/UnifiedCategoryLogger.cs
  tests/Infrastructure/DependencyInjection/DependencyResolutionTests.cs
  tests/Infrastructure/Events/DIContainerIntegrationTests.cs
Labels: infrastructure, tests, godot, phase-3

feat(logging): Complete logger system polish and add visual highlighting
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-007-unified-logger-architecture.md
  Infrastructure/Logging/GodotConsoleOutput.cs
  Views/ActorView.cs
  src/Application/Grid/Commands/MoveActorCommandHandler.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Logging/UnifiedCategoryLogger.cs
Labels: application, infrastructure, documentation, phase-2, phase-3

fix: Resolve TD_038 logger system test failures and Forest terrain visual bug
  .claude/settings.local.json
  Views/GridView.cs
  tests/Application/Actor/Commands/DamageActorCommandHandlerTests.cs
  tests/Application/Actor/Commands/HealActorCommandHandlerTests.cs
  tests/Application/Combat/Commands/ProcessNextTurnCommandHandlerTests.cs
  tests/Application/Combat/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Application/Combat/Queries/GetSchedulerQueryHandlerTests.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
  tests/TestUtilities/NullCategoryLogger.cs
Labels: tests, phase-2

fix: Resolve BR_007 concurrent collection access error in actor display system
  Docs/01-Active/Backlog.md
  Docs/03-Reference/HANDBOOK.md
  Docs/06-PostMortems/Inbox/2025-09-12-br007-concurrent-collection-error.md
  Docs/07-Archive/Completed_Backlog.md
  Views/ActorView.cs
  tests/Presentation/Views/ActorViewConcurrencyTests.cs
Labels: tests, documentation

fix: Replace meaningless NSubstitute test with real ConcurrentDictionary concurrency tests
  tests/Application/ActorViewConcurrencyTests.cs
  tests/Presentation/Views/ActorViewConcurrencyTests.cs
Labels: tests, phase-2

fix: Resolve BR_007 concurrent collection access error in actor display system (#47)
  Docs/01-Active/Backlog.md
  Docs/03-Reference/HANDBOOK.md
  Docs/06-PostMortems/Inbox/2025-09-12-br007-concurrent-collection-error.md
  Docs/07-Archive/Completed_Backlog.md
  Views/ActorView.cs
  tests/Application/ActorViewConcurrencyTests.cs
Labels: tests, documentation, phase-2

feat(architecture): Add DDD bounded contexts with assembly boundaries
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-017-ddd-bounded-contexts-architecture.md
  Docs/03-Reference/ADR/README.md
  src/Application/Combat/Coordination/GameLoopCoordinator.cs
  src/Application/Common/ActorFactory.cs
  src/Application/Events/UIEventForwarder.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  tests/Architecture/NetArchitectureTests.cs
  tmp.md
Labels: application, tests, documentation, phase-2

feat(architecture): Enhance ADR-017 with pragmatic DDD patterns and phased implementation
  .gitignore
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/03-Reference/ADR/ADR-017-ddd-bounded-contexts-architecture.md
  Docs/03-Reference/ADR/ADR-017-enhancements-from-modular-monolith.md
  Docs/03-Reference/DDD-Feature-Implementation-Protocol.md
  Docs/08-Learning/2025-09-12-ddd-bounded-contexts-patterns.md
  Docs/08-Learning/namespace-collision-solution.md
Labels: documentation

fix(architecture): Resolve critical ADR design issues and contradictions
  Docs/01-Active/CurrentImplementationStatus.md
  Docs/03-Reference/ADR/ADR-006-selective-abstraction-strategy.md
  Docs/03-Reference/ADR/ADR-010-ui-event-bus-architecture.md
  Docs/03-Reference/ADR/ADR-017-ddd-bounded-contexts-architecture.md
  Docs/03-Reference/HANDBOOK.md
  tmp.md
Labels: documentation

refactor(architecture): Redesign DDD migration as true Strangler Fig pattern
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Application/Vision/Commands/VisionPerformanceConsoleCommandHandler.cs
  src/Application/Vision/Services/IVisionPerformanceMonitor.cs
  tests/Architecture/NetArchitectureTests.cs
Labels: application, tests, documentation, phase-2

feat(arch): TD_041 - Strangler Fig Phase 0 foundation layer
  .claude/settings.local.json
  Contracts/Darklands.Diagnostics.Contracts.csproj
  Contracts/Darklands.Platform.Contracts.csproj
  Contracts/Darklands.Tactical.Contracts.csproj
  Darklands.Architecture.Tests/Darklands.Architecture.Tests.csproj
  Darklands.Architecture.Tests/ModuleIsolationTests.cs
  Darklands.csproj
  Docs/01-Active/Backlog.md
  SharedKernel/Contracts/IContractEvent.cs
  SharedKernel/Darklands.SharedKernel.csproj
  SharedKernel/Domain/EntityId.cs
  SharedKernel/Domain/IBusinessRule.cs
  SharedKernel/Domain/IDomainEvent.cs
Labels: documentation, phase-1

feat(architecture): Implement TD_042 Strangler Fig Phase 1 - core pattern established
  Contracts/Darklands.Diagnostics.Contracts/Darklands.Diagnostics.Contracts.csproj
  Contracts/Darklands.Platform.Contracts/Darklands.Platform.Contracts.csproj
  Contracts/Darklands.Tactical.Contracts/ActorVisionCalculatedEvent.cs
  Contracts/Darklands.Tactical.Contracts/Darklands.Tactical.Contracts.csproj
  Darklands.csproj
  Docs/01-Active/Backlog.md
  src/Darklands.Core.csproj
  src/Diagnostics/Darklands.Diagnostics.Domain.csproj
  src/Diagnostics/Darklands.Diagnostics.Infrastructure.csproj
  src/Diagnostics/Domain/Performance/IVisionPerformanceMonitor.cs
  src/Diagnostics/Domain/Performance/VisionPerformanceTypes.cs
  src/Diagnostics/Infrastructure/Performance/ActorVisionCalculatedEventHandler.cs
  src/Diagnostics/Infrastructure/Performance/VisionPerformanceMonitor.cs
  src/Infrastructure/Configuration/StranglerFigConfiguration.cs
  src/Infrastructure/Configuration/StranglerFigServiceRegistrar.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Vision/VisionEventAdapter.cs
Labels: infrastructure, documentation, phase-1, phase-3

fix(architecture): Complete TD_042 assembly integration and update backlog
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  src/Darklands.Core.csproj
Labels: documentation

fix(build): Resolve duplicate assembly attribute compilation errors
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  src/Darklands.Core.csproj
Labels: documentation

fix(architecture): TD_046 - Fix critical bounded context violations
  .claude/settings.local.json
  Contracts/Darklands.Tactical.Contracts/ActorVisionCalculatedEvent.cs
  Darklands.Architecture.Tests/Darklands.Architecture.Tests.csproj
  Darklands.Architecture.Tests/ModuleIsolationTests.cs
  Docs/01-Active/Backlog.md
  Docs/04-Personas/dev-engineer.md
  SharedKernel/Contracts/IContractEvent.cs
  SharedKernel/Darklands.SharedKernel.csproj
  src/Diagnostics/Darklands.Diagnostics.Domain.csproj
Labels: documentation

feat(tactical): TD_043 - Implement Tactical bounded context Domain layer [Phase 1/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Tactical/Darklands.Tactical.Application.csproj
  src/Tactical/Darklands.Tactical.Domain.csproj
  src/Tactical/Darklands.Tactical.Infrastructure.csproj
  src/Tactical/Domain/Aggregates/Actors/Actor.cs
  src/Tactical/Domain/Aggregates/Actors/Rules/ActorCanActRule.cs
  src/Tactical/Domain/Aggregates/Actors/Rules/ActorMustBeAliveRule.cs
  src/Tactical/Domain/TacticalMarker.cs
  src/Tactical/Domain/ValueObjects/CombatAction.cs
  src/Tactical/Domain/ValueObjects/TimeUnit.cs
Labels: documentation, phase-1

feat(tactical): TD_043 - Implement Application layer with VSA [Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Tactical/Application/Features/Combat/Attack/ExecuteAttackCommand.cs
  src/Tactical/Application/Features/Combat/Attack/ExecuteAttackCommandHandler.cs
  src/Tactical/Application/Features/Combat/Scheduling/ProcessNextTurnCommand.cs
  src/Tactical/Application/Features/Combat/Scheduling/ProcessNextTurnCommandHandler.cs
  src/Tactical/Application/Features/Combat/Services/IActorRepository.cs
  src/Tactical/Application/Features/Combat/Services/ICombatSchedulerService.cs
  src/Tactical/Application/TacticalApplicationMarker.cs
  src/Tactical/Darklands.Tactical.Application.csproj
  src/Tactical/Darklands.Tactical.Domain.csproj
Labels: documentation, phase-2

fix(tactical): Fix Application layer build errors
  Docs/01-Active/Backlog.md
  src/Tactical/Application/Features/Combat/Attack/ExecuteAttackCommandHandler.cs
  src/Tactical/Application/Features/Combat/Scheduling/ProcessNextTurnCommandHandler.cs
Labels: documentation, phase-2

docs: Update TD_043 backlog with Phase 2 completion and trade-offs
  Docs/01-Active/Backlog.md
Labels: documentation

feat(tactical): TD_043 - Implement Infrastructure layer [Phase 3/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Darklands.Core.csproj
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Tactical/Darklands.Tactical.Application.csproj
  src/Tactical/Darklands.Tactical.Domain.csproj
  src/Tactical/Darklands.Tactical.Infrastructure.csproj
  src/Tactical/Infrastructure/Repositories/ActorRepository.cs
  src/Tactical/Infrastructure/Services/CombatSchedulerService.cs
Labels: infrastructure, documentation, phase-3

feat(architecture): TD_043 Phase 4 - Complete Strangler Fig infrastructure for Tactical combat
  .claude/settings.local.json
  Contracts/Darklands.Tactical.Contracts/AttackExecutedEvent.cs
  Contracts/Darklands.Tactical.Contracts/TurnProcessedEvent.cs
  Docs/01-Active/Backlog.md
  src/Infrastructure/Combat/ParallelCombatAdapter.cs
  src/Infrastructure/Configuration/StranglerFigConfiguration.cs
  src/Infrastructure/Configuration/StranglerFigServiceRegistrar.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Tactical/Darklands.Tactical.Infrastructure.csproj
  src/Tactical/Infrastructure/Adapters/TacticalContractAdapter.cs
  src/Tactical/Infrastructure/Monitoring/AttackExecutedEventHandler.cs
  src/Tactical/Infrastructure/Monitoring/TurnProcessedEventHandler.cs
Labels: infrastructure, documentation, phase-3

WIP: TD_043 - Blocked by MediatR handler conflicts
  src/Infrastructure/Combat/CombatSwitchAdapter.cs
  src/Infrastructure/Combat/ParallelCombatAdapter.cs
  src/Infrastructure/Configuration/StranglerFigServiceRegistrar.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, phase-3

docs: Update TD_043 status to BLOCKED with MediatR conflict details
  Docs/01-Active/Backlog.md
Labels: documentation

fix(combat): TD_043 - Resolve MediatR handler conflicts using Non-Handler Adapter pattern
  Docs/01-Active/Backlog.md
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Combat/Commands/ProcessNextTurnCommandHandler.cs
  src/Infrastructure/Combat/CombatSwitchAdapter.cs
  src/Infrastructure/Combat/Handlers/ExecuteAttackCommandWrapper.cs
  src/Infrastructure/Combat/Handlers/ProcessNextTurnCommandWrapper.cs
  src/Infrastructure/Combat/ParallelCombatAdapter.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Tactical/Application/Features/Combat/Attack/ExecuteAttackCommandHandler.cs
  src/Tactical/Application/Features/Combat/Scheduling/ProcessNextTurnCommandHandler.cs
  tests/Infrastructure/Combat/CombatSwitchAdapterTests.cs
Labels: application, infrastructure, tests, documentation, phase-2, phase-3
