Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

docs(worldgen): Add VS_029 D-8 flow visualization with pit-filling validation
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
Labels: documentation

feat(worldgen): VS_029 D-8 flow visualization + river source algorithm correction
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/LocalMinimaDetector.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/RiverSourceDetector.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/HydraulicErosionProcessor.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Pipeline/Phase1ErosionIntegrationTests.cs
Labels: tests, documentation, godot, phase-2, phase-3

feat(worldgen): Complete VS_029 presentation layer - erosion hotspots view
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
Labels: godot

feat(worldgen): Complete VS_029 visualization + Gaussian blur fix + ocean masking
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
Labels: documentation, godot, phase-2, phase-3

feat(worldgen): Add probe handlers for VS_029 erosion debug views
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapProbeNode.cs
Labels: documentation, godot

fix(worldgen): Fix critical topological sort bug - sinks polluted headwater queue
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/TopologicalSortCalculator.cs
Labels: documentation, phase-3

feat(worldgen): Output view-mode-specific probe data to Godot console
  godot_project/features/worldgen/WorldMapProbeNode.cs
Labels: godot

fix(worldgen): Remove missing theme file reference in WorldMapUINode
  godot_project/features/worldgen/WorldMapUINode.cs
Labels: godot

feat(worldgen): Add comprehensive diagnostic logging to flow accumulation
  godot_project/features/worldgen/WorldMapLegendNode.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/FlowAccumulationCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/HydraulicErosionProcessor.cs
Labels: godot, phase-3

feat(worldgen): Implement logarithmic scaling for flow accumulation visualization
  godot_project/features/worldgen/WorldMapRendererNode.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/TopologicalSortCalculator.cs
Labels: godot, phase-3

feat(worldgen): Implement naturalistic two-layer rendering for flow accumulation
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
Labels: godot

fix(worldgen): Brighten lowland terrain to eliminate false lake effect
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: godot

feat(worldgen): Add typed color scheme system for SSOT legend rendering
  LEGEND_REFACTORING_COMPLETE.md
  godot_project/features/worldgen/ColorSchemes/ColorSchemes.cs
  godot_project/features/worldgen/ColorSchemes/ElevationScheme.cs
  godot_project/features/worldgen/ColorSchemes/FlowAccumulationScheme.cs
  godot_project/features/worldgen/ColorSchemes/FlowDirectionScheme.cs
  godot_project/features/worldgen/ColorSchemes/GrayscaleScheme.cs
  godot_project/features/worldgen/ColorSchemes/IColorScheme.cs
  godot_project/features/worldgen/ColorSchemes/LegendEntry.cs
  godot_project/features/worldgen/ColorSchemes/MarkerScheme.cs
  godot_project/features/worldgen/ColorSchemes/PrecipitationScheme.cs
  godot_project/features/worldgen/ColorSchemes/SchemeBasedRenderer.cs
  godot_project/features/worldgen/ColorSchemes/TemperatureScheme.cs
Labels: documentation, godot

fix(worldgen): Update FlowAccumulation legend to match naturalistic rendering
  godot_project/features/worldgen/WorldMapLegendNode.cs
Labels: godot

refactor(worldgen): Implement TRUE SSOT with ViewModeSchemeRegistry + auto-extract legends
  godot_project/features/worldgen/ColorSchemes/ViewModeSchemeRegistry.cs
  godot_project/features/worldgen/WorldMapLegendNode.cs
Labels: godot

docs(backlog): Add TD_020 - Complete ColorScheme SSOT System
  Docs/01-Active/Backlog.md
Labels: documentation

test(worldgen): Verify legend auto-extraction works + add defensive logging
  godot_project/features/worldgen/WorldMapLegendNode.cs
Labels: godot

docs(backlog): Create TD_021, VS_030, TD_022 with corrected pipeline order
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/02-Design/Game/Roadmap_World_Generation.md
Labels: documentation

docs(backlog): Add TD_023 - Enhance pit-filling to expose basin metadata
  Docs/01-Active/Backlog.md
Labels: documentation

docs(backlog): Add visualization to TD_023 for basin metadata validation
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
Labels: documentation

feat(worldgen): TD_021 - Sea Level SSOT and Normalized Scale Foundation
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/ElevationMapper.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapSerializationService.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/ElevationThresholds.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationParams.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Domain/WorldGenConstants.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Native/NativePlateSimulator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/ElevationPostProcessor.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
Labels: documentation, godot, phase-1, phase-2, phase-3

feat(worldgen): TD_023 Steps 1-3 - Expose basin metadata from pit-filling
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/BasinMetadata.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/Phase1ErosionData.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PitFillingCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/HydraulicErosionProcessor.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Pipeline/Phase1ErosionIntegrationTests.cs
Labels: tests, documentation, godot, phase-2, phase-3

feat(worldgen): TD_023 - Basin metadata exposure + below-sea-level flood-fill algorithm
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/ColorSchemes/ViewModeSchemeRegistry.cs
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PitFillingCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/HydraulicErosionProcessor.cs
Labels: documentation, godot, phase-2, phase-3

feat(worldgen): Fix ColoredElevation water body rendering + ColorBrewer terrain colors
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/ColorSchemes/ViewModeSchemeRegistry.cs
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
Labels: documentation, godot, phase-2

fix(worldgen): Prevent basin flood-fill from expanding into ocean territory
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PitFillingCalculator.cs
Labels: phase-3

feat(worldgen): Implement unified water-land gradient system with per-basin depth visualization
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: godot

fix(worldgen): Exclude ALL water bodies (ocean + basins) from land quantile calculation
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: godot

feat(worldgen): TD_023 Step 7 - Unified water-land gradient with seamless shoreline blending
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: documentation, godot

docs(backlog): Create TD_024 Basin Detection & Inner Sea Depth System
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part4.md
Labels: documentation

ci(tests): Exclude Phase1ErosionIntegrationTests from CI
  .claude/settings.local.json
  .github/workflows/ci-auto-fix.yml
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Pipeline/Phase1ErosionIntegrationTests.cs
Labels: tests, ci/cd, phase-3

feat(worldgen): TD_025 Complete - WorldMap Rendering Architecture Refactor
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  godot_project/features/worldgen/ColorSchemes/ElevationScheme.cs
  godot_project/features/worldgen/ColorSchemes/FlowAccumulationScheme.cs
  godot_project/features/worldgen/ColorSchemes/FlowDirectionScheme.cs
  godot_project/features/worldgen/ColorSchemes/GrayscaleScheme.cs
  godot_project/features/worldgen/ColorSchemes/IColorScheme.cs
  godot_project/features/worldgen/ColorSchemes/MarkerScheme.cs
  godot_project/features/worldgen/ColorSchemes/PrecipitationScheme.cs
  godot_project/features/worldgen/ColorSchemes/TemperatureScheme.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: documentation, godot

refactor(worldgen): TD_025 Cleanup - Remove dead code after scheme migration
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: godot

docs(backlog): Create TD_026 - WorldMapProbeNode abstraction
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part4.md
Labels: documentation

feat(worldgen): TD_025 - WorldMap Rendering Architecture Refactor (#106)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part4.md
  godot_project/features/worldgen/ColorSchemes/ElevationScheme.cs
  godot_project/features/worldgen/ColorSchemes/FlowAccumulationScheme.cs
  godot_project/features/worldgen/ColorSchemes/FlowDirectionScheme.cs
  godot_project/features/worldgen/ColorSchemes/GrayscaleScheme.cs
  godot_project/features/worldgen/ColorSchemes/IColorScheme.cs
  godot_project/features/worldgen/ColorSchemes/MarkerScheme.cs
  godot_project/features/worldgen/ColorSchemes/PrecipitationScheme.cs
  godot_project/features/worldgen/ColorSchemes/TemperatureScheme.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
Labels: documentation, godot

refactor(worldgen): TD_026 - WorldMapProbeNode abstraction via strategy pattern
  .claude/settings.local.json
  .gitignore
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part4.md
  godot_project/features/worldgen/ProbeDataProviders/BasinMetadataProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/CoastalMoistureProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/ElevationProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/ErosionHotspotsProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/FlowAccumulationProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/FlowDirectionsProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/IProbeDataProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/PlatesProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/PrecipitationProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/ProbeDataProviders.cs
  godot_project/features/worldgen/ProbeDataProviders/RainShadowProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/RawElevationProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/RiverSourcesProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/SinksPostFillingProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/SinksPreFillingProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/TemperatureProbeProvider.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  scripts/git/sync-core.psm1
Labels: ci/cd, documentation, godot, automation

refactor(worldgen): TD_026 - WorldMapProbeNode abstraction via strategy pattern (#107)
  .claude/settings.local.json
  .gitignore
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part4.md
  godot_project/features/worldgen/ProbeDataProviders/BasinMetadataProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/CoastalMoistureProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/ElevationProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/ErosionHotspotsProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/FlowAccumulationProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/FlowDirectionsProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/IProbeDataProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/PlatesProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/PrecipitationProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/ProbeDataProviders.cs
  godot_project/features/worldgen/ProbeDataProviders/RainShadowProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/RawElevationProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/RiverSourcesProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/SinksPostFillingProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/SinksPreFillingProbeProvider.cs
  godot_project/features/worldgen/ProbeDataProviders/TemperatureProbeProvider.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  scripts/git/sync-core.psm1
Labels: ci/cd, documentation, godot, automation

feat(worldgen): TD_027 - Pipeline refactoring with Builder + feedback loops
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
Labels: documentation

feat(worldgen): TD_027 - Pipeline refactoring with Builder + feedback loops
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/WorldGen/Application/Abstractions/IPipelineStage.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/PipelineMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PipelineContext.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PlateSimulationParams.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/IterativePipeline.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/PipelineBuilder.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/SinglePassPipeline.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/Stages/CoastalMoistureStage.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/Stages/D8FlowStage.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/Stages/ElevationPostProcessStage.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/Stages/PlateGenerationStage.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/Stages/PrecipitationStage.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/Stages/RainShadowStage.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/Stages/TemperatureStage.cs
Labels: documentation, phase-2, phase-3

chore(worldgen): TD_028 - Deprecate old GenerateWorldPipeline + test migration
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Pipeline/Phase1ErosionIntegrationTests.cs
Labels: tests, documentation, phase-3

docs: Archive TD_027/TD_028 + reorganize WorldGen docs into dedicated folder
  .claude/memory-bank/session-log.md
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/02-Design/Game/Roadmap_Toolchain.md
  Docs/02-Design/Game/Roadmap_World_Generation.md
  Docs/02-Design/Game/WorldGen/0_Roadmap_World_Generation.md
  Docs/02-Design/Game/WorldGen/1_Pipeline_Architecture.md
  Docs/02-Design/Game/WorldGen/Climate_System.md
  Docs/02-Design/Game/WorldGen/Geology_And_Resources.md
  Docs/02-Design/Game/WorldGen/Plate_Tectonics.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part4.md
Labels: documentation

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
