Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

feat(VS_002): add GameStrapper with DI foundation [Phase 1/3]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Darklands.Core.csproj
  tests/Darklands.Core.Tests/Application/Infrastructure/GameStrapperTests.cs
Labels: tests, documentation, phase-2, phase-3

feat(VS_002): add ServiceLocator for Godot boundary [Phase 2/3]
  src/Darklands.Core/Infrastructure/DependencyInjection/ServiceLocator.cs
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, phase-3

feat(VS_002): add Godot validation scene [Phase 3/3]
  TestScenes/DIBootstrapTest.cs
  TestScenes/DI_Bootstrap_Test.tscn
Labels: phase-4

docs: mark VS_002 complete and ready for review
  Docs/01-Active/Backlog.md
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
  tmp.md
Labels: tests, documentation, phase-3

fix: remove main scene to allow Godot editor to open
  TestScenes/DI_Bootstrap_Test.tscn
  project.godot
Labels: phase-4

fix: wire exported fields to scene nodes
  TestScenes/DI_Bootstrap_Test.tscn
  project.godot
Labels: phase-4

fix: use GetNode instead of Export for UI node references
  TestScenes/DIBootstrapTest.cs
Labels: none

fix: remove duplicate button signal connection
  TestScenes/DIBootstrapTest.cs
  TestScenes/DI_Bootstrap_Test.tscn
Labels: phase-4

docs: mark VS_002 as DONE after user validation
  Docs/01-Active/Backlog.md
Labels: documentation

refactor(agents): simplify backlog-assistant to archive-only with indexed system
  .claude/agents/backlog-assistant.md
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

fix: add missing final newlines to test files
  tests/Darklands.Core.Tests/Application/Infrastructure/GameStrapperTests.cs
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, phase-2, phase-3

fix: correct ServiceLocator test for disposed container
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
  tmp.md
Labels: tests, documentation, phase-3

docs: add DI Foundation living document with Mermaid diagrams
  Docs/01-Active/DI_Foundation.md
Labels: documentation

fix: add Initialize result validation in container reset test
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, phase-3

refactor(agents): Simplify backlog-assistant to archive-only with indexed system (#75)
  .claude/agents/backlog-assistant.md
  Docs/01-Active/Backlog.md
  Docs/01-Active/DI_Foundation.md
  Docs/07-Archive/Completed_Backlog.md
  TestScenes/DIBootstrapTest.cs
  TestScenes/DI_Bootstrap_Test.tscn
  project.godot
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Darklands.Core.csproj
  src/Darklands.Core/Infrastructure/DependencyInjection/ServiceLocator.cs
  tests/Darklands.Core.Tests/Application/Infrastructure/GameStrapperTests.cs
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, documentation, phase-2, phase-3, phase-4

docs(VS_003): approve category-based logging design with full implementation plan
  CLAUDE.md
  Docs/01-Active/Backlog.md
  Docs/03-Reference/Logging-Control-Flow-Analysis.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

feat(logging): add basic Serilog with Console + File sinks [VS_003 Phase1/4]
  TestScenes/DIBootstrapTest.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  tests/Darklands.Core.Tests/Application/Infrastructure/GameStrapperTests.cs
  tests/Darklands.Core.Tests/Darklands.Core.Tests.csproj
  tests/Darklands.Core.Tests/GameStrapperCollectionFixture.cs
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, phase-2, phase-3

docs(tests): add WHY/ARCHITECTURE comments to all DI tests and update backlog
  Docs/01-Active/Backlog.md
  tests/Darklands.Core.Tests/Application/Infrastructure/GameStrapperTests.cs
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, documentation, phase-2, phase-3

feat(logging): add category-based runtime filtering [VS_003 Phase2/4]
  Infrastructure/Logging/LoggingService.cs
  TestScenes/DIBootstrapTest.cs
Labels: phase-3

docs(backlog): update VS_003 Phase 2 completion status
  Docs/01-Active/Backlog.md
Labels: documentation

feat(logging): add Godot RichTextSink with BBCode formatting [VS_003 Phase3/4]
  Infrastructure/Logging/GodotBBCodeFormatter.cs
  Infrastructure/Logging/GodotRichTextSink.cs
  TestScenes/DIBootstrapTest.cs
Labels: phase-3

docs(backlog): update VS_003 Phase 3 completion status
  Docs/01-Active/Backlog.md
Labels: documentation

feat(logging): add GodotConsoleSink for output panel integration
  Infrastructure/Logging/GodotConsoleFormatter.cs
  Infrastructure/Logging/GodotConsoleSink.cs
  TestScenes/DIBootstrapTest.cs
Labels: phase-3

refactor(logging): clean up GodotConsole formatter - remove emojis, bracket timestamps
  Infrastructure/Logging/GodotConsoleFormatter.cs
Labels: phase-3

feat(logging): add multi-color BBCode formatting for Godot console output
  Infrastructure/Logging/GodotConsoleFormatter.cs
  Infrastructure/Logging/GodotConsoleSink.cs
Labels: phase-3

refactor(logging): timestamp now shares level color for visual grouping
  Infrastructure/Logging/GodotConsoleSink.cs
Labels: phase-3

feat(logging): apply Gruvbox Dark color theme (Base16 compatible)
  Infrastructure/Logging/GodotConsoleSink.cs
Labels: phase-3

fix(logging): adjust Gruvbox colors for Godot console visibility
  Infrastructure/Logging/GodotConsoleSink.cs
Labels: phase-3

fix(logging): ensure consistent color across entire log line
  Infrastructure/Logging/GodotConsoleSink.cs
Labels: phase-3

docs(backlog): update VS_003 Phase 3 completion with GodotConsoleSink enhancements
  Docs/01-Active/Backlog.md
Labels: documentation

feat(logging): add debug UI with category filters and clear button [VS_003 Phase4/4]
  TestScenes/DIBootstrapTest.cs
  TestScenes/DIBootstrapTest_UI_Setup.md
Labels: documentation

docs(backlog): mark VS_003 COMPLETE - all 4 phases done
  Docs/01-Active/Backlog.md
Labels: documentation

fix(logging): add F12 toggle for debug panel visibility
  TestScenes/DIBootstrapTest.cs
  TestScenes/DIBootstrapTest_UI_Setup.md
Labels: documentation

feat(logging): complete VS_003 with autoload debug console + standardized logging
  .gitignore
  Docs/01-Active/Backlog.md
  Infrastructure/DebugConsoleController.cs
  TestScenes/DIBootstrapTest.cs
  TestScenes/DI_Bootstrap_Test.tscn
  project.godot
Labels: documentation, phase-3, phase-4

fix(logging): add pre-merge architectural improvements [VS_003]
  .claude/settings.local.json
  Darklands.csproj
  Infrastructure/Logging/GodotRichTextSink.cs
  Infrastructure/Logging/LoggingService.cs
Labels: phase-3

docs(backlog): archive VS_003 to Completed_Backlog.md
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat: logging system with category-based filtering [VS_003] (#76)
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
  Darklands.csproj
  Docs/01-Active/Backlog.md
  Docs/03-Reference/Logging-Control-Flow-Analysis.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/test-specialist.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog.md
  Infrastructure/DebugConsoleController.cs
  Infrastructure/Logging/GodotBBCodeFormatter.cs
  Infrastructure/Logging/GodotConsoleFormatter.cs
  Infrastructure/Logging/GodotConsoleSink.cs
  Infrastructure/Logging/GodotRichTextSink.cs
  Infrastructure/Logging/LoggingService.cs
  TestScenes/DIBootstrapTest.cs
  TestScenes/DIBootstrapTest_UI_Setup.md
  TestScenes/DI_Bootstrap_Test.tscn
  project.godot
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  tests/Darklands.Core.Tests/Application/Infrastructure/GameStrapperTests.cs
  tests/Darklands.Core.Tests/Darklands.Core.Tests.csproj
  tests/Darklands.Core.Tests/GameStrapperCollectionFixture.cs
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, documentation, phase-2, phase-3, phase-4

docs: VS_004 breakdown and DI implementation documentation
  Docs/01-Active/Backlog.md
  Docs/01-Active/DI_Implementation.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

docs(backlog): Dev Engineer technical review of VS_004
  Docs/01-Active/Backlog.md
Labels: documentation

feat: event bus system [VS_004]
  .claude/settings.local.json
  Components/EventAwareNode.cs
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Infrastructure/Events/GodotEventBus.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Domain/Events/TestEvent.cs
  src/Darklands.Core/Infrastructure/Events/IGodotEventBus.cs
  src/Darklands.Core/Infrastructure/Events/UIEventForwarder.cs
  tests/Darklands.Core.Tests/Darklands.Core.Tests.csproj
  tests/Darklands.Core.Tests/Infrastructure/Events/EventBusIntegrationTests.cs
  tests/Darklands.Core.Tests/Infrastructure/Events/GodotEventBusTests.cs
  tests/Darklands.Core.Tests/Infrastructure/Events/UIEventForwarderTests.cs
  tests/EVENT_BUS_MANUAL_TEST.md
  tests/EventBusTestListener.cs
Labels: tests, documentation, phase-1, phase-2, phase-3
