Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

feat(architecture): adopt time-based scheduling over energy accumulation (#34)
  .claude/settings.local.json
  Docs/03-Reference/ADR/ADR-009-sequential-turn-processing.md
  Docs/03-Reference/ADR/ADR-013-time-based-action-scheduling.md
  Docs/03-Reference/ADR/README.md
  Docs/08-Learning/DCSS-Combat-Action-System-Analysis.md
Labels: documentation

feat(testing): implement TD_024 Architecture Tests for ADR Compliance
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  tests/Architecture/AdrComplianceTests.cs
Labels: tests, documentation

feat(testing): implement TD_024 Architecture Tests for ADR Compliance (#35)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  tests/Architecture/AdrComplianceTests.cs
Labels: tests, documentation

feat(testing): enhance TD_024 with NetArchTest for comprehensive architecture validation
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/04-Personas/test-specialist.md
  Docs/07-Archive/Completed_Backlog.md
  tests/Architecture/NetArchitectureTests.cs
  tests/Architecture/README.md
  tests/Darklands.Core.Tests.csproj
Labels: tests, documentation

feat(testing): enhance TD_024 with NetArchTest for comprehensive architecture validation (#36)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/04-Personas/test-specialist.md
  Docs/07-Archive/Completed_Backlog.md
  tests/Architecture/NetArchitectureTests.cs
  tests/Architecture/README.md
  tests/Darklands.Core.Tests.csproj
Labels: tests, documentation

feat(devops): implement TD_025 Cross-Platform Determinism CI Pipeline [Phase 4/4]
  .claude/settings.local.json
  .github/workflows/cross-platform-determinism.yml
  Docs/01-Active/Backlog.md
  scripts/core/build.ps1
  tests/Domain/Determinism/CrossPlatformDeterminismTests.cs
Labels: tests, ci/cd, documentation, automation, phase-1

docs(backlog): archive completed TD_025 with implementation details
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

fix(ci): remove --no-restore flag causing build failures in cross-platform workflow
  .github/workflows/cross-platform-determinism.yml
Labels: ci/cd

fix(ci): remove line continuation in dotnet commands for Windows PowerShell compatibility
  .github/workflows/cross-platform-determinism.yml
Labels: ci/cd

fix(ci): simplify cross-platform workflow for PowerShell compatibility
  .github/workflows/cross-platform-determinism.yml
Labels: ci/cd

feat(devops): implement TD_025 Cross-Platform Determinism CI Pipeline (#37)
  .claude/settings.local.json
  .github/workflows/cross-platform-determinism.yml
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  scripts/core/build.ps1
  tests/Domain/Determinism/CrossPlatformDeterminismTests.cs
Labels: tests, ci/cd, documentation, automation, phase-1

feat(save): TD_027 Phase 1 - Domain Layer Save Contracts & Models [Phase 1/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  src/Application/SaveSystem/ISaveStorage.cs
  src/Application/SaveSystem/IWorldHydrator.cs
  src/Domain/GameState/GameState.cs
  src/Domain/GameState/RandomState.cs
  src/Domain/SaveSystem/ISaveValidator.cs
  src/Domain/SaveSystem/ISerializationProvider.cs
  src/Domain/SaveSystem/SaveModels.cs
Labels: domain, application, documentation, phase-1, phase-2

docs(backlog): TD_027 detailed multi-session implementation plan
  Docs/01-Active/Backlog.md
Labels: documentation

feat(testing): implement TD_018 C# event infrastructure integration tests
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/07-Archive/Completed_Backlog.md
  tests/Infrastructure/Events/DIContainerIntegrationTests.cs
  tests/Infrastructure/Events/MediatRPipelineIntegrationTests.cs
  tests/Infrastructure/Events/TestEvents.cs
  tests/Infrastructure/Events/UIEventBusIntegrationTests.cs
Labels: tests, documentation, phase-3

feat(testing): implement TD_018 C# event infrastructure integration tests (#38)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/07-Archive/Completed_Backlog.md
  tests/Infrastructure/Events/DIContainerIntegrationTests.cs
  tests/Infrastructure/Events/MediatRPipelineIntegrationTests.cs
  tests/Infrastructure/Events/TestEvents.cs
  tests/Infrastructure/Events/UIEventBusIntegrationTests.cs
Labels: tests, documentation, phase-3

feat(architecture): Extract test data from production presenters [TD_013]
  Docs/01-Active/Backlog.md
  GameManager.cs
  src/Application/Common/ActorFactory.cs
  src/Application/Common/IActorFactory.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
Labels: application, infrastructure, documentation, phase-2, phase-3

feat(architecture): Extract test data from production presenters [TD_013] (#39)
  Docs/01-Active/Backlog.md
  GameManager.cs
  src/Application/Common/ActorFactory.cs
  src/Application/Common/IActorFactory.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
Labels: application, infrastructure, documentation, phase-2, phase-3

feat(personas): enhance anti-over-engineering boundaries
  Docs/01-Active/Backlog.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/07-Archive/Completed_Backlog.md
  tmp.md
Labels: documentation

docs: add comprehensive PR creation protocol
  CLAUDE.md
Labels: documentation

feat: enhance anti-over-engineering boundaries across all personas (#40)
  CLAUDE.md
  Docs/01-Active/Backlog.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/07-Archive/Completed_Backlog.md
  tmp.md
Labels: documentation

feat(domain): refactor TimeUnit from milliseconds to abstract TU [TD_031]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Domain/Combat/CombatAction.cs
  src/Domain/Combat/TimeUnit.cs
  src/Domain/Combat/TimeUnitCalculator.cs
  tests/Application/Combat/Coordination/GameLoopCoordinatorTests.cs
  tests/Domain/Combat/CombatActionTests.cs
  tests/Domain/Combat/TimeUnitCalculatorDeterminismTests.cs
  tests/Domain/Combat/TimeUnitCalculatorTests.cs
  tests/Domain/Combat/TimeUnitTests.cs
Labels: domain, application, tests, documentation, phase-1, phase-2

docs(backlog): archive completed TD_031 TimeUnit TU refactor
  Docs/01-Active/Backlog.md
Labels: documentation

feat(domain): refactor TimeUnit from milliseconds to abstract TU [TD_031] (#41)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Domain/Combat/CombatAction.cs
  src/Domain/Combat/TimeUnit.cs
  src/Domain/Combat/TimeUnitCalculator.cs
  tests/Application/Combat/Coordination/GameLoopCoordinatorTests.cs
  tests/Domain/Combat/CombatActionTests.cs
  tests/Domain/Combat/TimeUnitCalculatorDeterminismTests.cs
  tests/Domain/Combat/TimeUnitCalculatorTests.cs
  tests/Domain/Combat/TimeUnitTests.cs
Labels: domain, application, tests, documentation, phase-1, phase-2

feat(architecture): Add vision-based tactical system with shadowcasting FOV
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-014-vision-based-tactical-system.md
  Docs/08-Learning/DCSS-Vision-Stealth-Analysis.md
Labels: documentation

feat(architecture): Enhanced vision system with monster wake states and JA2 analysis
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-014-vision-based-tactical-system.md
  Docs/08-Learning/JA2-1.13-Vision-System-Analysis.md
Labels: documentation

feat(vision): Implement Phase 1 domain FOV with shadowcasting [VS_011]
  Docs/01-Active/Backlog.md
  src/Domain/Grid/Grid.cs
  src/Domain/Vision/ShadowcastingFOV.cs
  src/Domain/Vision/VisionRange.cs
  src/Domain/Vision/VisionState.cs
  tests/Domain/Vision/ShadowcastingFOVTests.cs
Labels: domain, tests, documentation, phase-1

fix(vision): Improve shadowcasting FOV to 75% correctness using libtcod reference
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/README.md
  src/Domain/Vision/ShadowcastingFOV.cs
  tests/Architecture/AdrComplianceTests.cs
  tests/Domain/Vision/ShadowcastingFOVTests.cs
Labels: domain, tests, documentation, phase-1

feat(vision): Implement Phase 2 Application Layer for VS_011 Vision System [Phase 2/4]
  Docs/03-Reference/ADR/ADR-015-namespace-organization-strategy.md
  src/Application/Vision/Commands/CalculateFOVConsoleCommand.cs
  src/Application/Vision/Commands/CalculateFOVConsoleCommandHandler.cs
  src/Application/Vision/Queries/CalculateFOVQuery.cs
  src/Application/Vision/Queries/CalculateFOVQueryHandler.cs
  src/Application/Vision/Services/IVisionStateService.cs
  src/Application/Vision/Services/InMemoryVisionStateService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: application, infrastructure, documentation, phase-2, phase-3

docs(backlog): Update VS_011 Phase 2 completion and VS_012 readiness
  Docs/01-Active/Backlog.md
Labels: documentation

feat(vision): complete VS_011 Phase 3 infrastructure with performance monitoring [Phase 3/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Application/Vision/Commands/VisionPerformanceConsoleCommand.cs
  src/Application/Vision/Commands/VisionPerformanceConsoleCommandHandler.cs
  src/Application/Vision/Queries/CalculateFOVQueryHandler.cs
  src/Application/Vision/Services/IVisionPerformanceMonitor.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Vision/PersistentVisionStateService.cs
  src/Infrastructure/Vision/VisionPerformanceMonitor.cs
  tests/Infrastructure/Vision/PersistentVisionStateServiceTests.cs
  tests/Infrastructure/Vision/VisionPerformanceMonitorTests.cs
Labels: application, infrastructure, tests, documentation, phase-2, phase-3

feat(vision): implement Phase 4 fog of war system with remaining issues tracked
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Views/GridView.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  src/Presentation/Views/IGridView.cs
Labels: application, documentation, phase-2

feat(vision): Complete fog of war system with movement updates
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  GameManager.cs
  Views/ActorView.cs
  Views/GridView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  src/Presentation/Views/IActorView.cs
Labels: documentation

fix(vision): Fix actor and health bar visibility synchronization with fog of war
  Views/ActorView.cs
  Views/HealthView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
  src/Presentation/Views/IHealthView.cs
Labels: none

refactor(ui): Simplify health bars as child nodes of actors
  Docs/01-Active/Backlog.md
  Views/ActorView.cs
  src/Presentation/Presenters/ActorPresenter.cs
Labels: documentation

fix(health): Connect HealthPresenter to ActorPresenter for health bar updates
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/06-PostMortems/Inbox/2025-09-11-vs011-vision-system-lessons.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  Views/ActorView.cs
  Views/GridView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
  src/Presentation/Views/IActorView.cs
Labels: documentation

fix(movement): Add terrain passability validation to prevent walking through walls
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/06-PostMortems/Inbox/2025-09-11-br003-health-bar-split-brain.md
  src/Application/Grid/Services/InMemoryGridStateService.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerIntegrationTests.cs
Labels: application, tests, documentation, phase-2

fix(ui): Initialize health bars with correct actor health values
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.cs
  src/Presentation/Presenters/ActorPresenter.cs
Labels: documentation

feat(docs): Consolidate post-mortems and extract UI architecture patterns
  Docs/01-Active/Backlog.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/PRODUCTION-PATTERNS.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-07-presenter-coordination-health-bar-display.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-07-visual-movement-bug.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-08-backlog-extraction.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-08-extraction-summary.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-08-td017-ui-event-bus-implementation.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-08-ui-event-routing-failure.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-11-br003-health-bar-split-brain.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-11-consolidation-summary.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-11-vs011-vision-system-lessons.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/IMPACT_METRICS.md
  Docs/06-PostMortems/Archive/INDEX.md
Labels: documentation

feat(docs): Consolidate post-mortems and extract UI architecture patterns (#43)
  Docs/01-Active/Backlog.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/PRODUCTION-PATTERNS.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-07-presenter-coordination-health-bar-display.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-07-visual-movement-bug.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-08-backlog-extraction.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-08-extraction-summary.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-08-td017-ui-event-bus-implementation.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-08-ui-event-routing-failure.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-11-br003-health-bar-split-brain.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-11-consolidation-summary.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/2025-09-11-vs011-vision-system-lessons.md
  Docs/06-PostMortems/Archive/2025-09-11-UI-Architecture-Lessons/IMPACT_METRICS.md
  Docs/06-PostMortems/Archive/INDEX.md
Labels: documentation

feat(ui): Consolidate HealthView into ActorView following ADR-016
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-016-embrace-engine-scene-graph.md
  Docs/03-Reference/ADR/README.md
  Docs/07-Archive/Completed_Backlog.md
  GameManager.NotificationHandlers.cs
  GameManager.cs
  Views/ActorView.cs
  Views/HealthView.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
  src/Presentation/Views/IActorView.cs
  src/Presentation/Views/IHealthView.cs
Labels: documentation

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
