Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

fix(worldgen): Add gradient blending to prevailing winds (eliminates boundary seams)
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PrevailingWinds.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/PrevailingWindsTests.cs
Labels: tests, phase-3

fix(worldgen): Correct rain shadow direction (west side now wet, east dry)
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/RainShadowCalculator.cs
Labels: phase-3

fix(worldgen): Correct upwind trace direction in rain shadow algorithm
  .claude/settings.local.json
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/RainShadowCalculator.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/RainShadowCalculatorTests.cs
Labels: tests, phase-3

docs(worldgen): Restructure pipeline with correct logical order + create specialized roadmap
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/02-Design/Game/Roadmap_World_Generation.md
Labels: documentation

feat(worldgen): Add coastal moisture enhancement (VS_028)
  Docs/01-Active/Backlog.md
  Docs/02-Completed/VS_028-coastal-moisture-completion-notes.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/CoastalMoistureCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/CoastalMoistureCalculatorTests.cs
Labels: tests, documentation, godot, phase-2, phase-3

docs(backlog): Archive VS_026, VS_027, VS_028 to indexed archive
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
Labels: documentation

feat(worldgen): Add coastal moisture enhancement (VS_028) (#101)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Completed/VS_028-coastal-moisture-completion-notes.md
  Docs/02-Design/Game/Roadmap.md
  Docs/02-Design/Game/Roadmap_World_Generation.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
  godot_project/features/worldgen/WorldMapLegendNode.cs
  godot_project/features/worldgen/WorldMapProbeNode.cs
  godot_project/features/worldgen/WorldMapRendererNode.cs
  godot_project/features/worldgen/WorldMapUINode.cs
  src/Darklands.Core/Features/WorldGen/Application/Common/MapViewMode.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/PrecipitationThresholds.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/WorldGenerationResult.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/CoastalMoistureCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PrecipitationCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PrevailingWinds.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/RainShadowCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/GenerateWorldPipeline.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/CoastalMoistureCalculatorTests.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/PrecipitationCalculatorTests.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/PrevailingWindsTests.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/RainShadowCalculatorTests.cs
Labels: tests, documentation, godot, phase-2, phase-3

docs(backlog): VS_029/VS_030/VS_031 - Erosion architecture & debug tooling
  Docs/01-Active/Backlog.md
Labels: documentation

feat(worldgen): VS_029 Phase 1 - Pit filling + flow accumulation [Phase 1/4]
  .claude/settings.local.json
  src/Darklands.Core/Features/WorldGen/Application/DTOs/Phase1ErosionData.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/River.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/FlowAccumulationCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/FlowDirectionCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PitFillingCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/RiverSourceDetector.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/TopologicalSortCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/HydraulicErosionProcessor.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/FlowDirectionCalculatorTests.cs
Labels: tests, phase-2, phase-3

docs(worldgen): Rewrite VS_029 as particle-based erosion + VS_031 debug panel
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/02-Design/Game/Roadmap_World_Generation.md
Labels: documentation

docs(worldgen): Rewrite VS_029 as particle-based erosion architecture + VS_031 debug panel (#102)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/02-Design/Game/Roadmap_World_Generation.md
  src/Darklands.Core/Features/WorldGen/Application/DTOs/Phase1ErosionData.cs
  src/Darklands.Core/Features/WorldGen/Application/DTOs/River.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/FlowAccumulationCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/FlowDirectionCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/PitFillingCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/RiverSourceDetector.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Algorithms/TopologicalSortCalculator.cs
  src/Darklands.Core/Features/WorldGen/Infrastructure/Pipeline/HydraulicErosionProcessor.cs
  tests/Darklands.Core.Tests/Features/WorldGen/Infrastructure/Algorithms/FlowDirectionCalculatorTests.cs
Labels: tests, documentation, phase-2, phase-3

docs(design): Extract specialized roadmaps + comprehensive stats/progression design
  Docs/02-Design/Game/Roadmap.md
  Docs/02-Design/Game/Roadmap_Combat.md
  Docs/02-Design/Game/Roadmap_Inventory_Items.md
  Docs/02-Design/Game/Roadmap_Stats_Progression.md
Labels: documentation

feat(backlog): Add VS_032 Equipment Slots System - thin vertical slice
  Docs/01-Active/Backlog.md
Labels: documentation

docs(toolchain): Add comprehensive toolchain roadmap with component-based architecture
  Docs/02-Design/Game/Roadmap.md
  Docs/02-Design/Game/Roadmap_Toolchain.md
Labels: documentation

docs(learnings): Add plate tectonics and hydrology implementation reviews
  Docs/08-Learnings/PlateTectonics/PlateTectonics-Implementation-Review.md
  Docs/08-Learnings/PlateTectonics/PlateTectonics-Refactor-and-Geology-Plan.md
  Docs/08-Learnings/PlateTectonics/Platec-Porting-Decision.md
  Docs/08-Learnings/PlateTectonics/SimpleTectonics-Implementation-Review.md
  Docs/08-Learnings/SimpleHydrology/ImplementationReview.md
Labels: documentation

docs(toolchain): Add validation strategy + JSON Schema integration + future growth systems
  Docs/02-Design/Game/Roadmap_Toolchain.md
  Docs/03-Reference/ADR/ADR-006-data-driven-entity-design.md
Labels: documentation

feat(backlog): Add VS_033 Item Editor MVP with strategic pain-driven phasing
  Docs/01-Active/Backlog.md
Labels: documentation

feat(backlog): VS_032 Equipment Slots - Tech Lead breakdown complete (6 phases, 15-20h)
  Docs/01-Active/Backlog.md
Labels: documentation

feat(equipment): VS_032 Phase 1 - Equipment Domain [Phase 1/6]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Equipment/Domain/EquipmentComponent.cs
  src/Darklands.Core/Features/Equipment/Domain/EquipmentSlot.cs
  src/Darklands.Core/Features/Equipment/Domain/IEquipmentComponent.cs
  tests/Darklands.Core.Tests/Features/Equipment/Domain/EquipmentComponentTests.cs
Labels: tests, documentation, phase-1

feat(equipment): VS_032 Phase 2 - Equipment Commands (Atomic Transactions) [Phase 2/6]
  src/Darklands.Core/Features/Equipment/Application/Commands/EquipItemCommand.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/EquipItemCommandHandler.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/SwapEquipmentCommand.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/SwapEquipmentCommandHandler.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/UnequipItemCommand.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/UnequipItemCommandHandler.cs
  tests/Darklands.Core.Tests/Features/Equipment/Application/Commands/EquipmentCommandHandlerTests.cs
Labels: tests, phase-2

docs(backlog): Update VS_032 Phase 2 completion status
  Docs/01-Active/Backlog.md
Labels: documentation

feat(equipment): VS_032 Phase 3 - Equipment Queries [Phase 3/6]
  src/Darklands.Core/Features/Equipment/Application/Queries/GetEquippedItemsQuery.cs
  src/Darklands.Core/Features/Equipment/Application/Queries/GetEquippedItemsQueryHandler.cs
  src/Darklands.Core/Features/Equipment/Application/Queries/GetEquippedWeaponQuery.cs
  src/Darklands.Core/Features/Equipment/Application/Queries/GetEquippedWeaponQueryHandler.cs
  tests/Darklands.Core.Tests/Features/Equipment/Application/Queries/EquipmentQueryHandlerTests.cs
Labels: tests, phase-2

docs(backlog): Update VS_032 Phase 3 completion status
  Docs/01-Active/Backlog.md
Labels: documentation

feat(equipment): VS_032 Phase 4 - Equipment Presentation + Complete Drag-Drop [Phase 4/6]
  Components/Inventory/EquipmentPanelNode.cs
  Components/Inventory/EquipmentSlotNode.cs
  Components/Inventory/InventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  godot_project/scenes/Main.cs
  godot_project/test_scenes/SpatialInventoryTestController.cs
  godot_project/test_scenes/SpatialInventoryTestScene.tscn
Labels: documentation, godot, phase-4

docs(backlog): Update VS_032 Phase 4 completion status (Options A+B)
  Docs/01-Active/Backlog.md
Labels: documentation

fix(equipment): BR_008 - Equipment unequip now respects drop position and rotation
  Components/Inventory/InventoryContainerNode.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandler.cs
Labels: phase-2

fix(equipment): BR_009 - Equipment drag always uses 0° rotation (canonical orientation)
  Components/Inventory/EquipmentSlotNode.cs
  Components/Inventory/InventoryContainerNode.cs
Labels: none

refactor(inventory): TD_019 Phase 1+2 - Inventory-First Architecture (Core layer migration)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Equipment/Application/Commands/EquipItemCommand.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/EquipItemCommandHandler.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/SwapEquipmentCommand.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/SwapEquipmentCommandHandler.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/UnequipItemCommand.cs
  src/Darklands.Core/Features/Equipment/Application/Commands/UnequipItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/AddItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/AddItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RemoveItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RemoveItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RotateItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RotateItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/SwapItemsCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/IInventoryRepository.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CalculateHighlightCellsQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CalculateHighlightCellsQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetItemRenderPositionQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetOccupiedCellsQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetOccupiedCellsQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  src/Darklands.Core/Features/Inventory/Infrastructure/InMemoryInventoryRepository.cs
Labels: documentation, phase-1, phase-2, phase-3

test(inventory): TD_019 Phase 3 - Fix all 543 Core tests for Inventory-First architecture
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  tests/Darklands.Core.Tests/Features/Equipment/Application/Commands/EquipmentCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/AddItemCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/RemoveItemCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/SwapItemsCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CalculateHighlightCellsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetInventoryQueryHandlerSpatialTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetInventoryQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetOccupiedCellsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Infrastructure/InMemoryInventoryRepositoryTests.cs
Labels: tests, documentation, phase-2, phase-3

feat(inventory): TD_019 Phase 4 - Inventory-First Presentation Layer Migration
  Components/Inventory/EquipmentPanelNode.cs
  Components/Inventory/EquipmentSlotNode.cs
  Components/Inventory/InventoryContainerNode.cs
  Components/InventoryPanelNode.cs
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/SpatialInventoryTestController.cs
Labels: documentation, godot

fix(inventory): TD_019 Phase 4 - Fix equipment drag-drop KeyNotFoundException
  Components/Inventory/InventoryContainerNode.cs
Labels: none

fix(inventory): TD_019 Phase 4 - Fix inventory→equipment drag KeyNotFoundException
  Components/Inventory/EquipmentSlotNode.cs
Labels: none

fix(inventory): TD_019 Phase 4 - Fix cross-inventory equip (sourceInventoryId)
  Components/Inventory/EquipmentSlotNode.cs
Labels: none

feat(inventory): TD_019 Phase 5 - Remove obsolete GetByActorIdAsync method (cleanup complete)
  src/Darklands.Core/Features/Inventory/Application/IInventoryRepository.cs
  src/Darklands.Core/Features/Inventory/Infrastructure/InMemoryInventoryRepository.cs
  tests/Darklands.Core.Tests/Features/Equipment/Application/Commands/EquipmentCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/AddItemCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/RemoveItemCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CalculateHighlightCellsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetInventoryQueryHandlerSpatialTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetItemRenderPositionQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetOccupiedCellsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Infrastructure/InMemoryInventoryRepositoryTests.cs
Labels: tests, phase-2, phase-3

docs(backlog): TD_019 marked COMPLETE - Inventory-First architecture fully validated
  Docs/01-Active/Backlog.md
Labels: documentation

chore(archive): Rotate to Completed_Backlog_2025-10_Part4.md (proactive rotation at 1779 lines)
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part3.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part4.md
Labels: documentation

feat(protocol): backlog-assistant smart rotation - proactive line count check
  .claude/agents/backlog-assistant.md
Labels: documentation

docs(architecture): Add file organization convention for Presentation layer
  CLAUDE.md
  Docs/01-Active/Backlog.md
  Docs/02-Completed/VS_028-coastal-moisture-completion-notes.md
  Docs/05-Post-Mortems/VS_008_Inventory_System_Post_Mortem.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part4.md
  NATIVE_LIBRARIES.md
Labels: documentation

docs(backlog): Remove archived completion notes from Important section
  Docs/01-Active/Backlog.md
Labels: documentation

fix(ci): Reword comment to avoid false positive security scan
  src/Darklands.Core/Features/Equipment/Application/Queries/GetEquippedItemsQuery.cs
Labels: phase-2
