Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

test: EventBus manual test scene [VS_004]
  Main.cs
  Main.tscn
  TESTING_GUIDE.md
  project.godot
  tests/EventBusTestListener.cs
  tests/EventBusTestScene.tscn
Labels: tests, documentation, godot, phase-4

docs: EventBus quick start guide
  QUICK_START.md
Labels: documentation

fix: move EventBus test to TestScenes/ with enhanced debugging
  QUICK_START.md
  TestScenes/DIBootstrapTest.cs
  TestScenes/DIBootstrapTest_UI_Setup.md
  TestScenes/DI_Bootstrap_Test.tscn
  TestScenes/EventBusTestListener.cs
  TestScenes/EventBusTestScene.tscn
  tests/EVENT_BUS_MANUAL_TEST.md
  tests/EventBusTestListener.cs
Labels: tests, documentation, phase-4

fix: register LoggingService in DI container for DebugConsole
  Main.cs
Labels: none

docs: add TD_001 Architecture Enforcement Tests (post-mortem)
  Docs/01-Active/Backlog.md
Labels: documentation

docs: update TD_001 - remove redundant Godot dependency test
  Docs/01-Active/Backlog.md
Labels: documentation

docs: update VS_003 archive with Main.cs registration details
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

docs: VS_004 completion - archive and architecture overview
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/DI_Implementation.md
  Docs/03-Reference/Architecture-Overview.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

ci: streamline pre-commit and CI verification (reduce friction)
  .github/workflows/ci-auto-fix.yml
  .husky/pre-commit
Labels: ci/cd, automation

ci: simplify to 2-job parallel design (eliminate ceremony)
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

feat: Event Bus System [VS_004] - Core → Godot Event Bridge (#77)
  .claude/settings.local.json
  .github/workflows/ci-auto-fix.yml
  .husky/pre-commit
  Components/EventAwareNode.cs
  Docs/01-Active/Backlog.md
  Docs/01-Active/DI_Foundation.md
  Docs/03-Reference/ADR/ADR-002-godot-integration-architecture.md
  Docs/03-Reference/Architecture-Overview.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog.md
  Infrastructure/Events/GodotEventBus.cs
  Main.cs
  Main.tscn
  QUICK_START.md
  TESTING_GUIDE.md
  TestScenes/DIBootstrapTest.cs
  TestScenes/DIBootstrapTest_UI_Setup.md
  TestScenes/DI_Bootstrap_Test.tscn
  TestScenes/EventBusTestListener.cs
  TestScenes/EventBusTestScene.tscn
  project.godot
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Domain/Events/TestEvent.cs
  src/Darklands.Core/Infrastructure/Events/IGodotEventBus.cs
  src/Darklands.Core/Infrastructure/Events/UIEventForwarder.cs
  tests/Darklands.Core.Tests/Darklands.Core.Tests.csproj
  tests/Darklands.Core.Tests/Infrastructure/Events/EventBusIntegrationTests.cs
  tests/Darklands.Core.Tests/Infrastructure/Events/GodotEventBusTests.cs
  tests/Darklands.Core.Tests/Infrastructure/Events/UIEventForwarderTests.cs
Labels: tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

fix: correct project paths in build.ps1
  scripts/core/build.ps1
Labels: ci/cd, automation

docs: update test execution guidance (remove obsolete scripts)
  CLAUDE.md
  scripts/core/build.ps1
Labels: ci/cd, documentation, automation

chore: remove 19 unused scripts (reduce ceremony)
  scripts/core/build.sh
  scripts/fix/common-issues.ps1
  scripts/git/branch-cleanup.ps1
  scripts/git/branch-status-check.sh
  scripts/git/install-smart-sync.ps1
  scripts/git/pr-continue.ps1
  scripts/setup/install-claude-protection.ps1
  scripts/setup/verify-environment.ps1
  scripts/test/full.ps1
  scripts/test/quick.ps1
  scripts/test/test-embody.ps1
  scripts/test/test-sync-core.ps1
  scripts/utils/check-session-log-health.ps1
  scripts/utils/fix-session-log-order.ps1
  scripts/utils/rotate-memory-bank.ps1
  scripts/utils/setup-rotation-schedule.ps1
  scripts/utils/validate-scripts.ps1
  scripts/verification/verify-backlog-update.ps1
  scripts/verification/verify-subagent.ps1
Labels: ci/cd, automation

chore: DevOps cleanup - remove unused scripts and reduce ceremony (#78)
  CLAUDE.md
  scripts/core/build.ps1
  scripts/core/build.sh
  scripts/fix/common-issues.ps1
  scripts/git/branch-cleanup.ps1
  scripts/git/branch-status-check.sh
  scripts/git/install-smart-sync.ps1
  scripts/git/pr-continue.ps1
  scripts/setup/install-claude-protection.ps1
  scripts/setup/verify-environment.ps1
  scripts/test/full.ps1
  scripts/test/quick.ps1
  scripts/test/test-embody.ps1
  scripts/test/test-sync-core.ps1
  scripts/utils/check-session-log-health.ps1
  scripts/utils/fix-session-log-order.ps1
  scripts/utils/rotate-memory-bank.ps1
  scripts/utils/setup-rotation-schedule.ps1
  scripts/utils/validate-scripts.ps1
  scripts/verification/verify-backlog-update.ps1
  scripts/verification/verify-subagent.ps1
Labels: ci/cd, documentation, automation

docs: complete architectural foundation with ADR-004 and persona integration
  CLAUDE.md
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-003-functional-error-handling.md
  Docs/03-Reference/ADR/ADR-004-feature-based-clean-architecture.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

feat(health): domain layer [VS_001 Phase 1/4]
  src/Darklands.Core/Domain/Common/ActorId.cs
  src/Darklands.Core/Domain/Common/Health.cs
  src/Darklands.Core/Features/Health/Domain/HealthComponent.cs
  src/Darklands.Core/Features/Health/Domain/IHealthComponent.cs
  tests/Darklands.Core.Tests/Domain/Common/ActorIdTests.cs
  tests/Darklands.Core.Tests/Domain/Common/HealthTests.cs
  tests/Darklands.Core.Tests/Features/Health/Domain/HealthComponentTests.cs
Labels: tests, phase-1

feat(health): application layer [VS_001 Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Health/Application/Commands/TakeDamageCommand.cs
  src/Darklands.Core/Features/Health/Application/Commands/TakeDamageCommandHandler.cs
  src/Darklands.Core/Features/Health/Application/Events/HealthChangedEvent.cs
  src/Darklands.Core/Features/Health/Application/IHealthComponentRegistry.cs
  tests/Darklands.Core.Tests/Features/Health/Application/TakeDamageCommandHandlerTests.cs
Labels: tests, documentation, phase-2

feat(health): infrastructure layer [VS_001 Phase 3/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/Health/Infrastructure/HealthComponentRegistry.cs
  tests/Darklands.Core.Tests/Features/Health/Integration/HealthSystemIntegrationTests.cs
Labels: tests, documentation, phase-2, phase-3

feat(health): presentation layer [VS_001 Phase 4/4] ✅
  Components/HealthBarNode.cs
  Docs/01-Active/Backlog.md
  Main.cs
  TestScenes/HealthTestScene.tscn
Labels: documentation, phase-4

fix(health): button event wiring in HealthBarNode
  Components/HealthBarNode.cs
  TestScenes/HealthTestScene.tscn
Labels: phase-4

fix(health): resolve Phase 4 blockers - Godot 4 C# integration [VS_001 Phase 4/4] ✅
  Components/HealthBarNode.cs
  Docs/01-Active/Backlog.md
  TestScenes/HealthTestScene.tscn
Labels: documentation, phase-4

fix: resolve 5 critical bugs in VS_001 health system
  .claude/settings.local.json
  Components/HealthBarNode.cs
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  Main.cs
  TestScenes/DI_Bootstrap_Test.tscn
  TestScenes/HealthTestScene.tscn
  project.godot
  src/Darklands.Core/Features/Health/Application/Commands/TakeDamageCommandHandler.cs
  src/Darklands.Core/Features/Health/Application/IHealthComponentRegistry.cs
  src/Darklands.Core/Features/Health/Infrastructure/HealthComponentRegistry.cs
Labels: documentation, phase-2, phase-3, phase-4

fix(tests): update mocks to use WithComponentLock pattern
  tests/Darklands.Core.Tests/Features/Health/Application/TakeDamageCommandHandlerTests.cs
Labels: tests, phase-2

fix: Resolve 5 critical VS_001 bugs + archive completed work (#79)
  .claude/settings.local.json
  CLAUDE.md
  Components/HealthBarNode.cs
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-003-functional-error-handling.md
  Docs/03-Reference/ADR/ADR-004-feature-based-clean-architecture.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  Main.cs
  TestScenes/DI_Bootstrap_Test.tscn
  TestScenes/HealthTestScene.tscn
  project.godot
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Domain/Common/ActorId.cs
  src/Darklands.Core/Domain/Common/Health.cs
  src/Darklands.Core/Features/Health/Application/Commands/TakeDamageCommand.cs
  src/Darklands.Core/Features/Health/Application/Commands/TakeDamageCommandHandler.cs
  src/Darklands.Core/Features/Health/Application/Events/HealthChangedEvent.cs
  src/Darklands.Core/Features/Health/Application/IHealthComponentRegistry.cs
  src/Darklands.Core/Features/Health/Domain/HealthComponent.cs
  src/Darklands.Core/Features/Health/Domain/IHealthComponent.cs
  src/Darklands.Core/Features/Health/Infrastructure/HealthComponentRegistry.cs
  tests/Darklands.Core.Tests/Domain/Common/ActorIdTests.cs
  tests/Darklands.Core.Tests/Domain/Common/HealthTests.cs
  tests/Darklands.Core.Tests/Features/Health/Application/TakeDamageCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Health/Domain/HealthComponentTests.cs
  tests/Darklands.Core.Tests/Features/Health/Integration/HealthSystemIntegrationTests.cs
Labels: tests, documentation, phase-1, phase-2, phase-3, phase-4

feat(tests): add architecture enforcement tests [TD_001 Complete]
  .claude/settings.local.json
  Main.tscn
  project.godot
  tests/Darklands.Core.Tests/Architecture/DependencyInjectionTests.cs
  tests/Darklands.Core.Tests/Architecture/LayerDependencyTests.cs
  tests/Darklands.Core.Tests/Architecture/ResultPatternTests.cs
  tests/Darklands.Core.Tests/Architecture/TestServiceProviderFactory.cs
  tests/Darklands.Core.Tests/Darklands.Core.Tests.csproj
Labels: tests, godot, phase-4

chore: archive completed TD_001 to October 2025 archive
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
Labels: documentation

fix(tests): add constructor-based reset to prevent test pollution in CI
  tests/Darklands.Core.Tests/Application/Infrastructure/GameStrapperTests.cs
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, phase-2, phase-3

fix(core): make TestService public to prevent Release mode optimization
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
Labels: phase-2, phase-3

feat(tests): Architecture Enforcement Tests [TD_001] (#80)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  Main.tscn
  project.godot
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  tests/Darklands.Core.Tests/Application/Infrastructure/GameStrapperTests.cs
  tests/Darklands.Core.Tests/Architecture/DependencyInjectionTests.cs
  tests/Darklands.Core.Tests/Architecture/LayerDependencyTests.cs
  tests/Darklands.Core.Tests/Architecture/ResultPatternTests.cs
  tests/Darklands.Core.Tests/Architecture/TestServiceProviderFactory.cs
  tests/Darklands.Core.Tests/Darklands.Core.Tests.csproj
  tests/Darklands.Core.Tests/Infrastructure/DependencyInjection/ServiceLocatorTests.cs
Labels: tests, documentation, godot, phase-2, phase-3, phase-4

feat(grid): VS_005 Phase 1 - Domain entities [Phase 1/4]
  .gitignore
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Vision.md
  src/Darklands.Core/Domain/Common/Position.cs
  src/Darklands.Core/Features/Grid/Domain/GridMap.cs
  src/Darklands.Core/Features/Grid/Domain/TerrainType.cs
  tests/Darklands.Core.Tests/Domain/Common/PositionTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Domain/GridMapTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Domain/TerrainTypeTests.cs
Labels: tests, documentation, phase-1

docs(backlog): Add Phase 1 completion tracking for VS_005
  Docs/01-Active/Backlog.md
Labels: documentation

feat(grid): VS_005 Phase 2 partial - MoveActorCommand [Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommand.cs
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Services/IActorPositionService.cs
  src/Darklands.Core/Features/Grid/Application/Services/IFOVService.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Commands/MoveActorCommandHandlerTests.cs
Labels: tests, documentation, phase-2

feat(grid): VS_005 Phase 2 complete - Application layer [Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Grid/Application/Queries/CalculateFOVQuery.cs
  src/Darklands.Core/Features/Grid/Application/Queries/CalculateFOVQueryHandler.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetVisibleActorsQuery.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetVisibleActorsQueryHandler.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Queries/CalculateFOVQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Queries/GetVisibleActorsQueryHandlerTests.cs
Labels: tests, documentation, phase-2

feat(project): Exclude References folder from Godot compilation
  Darklands.csproj
  Docs/02-Design/Game/Roadmap.md
Labels: documentation

docs(backlog): VS_005 Phase 3 approach - custom shadowcasting
  Docs/01-Active/Backlog.md
Labels: documentation

feat(grid): VS_005 Phase 3 complete - Infrastructure layer [Phase 3/4]
  .claude/settings.local.json
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/Grid/Infrastructure/Services/ShadowcastingFOVService.cs
  tests/Darklands.Core.Tests/Features/Grid/Infrastructure/ShadowcastingFOVServiceTests.cs
Labels: tests, phase-2, phase-3

feat(grid): VS_005 Phase 3 complete - Custom shadowcasting FOV [Phase 3/4]
  Docs/01-Active/Backlog.md
Labels: documentation

feat(grid): VS_005 Phase 4 partial - Core event-driven architecture [Phase 4a/4]
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Commands/RegisterActorCommand.cs
  src/Darklands.Core/Features/Grid/Application/Commands/RegisterActorCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Commands/SetTerrainCommand.cs
  src/Darklands.Core/Features/Grid/Application/Commands/SetTerrainCommandHandler.cs
  src/Darklands.Core/Features/Grid/Domain/Events/ActorMovedEvent.cs
  src/Darklands.Core/Features/Grid/Domain/Events/FOVCalculatedEvent.cs
  src/Darklands.Core/Features/Grid/Infrastructure/Services/ActorPositionService.cs
  tests/Darklands.Core.Tests/Features/Grid/Application/Commands/MoveActorCommandHandlerTests.cs
Labels: tests, phase-1, phase-2, phase-3

feat(grid): VS_005 Phase 4 complete - Godot Presentation layer [Phase 4/4]
  .claude/settings.local.json
  GODOT_SETUP_GUIDE.md
  GridTestSceneController.cs
  TestScenes/GridTestScene.tscn
  assets/grid_tileset.tres
  assets/micro-roguelike/Tilesheet.txt
  assets/micro-roguelike/colored_tilemap.png
  assets/micro-roguelike/colored_tilemap.png.import
  src/Darklands.Core/Features/Grid/Application/Queries/GetActorPositionQuery.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetActorPositionQueryHandler.cs
Labels: documentation, phase-2, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
