Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

feat(inventory): Slot-Based Inventory System (VS_008) (#84)
  .claude/settings.local.json
  Components/InventoryPanelNode.cs
  Docs/01-Active/Backlog.md
  Docs/01-Active/VS_008_Inventory_Spec.md
  Docs/05-Post-Mortems/VS_008_Inventory_System_Post_Mortem.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part1.md
  godot_project/test_scenes/GridTestScene.tscn
  godot_project/test_scenes/InventoryTestScene.tscn
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Domain/Common/ItemId.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/AddItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/AddItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RemoveItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RemoveItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/IInventoryRepository.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  src/Darklands.Core/Features/Inventory/Domain/InventoryId.cs
  src/Darklands.Core/Features/Inventory/Infrastructure/InMemoryInventoryRepository.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/AddItemCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/RemoveItemCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetInventoryQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Infrastructure/InMemoryInventoryRepositoryTests.cs
Labels: tests, documentation, godot, phase-1, phase-2, phase-3, phase-4

docs(backlog): Add VS_009 Item System + VS_018 Spatial Inventory specs
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  assets/inventory_ref/inventory.png
  assets/inventory_ref/inventory.png.import
Labels: documentation

docs(memory-bank): Redefine Memory Bank as timeless quick references
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/devops-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

feat(memory-bank): Add shared Memory Bank files for team knowledge
  .claude/memory-bank/active/dev-engineer.md
  .claude/memory-bank/active/product-owner.md
  .claude/memory-bank/active/tech-lead.md
  .gitignore
Labels: documentation

feat(items): Item Definition System - Phase 0 TileSet metadata contract [Phase 0/4]
  Docs/01-Active/Backlog.md
  assets/grid_tileset.tres
  assets/inventory_ref/item_sprites.tres
  godot_project/test_scenes/EventBusTestScene.tscn
Labels: documentation, godot, phase-4

feat(items): Item Definition System - Phase 1 Domain implementation [Phase 1/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Item/Domain/Item.cs
  tests/Darklands.Core.Tests/Features/Item/Domain/ItemTests.cs
Labels: tests, documentation, phase-1

feat(items): Item Definition System - Phase 2 Application layer [Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Item/Application/IItemRepository.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetAllItemsQuery.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetAllItemsQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemByIdQuery.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemByIdQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemsByTypeQuery.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemsByTypeQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/ItemDto.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetAllItemsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetItemByIdQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetItemsByTypeQueryHandlerTests.cs
Labels: tests, documentation, phase-2

feat(items): Item Definition System - Phase 3 Infrastructure [Phase 3/4]
  Docs/01-Active/Backlog.md
  Infrastructure/TileSetItemRepository.cs
  tests/Darklands.Core.Tests/Features/Item/Infrastructure/ItemRepositoryContractTests.cs
Labels: tests, documentation, phase-3

feat(items): Item Definition System - Phase 4 Presentation [Phase 4/4] ✅ COMPLETE
  Components/ItemSpriteNode.cs
  Docs/01-Active/Backlog.md
  godot_project/scenes/Main.cs
  godot_project/test_scenes/ItemShowcaseController.cs
Labels: documentation, godot

feat(items): Add ItemShowcaseScene for manual testing
  godot_project/test_scenes/ItemShowcaseScene.tscn
Labels: godot, phase-4

fix(items): Add missing using directives for compilation
  Infrastructure/TileSetItemRepository.cs
  godot_project/scenes/Main.cs
  godot_project/test_scenes/ItemShowcaseScene.tscn
Labels: godot, phase-3, phase-4

fix(items): Fix sprite centering by switching to TextureRect [VS_009 Final]
  .claude/memory-bank/active/dev-engineer.md
  Components/ItemSpriteNode.cs
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  godot_project/test_scenes/ItemShowcaseController.cs
Labels: documentation, godot

fix(items): Fix sprite centering - Sprite2D → TextureRect [VS_009 Final] (#85)
  .claude/memory-bank/active/dev-engineer.md
  .claude/memory-bank/active/product-owner.md
  .claude/memory-bank/active/tech-lead.md
  .claude/settings.local.json
  .gitignore
  Components/ItemSpriteNode.cs
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/devops-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  Infrastructure/TileSetItemRepository.cs
  assets/grid_tileset.tres
  assets/inventory_ref/inventory.png
  assets/inventory_ref/inventory.png.import
  assets/inventory_ref/item_sprites.tres
  godot_project/scenes/Main.cs
  godot_project/test_scenes/EventBusTestScene.tscn
  godot_project/test_scenes/ItemShowcaseController.cs
  godot_project/test_scenes/ItemShowcaseScene.tscn
  src/Darklands.Core/Features/Item/Application/IItemRepository.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetAllItemsQuery.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetAllItemsQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemByIdQuery.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemByIdQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemsByTypeQuery.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemsByTypeQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/ItemDto.cs
  src/Darklands.Core/Features/Item/Domain/Item.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetAllItemsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetItemByIdQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetItemsByTypeQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Domain/ItemTests.cs
  tests/Darklands.Core.Tests/Features/Item/Infrastructure/ItemRepositoryContractTests.cs
Labels: tests, documentation, godot, phase-1, phase-2, phase-3, phase-4

docs(roadmap): Consolidate completed VS entries with archive links
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
Labels: documentation

feat(inventory): Spatial grid system Phase 1 - Core + Tests [Phase 1/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Infrastructure/TileSetItemRepository.cs
  src/Darklands.Core/Domain/Common/ContainerType.cs
  src/Darklands.Core/Domain/Common/GridPosition.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  src/Darklands.Core/Features/Inventory/Infrastructure/InMemoryInventoryRepository.cs
  src/Darklands.Core/Features/Item/Application/IItemRepository.cs
  tests/Darklands.Core.Tests/Domain/Common/GridPositionTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetInventoryQueryHandlerSpatialTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Stubs/StubItemRepository.cs
  tests/Darklands.Core.Tests/Features/Item/Infrastructure/ItemRepositoryContractTests.cs
Labels: tests, documentation, phase-1, phase-2, phase-3

feat(inventory): Spatial inventory Presentation layer - drag-drop UI [Phase 1/4]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/SPATIAL_INVENTORY_TEST_CHECKLIST.md
  godot_project/test_scenes/SpatialInventoryTestController.cs
  godot_project/test_scenes/SpatialInventoryTestScene.tscn
Labels: documentation, godot, phase-4

feat(inventory): Spatial inventory Phase 1 - drag-drop UI (90% complete) [VS_018 Phase 1/4]
  Components/EquipmentSlotNode.cs
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/SPATIAL_INVENTORY_TEST_CHECKLIST.md
  godot_project/test_scenes/SpatialInventoryTestController.cs
  godot_project/test_scenes/SpatialInventoryTestScene.tscn
  src/Darklands.Core/Features/Inventory/Infrastructure/InMemoryInventoryRepository.cs
Labels: documentation, godot, phase-3, phase-4

fix(inventory): Cross-container drag-drop display sync [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/SpatialInventoryTestController.cs
Labels: documentation, godot

feat(inventory): Replace EquipmentSlotNode with 1×1 spatial grid + logging cleanup [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
  godot_project/test_scenes/SpatialInventoryTestController.cs
Labels: godot

fix(inventory): CRITICAL - Prevent item data loss on failed type validation [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
Labels: documentation, phase-2

test(inventory): Add regression test for data loss bug fix [VS_018 Phase 1]
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
Labels: tests, phase-2

docs(backlog): Session summary - Critical bug fixed, swap design pending [VS_018 Phase 1]
  Docs/01-Active/Backlog.md
Labels: documentation

docs(memory-bank): Add regression test protocol to Dev Engineer memory bank
  .claude/memory-bank/active/dev-engineer.md
Labels: documentation

feat(inventory): Add 4-color item types + equipment swap (Option C) [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
  assets/inventory_ref/item_sprites.tres
  godot_project/test_scenes/SpatialInventoryTestController.cs
Labels: godot

feat(inventory): Add hover tooltips showing item name and type [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
Labels: none

feat(inventory): Enhance drag preview with item name and styled background [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Restore drag-drop by using MouseFilter.Pass on cells [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): CRITICAL - Disable swap to prevent data loss bug [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
Labels: none

feat(inventory): Implement safe equipment swap with full rollback [VS_018 Phase 1]
  Components/SpatialInventoryContainerNode.cs
Labels: none

docs(memory-bank): Add user testing protocol with temporary info messages
  .claude/memory-bank/active/dev-engineer.md
Labels: documentation

docs(memory-bank): Correct user testing protocol to use ILogger instead of GD.Print
  .claude/memory-bank/active/dev-engineer.md
Labels: documentation

docs(backlog): Mark VS_018 Phase 1 complete - all features working [VS_018 Phase 1]
  Docs/01-Active/Backlog.md
Labels: documentation

feat: VS_018 Phase 1 - Spatial Inventory System with Drag-Drop (#86)
  .claude/memory-bank/active/dev-engineer.md
  .claude/settings.local.json
  Components/EquipmentSlotNode.cs
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Infrastructure/TileSetItemRepository.cs
  assets/inventory_ref/item_sprites.tres
  godot_project/test_scenes/SpatialInventoryTestController.cs
  godot_project/test_scenes/SpatialInventoryTestScene.tscn
  src/Darklands.Core/Domain/Common/ContainerType.cs
  src/Darklands.Core/Domain/Common/GridPosition.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  src/Darklands.Core/Features/Inventory/Infrastructure/InMemoryInventoryRepository.cs
  src/Darklands.Core/Features/Item/Application/IItemRepository.cs
  tests/Darklands.Core.Tests/Domain/Common/GridPositionTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetInventoryQueryHandlerSpatialTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Stubs/StubItemRepository.cs
  tests/Darklands.Core.Tests/Features/Item/Infrastructure/ItemRepositoryContractTests.cs
Labels: tests, documentation, godot, phase-1, phase-2, phase-3, phase-4

feat(inventory): Multi-cell item rendering with TextureRect overlay [VS_018 Phase 2.3]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/SpatialInventoryTestScene.tscn
Labels: documentation, godot, phase-4

feat(inventory): Separate sprite size from inventory occupation [VS_018 Phase 2 WIP]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  Infrastructure/TileSetItemRepository.cs
  assets/inventory_ref/item_sprites.tres
  src/Darklands.Core/Features/Item/Application/Queries/GetAllItemsQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemByIdQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemsByTypeQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/ItemDto.cs
  src/Darklands.Core/Features/Item/Domain/Item.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetAllItemsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetItemByIdQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetItemsByTypeQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Domain/ItemTests.cs
  tests/Darklands.Core.Tests/Features/Item/Infrastructure/ItemRepositoryContractTests.cs
Labels: tests, documentation, phase-1, phase-2, phase-3

fix(tests): Fix all compilation errors from sprite/inventory separation [VS_018 Phase 2]
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/ItemShowcaseController.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetAllItemsQueryHandlerTests.cs
Labels: tests, documentation, godot, phase-2

feat(inventory): Complete Phase 2 multi-cell system + drag highlights [VS_018]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/SpatialInventoryTestController.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
Labels: documentation, godot, phase-1, phase-2

fix(inventory): Self-collision detection - allow dropping at same position [VS_018 Phase 2.4]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
Labels: documentation

fix(tests): Fix error message assertions and race condition
  .claude/settings.local.json
  scripts/git/pr.ps1
  tests/Darklands.Core.Tests/Features/Health/Integration/HealthSystemIntegrationTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
  tests/Darklands.Core.Tests/Features/Item/Domain/ItemTests.cs
Labels: tests, ci/cd, automation, phase-1, phase-2

VS_018 Phase 2: Multi-Cell Inventory System + Drag Highlights (#87)
  .claude/settings.local.json
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  Infrastructure/TileSetItemRepository.cs
  assets/inventory_ref/item_sprites.tres
  godot_project/test_scenes/ItemShowcaseController.cs
  godot_project/test_scenes/SpatialInventoryTestController.cs
  godot_project/test_scenes/SpatialInventoryTestScene.tscn
  scripts/git/pr.ps1
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetAllItemsQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemByIdQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemsByTypeQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/ItemDto.cs
  src/Darklands.Core/Features/Item/Domain/Item.cs
  tests/Darklands.Core.Tests/Features/Health/Integration/HealthSystemIntegrationTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetAllItemsQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetItemByIdQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Application/Queries/GetItemsByTypeQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Item/Domain/ItemTests.cs
  tests/Darklands.Core.Tests/Features/Item/Infrastructure/ItemRepositoryContractTests.cs
Labels: tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4
