Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

refactor(inventory): Address PR #87 review suggestions
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
Labels: tests, phase-1, phase-2

refactor(inventory): Address PR #87 review suggestions (#88)
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
Labels: tests, phase-1, phase-2

feat(inventory): VS_018 Phase 3 - Item Rotation Support [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Domain/Common/Rotation.cs
  src/Darklands.Core/Domain/Common/RotationHelper.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RotateItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RotateItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
Labels: tests, phase-1, phase-2

fix(inventory): Phase 3 - Fix rotation UX to work during drag
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
Labels: phase-2

feat(inventory): Phase 3 - Add visual sprite drag preview with rotation
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Phase 3 - Fix rotation to clean 90° and persist on placement
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Prevent double-scroll rotation bug
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Use immediate Free() instead of QueueFree() for highlights
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Invert z-order - Items above highlights (background glow)
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Add ZIndex to individual sprites, not just containers
  Components/SpatialInventoryContainerNode.cs
Labels: none

docs(backlog): Update VS_018 Phase 3 status with bug documentation
  Docs/01-Active/Backlog.md
Labels: documentation

fix(inventory): Hide source sprite during drag via direct node references [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
Labels: documentation

fix(inventory): Apply rotation to intra-container moves + instant highlight updates [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
Labels: phase-2

fix(inventory): Fix rotated item sprite aspect ratio with two-layer rendering [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Fix drag preview centering and simplify rotation handling [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
Labels: documentation

fix(inventory): Fix rotation persistence across container moves [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Reset rotation to Degrees0 for equipment slots [Phase 3/4]
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
Labels: phase-2

chore(inventory): Add z-order diagnostic logging for rendering investigation [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Improve highlight visibility with transparency and z-order tweaks [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Restore highlight visibility - remove ShowBehindParent [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Use CanvasLayer for strict highlight/item z-order separation [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): Revert CanvasLayer, use extreme transparency workaround [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
Labels: none

chore(inventory): Remove diagnostic logs + mark Phase 3 COMPLETE [Phase 3/4]
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
Labels: documentation

feat(inventory): Phase 3 - Rotation Support [VS_018] (#89)
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Domain/Common/Rotation.cs
  src/Darklands.Core/Domain/Common/RotationHelper.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RotateItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RotateItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
Labels: tests, documentation, phase-1, phase-2

feat(inventory): VS_018 Phase 4 - Shape Editor Foundation [Part 1/2]
  Docs/01-Active/Backlog.md
  ItemShapeResource.cs
  addons/item_shape_editor/ItemShapeEditorPlugin.cs
  addons/item_shape_editor/plugin.cfg
  assets/inventory_ref/item_sprites.tres
  data/shapes/rect_1x1.tres
  data/shapes/rect_1x2.tres
  data/shapes/rect_2x1.tres
  data/shapes/rect_2x2.tres
  data/shapes/rect_2x3.tres
  data/shapes/rect_3x2.tres
  data/shapes/test_l_shape.tres
  project.godot
Labels: documentation

feat(inventory): VS_018 Phase 4 - L-Shape Test Case & Refactoring Plan
  Docs/01-Active/Backlog.md
  assets/inventory_ref/item_sprites.tres
Labels: documentation

feat(inventory): VS_018 Phase 4 - OccupiedCells Collision Architecture [Part 1/2]
  Docs/01-Active/Backlog.md
  Infrastructure/TileSetItemRepository.cs
  src/Darklands.Core/Domain/Common/ItemShape.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  src/Darklands.Core/Features/Item/Domain/Item.cs
  tests/Darklands.Core.Tests/Domain/Common/ItemShapeTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryLShapeTests.cs
Labels: tests, documentation, phase-1, phase-3

feat(inventory): VS_018 Phase 4 - Add Shape-Based Public API [Part 2/3]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryLShapeTests.cs
Labels: tests, documentation, phase-1

feat(inventory): VS_018 Phase 4 - Storage Layer Refactored [Part 3/4] WIP
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
Labels: documentation, phase-1

feat(inventory): VS_018 Phase 4 - COMPLETE! [Part 4/4] ✅
  Docs/01-Active/Backlog.md
  Infrastructure/TileSetItemRepository.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
Labels: documentation, phase-1, phase-3

feat(ui): VS_018 Phase 4 - L-Shape Highlight Rendering ✅
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
Labels: phase-2

fix(inventory): BR_003 - L-Shape Collision Bug Fixed
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  Infrastructure/TileSetItemRepository.cs
  ItemShapeResource.cs
  src/Darklands.Core/Domain/Common/ItemShape.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandler.cs
Labels: documentation, phase-1, phase-2, phase-3

fix(inventory): BR_004 - Presentation Layer Architectural Compliance
  .claude/memory-bank/active/dev-engineer.md
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  Infrastructure/TileSetItemRepository.cs
  ItemShapeResource.cs
  src/Darklands.Core/Domain/Common/ItemShape.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandler.cs
Labels: documentation, phase-1, phase-2, phase-3

fix(inventory): BR_005 - Cross-Container L-Shape Highlight Accuracy
  Components/SpatialInventoryContainerNode.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetAllItemsQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemByIdQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemsByTypeQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/ItemDto.cs
Labels: phase-2

docs(backlog): Document BR_005 completion
  Docs/01-Active/Backlog.md
Labels: documentation

fix(inventory): BR_006 - Highlights now rotate during cross-container drag
  Components/SpatialInventoryContainerNode.cs
Labels: none

fix(inventory): BR_007 - Equipment slot highlights and sprite centering
  Components/SpatialInventoryContainerNode.cs
Labels: none

chore(inventory): Add swap debugging logs and archive VS_018
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
Labels: documentation

feat(inventory): VS_018 L-Shapes Complete + Bug Fixes (BR_003-007) (#90)
  .claude/memory-bank/active/dev-engineer.md
  Components/SpatialInventoryContainerNode.cs
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  Infrastructure/TileSetItemRepository.cs
  ItemShapeResource.cs
  addons/item_shape_editor/ItemShapeEditorPlugin.cs
  addons/item_shape_editor/plugin.cfg
  assets/inventory_ref/item_sprites.tres
  data/shapes/rect_1x1.tres
  data/shapes/rect_1x2.tres
  data/shapes/rect_2x1.tres
  data/shapes/rect_2x2.tres
  data/shapes/rect_2x3.tres
  data/shapes/rect_3x2.tres
  data/shapes/test_l_shape.tres
  project.godot
  src/Darklands.Core/Domain/Common/ItemShape.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/MoveItemBetweenContainersCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/PlaceItemAtPositionCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/CanPlaceItemAtQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetAllItemsQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemByIdQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/GetItemsByTypeQueryHandler.cs
  src/Darklands.Core/Features/Item/Application/Queries/ItemDto.cs
  src/Darklands.Core/Features/Item/Domain/Item.cs
  tests/Darklands.Core.Tests/Domain/Common/ItemShapeTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryLShapeTests.cs
Labels: tests, documentation, phase-1, phase-2, phase-3

chore(process): Complete TD_005 - Root Cause First & Context-First Archiving
  .claude/agents/backlog-assistant.md
  .claude/memory-bank/active/dev-engineer.md
  .claude/memory-bank/active/tech-lead.md
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
Labels: documentation
