Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

feat(TD_017): Infrastructure Event Bus implementation [Phase 3/4]
  .claude/settings.local.json
  src/Application/Events/UIEventForwarder.cs
  src/Infrastructure/DependencyInjection/ErrorHandlingBehavior.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Events/UIEventBus.cs
Labels: application, infrastructure, phase-2, phase-3

feat(TD_017): Complete UI Event Bus architecture [Phase 4/4] - REPLACE STATIC ROUTER
  GameManager.cs
  Presentation/UI/EventAwareNode.cs
Labels: none

feat(TD_017): Fix UI Event Bus implementation - COMPLETE [Phase 4/4]
  Docs/01-Active/Backlog.md
  Docs/06-PostMortems/Inbox/2025-09-08-td017-ui-event-bus-implementation.md
  GameManager.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Events/GameManagerEventRouter.cs
  src/Infrastructure/Events/UIEventBus.cs
Labels: infrastructure, documentation, phase-3

feat(TD_017): Complete UI Event Bus Architecture Implementation (#22)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-010-ui-event-bus-architecture.md
  Docs/06-PostMortems/Inbox/2025-09-08-td017-ui-event-bus-implementation.md
  GameManager.cs
  Presentation/UI/EventAwareNode.cs
  src/Application/Events/IUIEventBus.cs
  src/Application/Events/UIEventForwarder.cs
  src/Infrastructure/DependencyInjection/ErrorHandlingBehavior.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Events/GameManagerEventRouter.cs
  src/Infrastructure/Events/UIEventBus.cs
Labels: application, infrastructure, documentation, phase-2, phase-3

docs: fix critical ADR reference integrity across all persona documents
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-011-godot-resource-bridge-pattern.md
  Docs/03-Reference/ADR/README.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/devops-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

docs: fix critical ADR reference integrity across all persona documents (#23)
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-011-godot-resource-bridge-pattern.md
  Docs/03-Reference/ADR/README.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/devops-engineer.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
Labels: documentation

feat(architecture): Add critical ADRs and update personas for Battle Brothers-scale development
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-004-deterministic-simulation.md
  Docs/03-Reference/ADR/ADR-005-save-ready-architecture.md
  Docs/03-Reference/ADR/ADR-006-selective-abstraction-strategy.md
  Docs/03-Reference/ADR/ADR-012-localization-bridge-pattern.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
Labels: documentation

feat(architecture): Add critical ADRs and update personas for Battle Brothers-scale development (#24)
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-004-deterministic-simulation.md
  Docs/03-Reference/ADR/ADR-005-save-ready-architecture.md
  Docs/03-Reference/ADR/ADR-006-selective-abstraction-strategy.md
  Docs/03-Reference/ADR/ADR-012-localization-bridge-pattern.md
  Docs/04-Personas/product-owner.md
  Docs/04-Personas/tech-lead.md
Labels: documentation

feat(architecture): Add TD_023 for ADR alignment review and enhance critical ADRs
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-001-strict-model-view-separation.md
  Docs/03-Reference/ADR/ADR-002-phased-implementation-protocol.md
  Docs/03-Reference/ADR/ADR-003-tilemap-variant-selection-strategy.md
  Docs/03-Reference/ADR/ADR-004-deterministic-simulation.md
  Docs/03-Reference/ADR/ADR-005-save-ready-architecture.md
  Docs/03-Reference/ADR/ADR-006-selective-abstraction-strategy.md
  Docs/03-Reference/ADR/ADR-009-sequential-turn-processing.md
  Docs/03-Reference/ADR/ADR-010-ui-event-bus-architecture.md
  Docs/03-Reference/ADR/ADR-011-godot-resource-bridge-pattern.md
  Docs/03-Reference/ADR/ADR-012-localization-bridge-pattern.md
Labels: documentation

feat(architecture): Add TD_023 for ADR alignment review and enhance critical ADRs (#25)
  Docs/01-Active/Backlog.md
  Docs/03-Reference/ADR/ADR-001-strict-model-view-separation.md
  Docs/03-Reference/ADR/ADR-002-phased-implementation-protocol.md
  Docs/03-Reference/ADR/ADR-003-tilemap-variant-selection-strategy.md
  Docs/03-Reference/ADR/ADR-004-deterministic-simulation.md
  Docs/03-Reference/ADR/ADR-005-save-ready-architecture.md
  Docs/03-Reference/ADR/ADR-006-selective-abstraction-strategy.md
  Docs/03-Reference/ADR/ADR-009-sequential-turn-processing.md
  Docs/03-Reference/ADR/ADR-010-ui-event-bus-architecture.md
  Docs/03-Reference/ADR/ADR-011-godot-resource-bridge-pattern.md
  Docs/03-Reference/ADR/ADR-012-localization-bridge-pattern.md
Labels: documentation

docs: archive completed backlog items and finalize TD_023 analysis
  Docs/01-Active/Backlog.md
  Docs/01-Active/TD_023_Analysis.md
  Docs/03-Reference/ADR/ADR-006-selective-abstraction-strategy.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

docs: archive completed backlog items and finalize TD_023 analysis (#26)
  Docs/01-Active/Backlog.md
  Docs/01-Active/TD_023_Analysis.md
  Docs/03-Reference/ADR/ADR-006-selective-abstraction-strategy.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat(determinism): implement TD_020 + TD_026 deterministic random foundation [Complete]
  Docs/01-Active/Backlog.md
  src/Domain/Determinism/DeterministicExtensions.cs
  src/Domain/Determinism/DeterministicRandom.cs
  src/Domain/Determinism/Fixed.cs
  src/Domain/Determinism/IDeterministicRandom.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Combat/Common/CombatSchedulerTests.cs
  tests/Domain/Determinism/DeterministicExtensionsTests.cs
  tests/Domain/Determinism/DeterministicRandomTests.cs
  tests/Domain/Determinism/FixedTests.cs
Labels: domain, infrastructure, tests, documentation, phase-1, phase-2, phase-3

fix(ci): resolve code formatting and security scan issues
  src/Domain/Determinism/DeterministicExtensions.cs
  tests/Application/Combat/Common/CombatSchedulerTests.cs
  tests/Domain/Determinism/DeterministicExtensionsTests.cs
  tests/Domain/Determinism/DeterministicRandomTests.cs
  tests/Domain/Determinism/FixedTests.cs
Labels: domain, tests, phase-1, phase-2

fix(error-handling): correct Roll method error propagation
  .claude/settings.local.json
  src/Domain/Determinism/DeterministicRandom.cs
Labels: domain, phase-1

feat(determinism): implement TD_020 + TD_026 deterministic random foundation [Complete] (#27)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Domain/Determinism/DeterministicExtensions.cs
  src/Domain/Determinism/DeterministicRandom.cs
  src/Domain/Determinism/Fixed.cs
  src/Domain/Determinism/IDeterministicRandom.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Combat/Common/CombatSchedulerTests.cs
  tests/Domain/Determinism/DeterministicExtensionsTests.cs
  tests/Domain/Determinism/DeterministicRandomTests.cs
  tests/Domain/Determinism/FixedTests.cs
Labels: domain, infrastructure, tests, documentation, phase-1, phase-2, phase-3

feat(testing): Add comprehensive property-based tests for deterministic random system
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  tests/Domain/Determinism/DeterministicRandomPropertyTests.cs
  tests/Domain/Determinism/FixedPropertyTests.cs
Labels: tests, documentation, phase-1

feat(testing): Add comprehensive property-based tests for deterministic random system (#28)
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  tests/Domain/Determinism/DeterministicRandomPropertyTests.cs
  tests/Domain/Determinism/FixedPropertyTests.cs
Labels: tests, documentation, phase-1

feat(logging): Remove emojis and reduce verbosity for production readiness [TD_015]
  Docs/01-Active/Backlog.md
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Events/UIEventForwarder.cs
  src/Infrastructure/Events/UIEventBus.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/AttackPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
Labels: application, infrastructure, documentation, phase-2, phase-3

fix(logging): Remove all remaining emojis from Godot project files [TD_015]
  GameManager.NotificationHandlers.cs
  GameManager.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
Labels: application, phase-2

feat(logging): Remove emojis and reduce verbosity for production readiness [TD_015] (#29)
  Docs/01-Active/Backlog.md
  GameManager.NotificationHandlers.cs
  GameManager.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Application/Events/UIEventForwarder.cs
  src/Infrastructure/Events/UIEventBus.cs
  src/Presentation/Presenters/ActorPresenter.cs
  src/Presentation/Presenters/AttackPresenter.cs
  src/Presentation/Presenters/GridPresenter.cs
  src/Presentation/Presenters/HealthPresenter.cs
Labels: application, infrastructure, documentation, phase-2, phase-3

test: verify pre-commit hook formatting consistency fix
  .husky/pre-commit
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  tmp.md
Labels: documentation, automation

feat(devops): eliminate formatting CI/local inconsistency [TD_030] [Phase 3/4]
  tmp.md
Labels: documentation

docs(backlog): archive completed TD_030 formatting consistency fix
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat(devops): eliminate formatting CI/local inconsistency [TD_030] (#30)
  .husky/pre-commit
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation, automation

feat(domain): implement save-ready entity patterns [TD_021] [Phase 1/4]
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  src/Application/Grid/Commands/SpawnDummyCommandHandler.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Domain/Actor/Actor.cs
  src/Domain/Actor/DummyActor.cs
  src/Domain/Common/IPersistentEntity.cs
  src/Domain/Common/IStableIdGenerator.cs
  src/Domain/Grid/ActorId.cs
  src/Domain/Grid/Grid.cs
  src/Domain/Grid/GridId.cs
  src/Infrastructure/Identity/GuidIdGenerator.cs
  src/Presentation/Presenters/ActorPresenter.cs
Labels: domain, application, infrastructure, documentation, phase-1, phase-2, phase-3

docs(backlog): update TD_021 with Phase 1 completion and detailed phase analysis
  Docs/01-Active/Backlog.md
Labels: documentation

test: migrate all tests to use new save-ready entity patterns [TD_021] [Phase 2/4]
  tests/Application/Actor/Commands/DamageActorCommandHandlerTests.cs
  tests/Application/Actor/Commands/DamageActorCommandTests.cs
  tests/Application/Actor/Commands/HealActorCommandHandlerTests.cs
  tests/Application/Actor/Commands/HealActorCommandTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerIntegrationTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandTests.cs
  tests/Application/Combat/Commands/ScheduleActorCommandHandlerTests.cs
  tests/Application/Combat/Coordination/GameLoopCoordinatorTests.cs
  tests/Domain/Actor/ActorTests.cs
  tests/Domain/Actor/DummyActorTests.cs
  tests/Domain/Combat/ActorEventsTests.cs
  tests/Domain/Combat/AttackValidationTests.cs
  tests/Domain/Grid/BasicGridTests.cs
  tests/TestUtilities/TestIdGenerator.cs
Labels: tests, phase-1, phase-2

docs(backlog): update TD_021 with Phase 2 completion and progress
  Docs/01-Active/Backlog.md
Labels: documentation

feat(infrastructure): implement save-ready entity infrastructure [TD_021] [Phase 3/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/07-Archive/Completed_Backlog.md
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Identity/DeterministicIdGenerator.cs
  src/Infrastructure/Identity/GuidIdGenerator.cs
  src/Infrastructure/Validation/SaveReadyValidator.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerIntegrationTests.cs
  tests/Architecture/ArchitectureTests.cs
  tests/Infrastructure/DependencyInjection/DependencyResolutionTests.cs
  tests/Infrastructure/DependencyInjection/GameStrapperCollection.cs
  tests/Infrastructure/DependencyInjection/MediatRHandlerRegistrationTests.cs
  tests/Infrastructure/Identity/IdGeneratorTests.cs
  tests/Infrastructure/Validation/SaveReadyValidatorTests.cs
Labels: infrastructure, tests, documentation, phase-2, phase-3

feat(presentation): complete save-ready entity integration [TD_021] [Phase 4/4]
  GameManager.cs
  src/Application/Grid/Commands/SpawnDummyCommandHandler.cs
  src/Presentation/Presenters/ActorPresenter.cs
  tests/Application/Grid/Commands/SpawnDummyCommandHandlerTests.cs
Labels: application, tests, phase-2

docs(backlog): mark TD_021 save-ready entity patterns as complete
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

feat(architecture): implement TD_022 Core Abstraction Services
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  src/Darklands.Core.csproj
  src/Domain/Services/IAudioService.cs
  src/Domain/Services/IInputService.cs
  src/Domain/Services/ISettingsService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Services/MockAudioService.cs
  src/Infrastructure/Services/MockInputService.cs
  src/Infrastructure/Services/MockSettingsService.cs
  tests/Infrastructure/Services/CoreAbstractionServicesIntegrationTests.cs
  tests/Infrastructure/Services/MockAudioServiceTests.cs
  tests/Infrastructure/Services/MockInputServiceTests.cs
  tests/Infrastructure/Services/MockSettingsServiceTests.cs
Labels: domain, infrastructure, tests, documentation, phase-1, phase-3

fix(ci): improve security scan patterns to avoid false positives
  .github/workflows/ci-auto-fix.yml
Labels: ci/cd

fix(ci): add coverlet.collector for code coverage in CI
  tests/Darklands.Core.Tests.csproj
Labels: tests

feat(architecture): implement TD_022 Core Abstraction Services (#32)
  .github/workflows/ci-auto-fix.yml
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog.md
  src/Darklands.Core.csproj
  src/Domain/Services/IAudioService.cs
  src/Domain/Services/IInputService.cs
  src/Domain/Services/ISettingsService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Services/MockAudioService.cs
  src/Infrastructure/Services/MockInputService.cs
  src/Infrastructure/Services/MockSettingsService.cs
  tests/Darklands.Core.Tests.csproj
  tests/Infrastructure/Services/CoreAbstractionServicesIntegrationTests.cs
  tests/Infrastructure/Services/MockAudioServiceTests.cs
  tests/Infrastructure/Services/MockInputServiceTests.cs
  tests/Infrastructure/Services/MockSettingsServiceTests.cs
Labels: domain, infrastructure, tests, ci/cd, documentation, phase-1, phase-3

fix(domain): handle integer overflow in Fixed.Abs() for minimum value
  src/Domain/Determinism/Fixed.cs
Labels: domain, phase-1

feat(docs): Add comprehensive DCSS combat analysis and update DevOps persona
  Docs/01-Active/Backlog.md
  Docs/04-Personas/devops-engineer.md
  Docs/08-Learning/DCSS-Combat-Action-System-Analysis.md
  GameManager.NotificationHandlers.cs
  GameManager.cs
  Presentation/UI/EventAwareNode.cs
Labels: documentation

feat(docs): Add comprehensive DCSS combat analysis and update DevOps persona (#33)
  Docs/01-Active/Backlog.md
  Docs/04-Personas/devops-engineer.md
  Docs/08-Learning/DCSS-Combat-Action-System-Analysis.md
  GameManager.NotificationHandlers.cs
  GameManager.cs
  Presentation/UI/EventAwareNode.cs
  src/Domain/Determinism/Fixed.cs
Labels: domain, documentation, phase-1

feat(architecture): adopt time-based scheduling over energy accumulation
  .claude/settings.local.json
  Docs/03-Reference/ADR/ADR-009-sequential-turn-processing.md
  Docs/03-Reference/ADR/ADR-013-time-based-action-scheduling.md
  Docs/03-Reference/ADR/README.md
  Docs/08-Learning/DCSS-Combat-Action-System-Analysis.md
Labels: documentation

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
