Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

docs: Fix GODOT_SETUP_GUIDE texture filter instructions
  GODOT_SETUP_GUIDE.md
Labels: documentation

docs: Complete rewrite of GODOT_SETUP_GUIDE for Godot 4.4
  GODOT_SETUP_GUIDE.md
  TestScenes/GridTestScene.tscn
  assets/grid_tileset.tres
  assets/micro-roguelike/Tilesheet.txt
  project.godot
Labels: documentation, phase-4

feat(grid): Update GridTestSceneController for Godot 4.4 atlas coordinates
  GridTestSceneController.cs
Labels: none

fix(grid): Scale TileMaps to match sprite size (6x)
  GridTestSceneController.cs
Labels: none

refactor(grid): Simplify to pure color grid (no TileSet)
  GridTestSceneController.cs
Labels: none

refactor(grid): Elegant solution - complete events (no state duplication)
  GridTestSceneController.cs
  src/Darklands.Core/Features/Grid/Application/Commands/MoveActorCommandHandler.cs
  src/Darklands.Core/Features/Grid/Domain/Events/ActorMovedEvent.cs
Labels: phase-1, phase-2

docs(backlog): VS_005 marked complete - All 4 phases done
  Docs/01-Active/Backlog.md
Labels: documentation

docs(persona): enhance dev-engineer with modern C# and Godot 4.4 expertise
  Docs/04-Personas/dev-engineer.md
Labels: documentation

fix(grid): Add fog of war + fix actor overlap rendering
  Docs/01-Active/Backlog.md
  GridTestSceneController.cs
Labels: documentation

chore: Archive VS_005 and clear backlog for new work
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
Labels: documentation

feat(planning): VS_006 approved with 8-directional movement + right-click cancel, VS_007 smart interruption planned
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
Labels: documentation

feat(movement): Phase 1 - Feature structure + IPathfindingService interface [Phase 1/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Movement/Application/Services/IPathfindingService.cs
Labels: documentation, phase-2

feat(movement): Phase 2 - Application layer with path queries and commands [Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Movement/Application/Commands/MoveAlongPathCommand.cs
  src/Darklands.Core/Features/Movement/Application/Commands/MoveAlongPathCommandHandler.cs
  src/Darklands.Core/Features/Movement/Application/Queries/FindPathQuery.cs
  src/Darklands.Core/Features/Movement/Application/Queries/FindPathQueryHandler.cs
  tests/Darklands.Core.Tests/Features/Movement/Application/Commands/MoveAlongPathCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Movement/Application/Queries/FindPathQueryHandlerTests.cs
Labels: tests, documentation, phase-2

feat(movement): Phase 3 - A* pathfinding service with 8-directional movement [Phase 3/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Movement/Infrastructure/Services/AStarPathfindingService.cs
  tests/Darklands.Core.Tests/Features/Movement/Infrastructure/Services/AStarPathfindingServiceTests.cs
Labels: tests, documentation, phase-3

feat(movement): Phase 4 - Godot integration with hover-based path preview [Phase 4/4]
  Docs/01-Active/Backlog.md
  GridTestSceneController.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/Movement/Application/Commands/MoveAlongPathCommandHandler.cs
Labels: documentation, phase-2, phase-3

fix(movement): Optimize A* pathfinding for straight diagonal paths
  src/Darklands.Core/Features/Movement/Infrastructure/Services/AStarPathfindingService.cs
Labels: phase-3

docs: Update backlog with pathfinding optimization details
  Docs/01-Active/Backlog.md
Labels: documentation

fix(movement): Fix A* pathfinding precision - use double for diagonal costs
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Movement/Infrastructure/Services/AStarPathfindingService.cs
Labels: documentation, phase-3

fix(ui): Fix path preview artifacts and fog of war visibility
  GridTestSceneController.cs
Labels: none

fix(ui): Disable path preview hover during active movement
  GridTestSceneController.cs
Labels: none

fix(ui): Implement true fog of war - enemies only visible in FOV
  GridTestSceneController.cs
Labels: none

fix(ui): Hide terrain in unexplored areas - true fog of war
  GridTestSceneController.cs
Labels: none

refactor(ui): Replace GD.Print with ILogger for architectural consistency
  GridTestSceneController.cs
Labels: none

docs(backlog): Mark VS_006 complete, create TD_002 for debug panel
  Docs/01-Active/Backlog.md
Labels: documentation

docs(backlog): Archive VS_006 and approve TD_002
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
Labels: documentation

feat(movement): Interactive Movement System with A* Pathfinding (VS_006) (#82)
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  Docs/02-Design/Game/Roadmap.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  GridTestSceneController.cs
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  src/Darklands.Core/Features/Movement/Application/Commands/MoveAlongPathCommand.cs
  src/Darklands.Core/Features/Movement/Application/Commands/MoveAlongPathCommandHandler.cs
  src/Darklands.Core/Features/Movement/Application/Queries/FindPathQuery.cs
  src/Darklands.Core/Features/Movement/Application/Queries/FindPathQueryHandler.cs
  src/Darklands.Core/Features/Movement/Application/Services/IPathfindingService.cs
  src/Darklands.Core/Features/Movement/Infrastructure/Services/AStarPathfindingService.cs
  tests/Darklands.Core.Tests/Features/Movement/Application/Commands/MoveAlongPathCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Movement/Application/Queries/FindPathQueryHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Movement/Infrastructure/Services/AStarPathfindingServiceTests.cs
Labels: tests, documentation, phase-2, phase-3

fix(logging): Wire up GodotConsoleSink for Godot Output panel visibility
  Docs/01-Active/Backlog.md
  Main.cs
Labels: documentation

fix(logging): Fix debug console category discovery and reduce log spam
  Infrastructure/DebugConsoleController.cs
  Infrastructure/Logging/LoggingService.cs
  src/Darklands.Core/Features/Grid/Application/Commands/SetTerrainCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetActorPositionQueryHandler.cs
Labels: phase-2, phase-3

feat(logging): Add category filtering and log level control to Debug Console
  Infrastructure/DebugConsoleController.cs
  Main.cs
Labels: phase-3

fix(logging): Change A* pathfinding logs from Info to Debug level
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Movement/Infrastructure/Services/AStarPathfindingService.cs
Labels: documentation, phase-3

refactor(td-002): Debug Console scene refactor + project reorganization
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  GODOT_SETUP_GUIDE.md
  Infrastructure/DebugConsoleConfig.cs
  Infrastructure/DebugConsoleController.cs
  Main.tscn
  QUICK_START.md
  TESTING_GUIDE.md
  godot_project/infrastructure/DebugConsole.tscn
  godot_project/scenes/Main.cs
  godot_project/scenes/Main.tscn
  godot_project/test_scenes/EventBusTestListener.cs
  godot_project/test_scenes/EventBusTestScene.tscn
  godot_project/test_scenes/GridTestScene.tscn
  godot_project/test_scenes/GridTestSceneController.cs
  godot_project/test_scenes/HealthTestScene.tscn
Labels: documentation, godot, phase-3, phase-4

docs(planning): Add VS_008 Inventory System specification
  Docs/01-Active/Backlog.md
  Docs/01-Active/VS_008_Inventory_Spec.md
  Docs/02-Design/Game/Roadmap.md
  godot_project/test_scenes/GridTestScene.tscn
Labels: documentation, godot, phase-4

refactor(TD-002): Debug Console scene refactor + project reorganization (#83)
  Docs/01-Active/Backlog.md
  Docs/01-Active/VS_008_Inventory_Spec.md
  Docs/02-Design/Game/Roadmap.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  GODOT_SETUP_GUIDE.md
  Infrastructure/DebugConsoleConfig.cs
  Infrastructure/DebugConsoleController.cs
  Infrastructure/Logging/LoggingService.cs
  Main.tscn
  QUICK_START.md
  TESTING_GUIDE.md
  godot_project/infrastructure/DebugConsole.tscn
  godot_project/scenes/Main.cs
  godot_project/scenes/Main.tscn
  godot_project/test_scenes/EventBusTestListener.cs
  godot_project/test_scenes/EventBusTestScene.tscn
  godot_project/test_scenes/GridTestScene.tscn
  godot_project/test_scenes/GridTestSceneController.cs
  godot_project/test_scenes/HealthTestScene.tscn
  src/Darklands.Core/Features/Grid/Application/Commands/SetTerrainCommandHandler.cs
  src/Darklands.Core/Features/Grid/Application/Queries/GetActorPositionQueryHandler.cs
  src/Darklands.Core/Features/Movement/Infrastructure/Services/AStarPathfindingService.cs
Labels: documentation, godot, phase-2, phase-3, phase-4

feat(inventory): Phase 1 - Domain layer [VS_008, Phase 1/4]
  .claude/settings.local.json
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Domain/Common/ItemId.cs
  src/Darklands.Core/Features/Inventory/Domain/Inventory.cs
  src/Darklands.Core/Features/Inventory/Domain/InventoryId.cs
  tests/Darklands.Core.Tests/Features/Inventory/Domain/InventoryTests.cs
Labels: tests, documentation, phase-1

feat(inventory): Phase 2 - Application layer [VS_008, Phase 2/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Core/Features/Inventory/Application/Commands/AddItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/AddItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RemoveItemCommand.cs
  src/Darklands.Core/Features/Inventory/Application/Commands/RemoveItemCommandHandler.cs
  src/Darklands.Core/Features/Inventory/Application/IInventoryRepository.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQuery.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/GetInventoryQueryHandler.cs
  src/Darklands.Core/Features/Inventory/Application/Queries/InventoryDto.cs
  src/Darklands.Core/Features/Inventory/Infrastructure/InMemoryInventoryRepository.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/AddItemCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Commands/RemoveItemCommandHandlerTests.cs
  tests/Darklands.Core.Tests/Features/Inventory/Application/Queries/GetInventoryQueryHandlerTests.cs
Labels: tests, documentation, phase-2, phase-3

feat(inventory): Phase 3 - Infrastructure DI registration [VS_008, Phase 3/4]
  src/Darklands.Core/Application/Infrastructure/GameStrapper.cs
  tests/Darklands.Core.Tests/Features/Inventory/Infrastructure/InMemoryInventoryRepositoryTests.cs
Labels: tests, phase-2, phase-3

docs(backlog): Update VS_008 with Phase 1-3 completion status
  Docs/01-Active/Backlog.md
Labels: documentation

feat(inventory): Phase 4 - Presentation layer [VS_008, Phase 4/4]
  Components/InventoryPanelNode.cs
  Docs/01-Active/Backlog.md
  godot_project/test_scenes/GridTestScene.tscn
  godot_project/test_scenes/InventoryTestScene.tscn
Labels: documentation, godot, phase-4

fix(inventory): Properly dispose UI panels to prevent memory leak
  Components/InventoryPanelNode.cs
Labels: none

docs(VS_008): Post-mortem and archive completed inventory system
  Docs/01-Active/Backlog.md
  Docs/01-Active/VS_008_Inventory_Spec.md
  Docs/05-Post-Mortems/VS_008_Inventory_System_Post_Mortem.md
  Docs/07-Archive/Archive_Index.md
  Docs/07-Archive/Completed_Backlog_2025-10.md
  Docs/07-Archive/Completed_Backlog_2025-10_Part1.md
Labels: documentation

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'
