Repository Coelancanth/Darklands, changes with the labels that .github/labeler.yml gives for each.
All labels: domain, application, infrastructure, tests, ci/cd, documentation, godot, automation, phase-1, phase-2, phase-3, phase-4

.github/labeler.yml:

# Auto-labeling rules for PRs
# This file is used by the labeler action in ci-auto-fix.yml

# Label by file paths
'domain':
  - src/Domain/**/*
  - src/Domain/*

'application':
  - src/Application/**/*
  - src/Application/*

'infrastructure':
  - src/Infrastructure/**/*
  - src/Infrastructure/*

'tests':
  - tests/**/*
  - tests/*

'ci/cd':
  - .github/workflows/*
  - .github/workflows/**/*
  - scripts/**/*

'documentation':
  - '**/*.md'
  - Docs/**/*

'godot':
  - '*.gdscript'
  - '*.tscn'
  - '*.tres'
  - godot_project/**/*

'automation':
  - scripts/**/*
  - .husky/*

# Size labels (by changed lines)
'size/XS':
  - count:
      max: 10

'size/S':
  - count:
      min: 11
      max: 50

'size/M':
  - count:
      min: 51
      max: 200

'size/L':
  - count:
      min: 201
      max: 500

'size/XL':
  - count:
      min: 501

# Phase labels (detect from PR title/commits)
'phase-1':
  - '**/*Domain/**/*'
  - 'src/Domain/**/*'

'phase-2':
  - '**/*Application/**/*'
  - 'src/Application/**/*'

'phase-3':
  - '**/*Infrastructure/**/*'
  - 'src/Infrastructure/**/*'

'phase-4':
  - '**/*.tscn'
  - '**/*.gdscript'

docs: Document initialization fix session and remaining presenter registration issue
  Docs/01-Active/Backlog.md
  tmp.md
Labels: documentation

fix: Register presenters in DI container and fix view attachment pattern
  GodotIntegration/Core/GameManager.cs
  src/Darklands.Presentation/PresenterBase.cs
  src/Darklands.Presentation/Presenters/ActorPresenter.cs
  src/Darklands.Presentation/Presenters/AttackPresenter.cs
  src/Darklands.Presentation/Presenters/GridPresenter.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, phase-3

docs: Add post-mortem and update implementation status with DI control flow
  Docs/01-Active/CurrentImplementationStatus.md
  Docs/06-PostMortems/Inbox/2025-09-16-presenter-di-registration-failure.md
Labels: documentation

docs: Update backlog with complete TD_046 implementation details
  Docs/01-Active/Backlog.md
  GodotIntegration/Core/GameManager.cs
  tests/Architecture/PresenterRegistrationTests.cs
  tmp.md
Labels: tests, documentation

docs: Verify TD_046 complete and archive to completed backlog
  Docs/01-Active/Backlog.md
  Docs/01-Active/CurrentImplementationStatus.md
  Docs/07-Archive/Completed_Backlog.md
Labels: documentation

fix: Update CI workflows for TD_046 project structure changes
  .github/workflows/ci-auto-fix.yml
  .github/workflows/cross-platform-determinism.yml
  .github/workflows/scheduled-maintenance.yml
Labels: ci/cd

fix(ci): Update all CI workflows for TD_046 project structure
  .github/workflows/ci-auto-fix.yml
  .github/workflows/cross-platform-determinism.yml
  .github/workflows/scheduled-maintenance.yml
Labels: ci/cd

perf(hooks): Optimize pre-commit performance from 25s to <10s
  .husky/pre-commit
  .husky/pre-push
Labels: automation

fix(ci): Disable Husky tool restore in CI environments
  src/Darklands.Application.csproj
  src/Darklands.Presentation/Darklands.Presentation.csproj
Labels: none

docs(process): Add phase completion documentation protocol
  .claude/agents/backlog-assistant.md
  CLAUDE.md
  Docs/01-Active/Backlog.md
  Docs/01-Active/Workflow.md
  Docs/02-Design/Protocols/Development/phase-completion-documentation.md
  Docs/02-Design/Protocols/Process/archive-management.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/test-specialist.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/ArchitectureReview_CleanArchitecture_2025-09-15.md
  Docs/07-Archive/CleanArchitecture_Review_Report.md
  Docs/07-Archive/Completed_Backlog.md
  Docs/07-Archive/Completed_Backlog_001.md
  Docs/07-Archive/Completed_Backlog_002.md
  Docs/07-Archive/Completed_Backlog_003.md
  Docs/07-Archive/Completed_Backlog_004.md
  Docs/07-Archive/Completed_Backlog_ORIGINAL_BACKUP.md
Labels: documentation

docs: Update Archive Index with comprehensive content analysis
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog_002.md
  Docs/07-Archive/Completed_Backlog_003.md
  Docs/07-Archive/Completed_Backlog_004.md
  Docs/07-Archive/Completed_Backlog_ORIGINAL_BACKUP.md
Labels: documentation

docs(process): Add phase completion documentation protocol (#60)
  .claude/agents/backlog-assistant.md
  CLAUDE.md
  Docs/01-Active/Backlog.md
  Docs/01-Active/Backup.md
  Docs/01-Active/Workflow.md
  Docs/02-Design/Protocols/Development/phase-completion-documentation.md
  Docs/02-Design/Protocols/Process/archive-management.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/test-specialist.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/ArchitectureReview_CleanArchitecture_2025-09-15.md
  Docs/07-Archive/CleanArchitecture_Review_Report.md
  Docs/07-Archive/Completed_Backlog.md
  Docs/07-Archive/Completed_Backlog_001.md
  Docs/07-Archive/Completed_Backlog_002.md
  Docs/07-Archive/Completed_Backlog_003.md
  Docs/07-Archive/Completed_Backlog_004.md
Labels: documentation

docs: Consolidate aging documents into Workflow.md
  Docs/01-Active/AGING_SCHEDULE.md
  Docs/01-Active/BACKLOG_AGING_PROTOCOL.md
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/01-Active/TD_023_Analysis.md
  Docs/01-Active/TD_046_Migration_Plan.md
  Docs/01-Active/Workflow.md
  Docs/03-Reference/ADR/ADR-002-phased-implementation-protocol.md
  Docs/03-Reference/Glossary.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/README.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  Docs/05-Templates/VerticalSlice_Template.md
Labels: documentation

docs: Consolidate aging documents into Workflow.md (#61)
  Docs/01-Active/AGING_SCHEDULE.md
  Docs/01-Active/BACKLOG_AGING_PROTOCOL.md
  Docs/01-Active/Backlog.md
  Docs/01-Active/ReviewGaps.md
  Docs/01-Active/TD_023_Analysis.md
  Docs/01-Active/TD_046_Migration_Plan.md
  Docs/01-Active/Workflow.md
  Docs/03-Reference/ADR/ADR-002-phased-implementation-protocol.md
  Docs/03-Reference/Glossary.md
  Docs/03-Reference/HANDBOOK.md
  Docs/03-Reference/README.md
  Docs/04-Personas/debugger-expert.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/tech-lead.md
  Docs/04-Personas/test-specialist.md
  Docs/05-Templates/VerticalSlice_Template.md
Labels: documentation

feat(logging): Complete TD_047 logger unification with LanguageExt integration
  Docs/01-Active/Backlog.md
  GodotIntegration/Core/GameManager.NotificationHandlers.cs
  GodotIntegration/Core/GameManager.cs
  Views/ActorView.cs
  Views/GridView.cs
  src/Darklands.Presentation/Presenters/AttackPresenter.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/DependencyInjection/StubScopeManager.cs
  src/Infrastructure/Random/DeterministicRandom.cs
  src/Infrastructure/Services/MockAudioService.cs
  src/Infrastructure/Services/MockInputService.cs
  src/Infrastructure/Services/MockSettingsService.cs
  src/Presentation/Presenters/AttackPresenter.cs
  tests/Application/Combat/Common/CombatSchedulerTests.cs
  tests/Domain/Determinism/DeterministicExtensionsTests.cs
  tests/Domain/Determinism/DeterministicRandomPropertyTests.cs
  tests/Domain/Determinism/DeterministicRandomTests.cs
Labels: infrastructure, tests, documentation, phase-1, phase-2, phase-3

fix(tests): Resolve null reference exceptions in Mock service tests
  src/Infrastructure/DependencyInjection/StubScopeManager.cs
  src/Infrastructure/Services/MockAudioService.cs
  src/Infrastructure/Services/MockInputService.cs
  src/Infrastructure/Services/MockSettingsService.cs
Labels: infrastructure, phase-3

feat(logging): Complete TD_047 logger unification with LanguageExt integration (#62)
  Docs/01-Active/Backlog.md
  GodotIntegration/Core/GameManager.NotificationHandlers.cs
  GodotIntegration/Core/GameManager.cs
  Views/ActorView.cs
  Views/GridView.cs
  src/Darklands.Presentation/Presenters/AttackPresenter.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/DependencyInjection/StubScopeManager.cs
  src/Infrastructure/Random/DeterministicRandom.cs
  src/Infrastructure/Services/MockAudioService.cs
  src/Infrastructure/Services/MockInputService.cs
  src/Infrastructure/Services/MockSettingsService.cs
  src/Presentation/Presenters/AttackPresenter.cs
  tests/Application/Combat/Common/CombatSchedulerTests.cs
  tests/Domain/Determinism/DeterministicExtensionsTests.cs
  tests/Domain/Determinism/DeterministicRandomPropertyTests.cs
  tests/Domain/Determinism/DeterministicRandomTests.cs
Labels: infrastructure, tests, documentation, phase-1, phase-2, phase-3

feat(error-handling): Convert Domain and core Application layers to pure Fin<T>
  src/Application/Combat/Coordination/GameLoopCoordinator.cs
  src/Application/Common/ActorFactory.cs
  src/Darklands.Domain/Combat/TimeUnitCalculator.cs
Labels: application, phase-1, phase-2

feat(error-handling): Complete core business logic conversion to pure Fin<T>
  src/Application/Vision/Queries/CalculateFOVQueryHandler.cs
Labels: application, phase-2

fix(logging): Add missing placeholders for UIEventBus log messages
  src/Infrastructure/Logging/UnifiedCategoryLogger.cs
Labels: infrastructure, phase-3

fix(logging): Unify dual logging systems and fix all placeholder issues
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Logging/UnifiedCategoryLogger.cs
  tmp.md
Labels: infrastructure, documentation, phase-3

Revert "fix(logging): Unify dual logging systems and fix all placeholder issues"
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Logging/UnifiedCategoryLogger.cs
  tmp.md
Labels: infrastructure, documentation, phase-3

fix(logging): Add missing placeholder support safely
  src/Infrastructure/Logging/UnifiedCategoryLogger.cs
Labels: infrastructure, phase-3

docs(backlog): Add TD_056 - Unified Logging Architecture Strategy
  Docs/01-Active/Backlog.md
  tmp.md
Labels: documentation

feat(error-handling): Implement strategic error handling boundaries with LanguageExt
  Docs/01-Active/Backlog.md
  Docs/03-Reference/PRODUCTION-PATTERNS.md
  Docs/07-Archive/Completed_Backlog.md
  src/Application/Events/UIEventForwarder.cs
  src/Application/Vision/Commands/CalculateFOVConsoleCommandHandler.cs
  src/Application/Vision/Commands/VisionPerformanceConsoleCommandHandler.cs
  src/Application/Vision/Services/InMemoryVisionStateService.cs
  src/Darklands.Presentation/Presenters/GridPresenter.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: application, infrastructure, documentation, phase-2, phase-3

feat(error-handling): Strategic error handling boundaries with LanguageExt + Archive system improvements (#63)
  Docs/01-Active/Backlog.md
  Docs/03-Reference/PRODUCTION-PATTERNS.md
  Docs/07-Archive/Completed_Backlog.md
  src/Application/Combat/Coordination/GameLoopCoordinator.cs
  src/Application/Common/ActorFactory.cs
  src/Application/Events/UIEventForwarder.cs
  src/Application/Vision/Commands/CalculateFOVConsoleCommandHandler.cs
  src/Application/Vision/Commands/VisionPerformanceConsoleCommandHandler.cs
  src/Application/Vision/Queries/CalculateFOVQueryHandler.cs
  src/Application/Vision/Services/InMemoryVisionStateService.cs
  src/Darklands.Domain/Combat/TimeUnitCalculator.cs
  src/Darklands.Presentation/Presenters/GridPresenter.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  src/Infrastructure/Logging/UnifiedCategoryLogger.cs
  tmp.md
Labels: application, infrastructure, documentation, phase-1, phase-2, phase-3

feat(combat): eliminate MediatR anti-pattern with IDamageService
  .claude/agents/backlog-assistant.md
  Docs/04-Personas/product-owner.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog_005.md
  src/Application/Actor/Commands/DamageActorCommandHandler.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Darklands.Application/Combat/Services/DamageService.cs
  src/Darklands.Domain/Combat/Services/IDamageService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Actor/Commands/DamageActorCommandHandlerTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerTests.cs
Labels: application, infrastructure, tests, documentation, phase-1, phase-2, phase-3

fix(logging): reduce redundant combat logs and fix placeholder formatting
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Darklands.Application/Combat/Services/DamageService.cs
Labels: application, phase-2

docs(backlog): mark TD_057 as completed with implementation details
  Docs/01-Active/Backlog.md
Labels: documentation

fix(mediatr): Fix pipeline behavior registration order (TD_058)
  Docs/01-Active/Backlog.md
  src/Infrastructure/DependencyInjection/GameStrapper.cs
Labels: infrastructure, documentation, phase-3

docs: archive completed TD_057 and TD_058 items
  Docs/01-Active/Backlog.md
  Docs/07-Archive/Completed_Backlog_005.md
Labels: documentation

fix: Eliminate MediatR anti-patterns and fix pipeline order (TD_057-058) (#64)
  .claude/agents/backlog-assistant.md
  Docs/01-Active/Backlog.md
  Docs/04-Personas/product-owner.md
  Docs/07-Archive/ARCHIVE_INDEX.md
  Docs/07-Archive/Completed_Backlog.md
  Docs/07-Archive/Completed_Backlog_005.md
  src/Application/Actor/Commands/DamageActorCommandHandler.cs
  src/Application/Combat/Commands/ExecuteAttackCommandHandler.cs
  src/Darklands.Application/Combat/Services/DamageService.cs
  src/Darklands.Domain/Combat/Services/IDamageService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Actor/Commands/DamageActorCommandHandlerTests.cs
  tests/Application/Combat/Commands/ExecuteAttackCommandHandlerTests.cs
Labels: application, infrastructure, tests, documentation, phase-1, phase-2, phase-3

feat(pathfinding): A* domain model [Phase 1/4]
  Docs/01-Active/Backlog.md
  src/Darklands.Domain/Pathfinding/AStarAlgorithm.cs
  src/Darklands.Domain/Pathfinding/IPathfindingAlgorithm.cs
  src/Darklands.Domain/Pathfinding/PathfindingCostTable.cs
  src/Darklands.Domain/Pathfinding/PathfindingNode.cs
  src/Darklands.Domain/Pathfinding/PathfindingResult.cs
  tests/Domain/Pathfinding/AStarAlgorithmTests.cs
Labels: tests, documentation, phase-1

docs(backlog): Ultra-careful technical assessment of VS_014 A* implementation
  Docs/01-Active/Backlog.md
Labels: documentation

docs: Establish mandatory pre-commit backlog update protocol
  CLAUDE.md
  Docs/01-Active/Backlog.md
  Docs/04-Personas/dev-engineer.md
  Docs/04-Personas/tech-lead.md
Labels: documentation

feat(pathfinding): Complete A* application and infrastructure layers [Phase 2-3/4]
  Docs/01-Active/Backlog.md
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Application/Grid/Services/IGridStateService.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  src/Infrastructure/DependencyInjection/GameStrapper.cs
  tests/Application/Grid/Commands/MoveActorCommandHandlerTests.cs
  tests/Application/Grid/Commands/SpawnDummyCommandHandlerTests.cs
Labels: application, infrastructure, tests, documentation, phase-2, phase-3

feat(pathfinding): Complete A* visual presentation layer [Phase 4/4] - VS_014 FINISHED
  Docs/01-Active/Backlog.md
  Views/PathOverlay.cs
  Views/PathOverlay.tscn
  src/Darklands.Presentation/Presenters/IPathVisualizationPresenter.cs
  src/Darklands.Presentation/Presenters/PathVisualizationPresenter.cs
  src/Darklands.Presentation/Views/IPathVisualizationView.cs
Labels: documentation, phase-4

fix(pathfinding): Complete visual integration for VS_014 - PathOverlay now visible in combat scene
  GodotIntegration/Core/GameManager.cs
  Scenes/combat_scene.tscn
  Views/PathOverlay.cs
  src/Darklands.Presentation/DI/ServiceConfiguration.cs
Labels: phase-4

docs(backlog): Document critical VS_014 runtime failures discovered in testing
  Docs/01-Active/Backlog.md
Labels: documentation

fix(pathfinding): VS_014 complete - resolved actor self-blocking issue
  Docs/01-Active/Backlog.md
  Views/PathOverlay.cs
  src/Application/Grid/Queries/CalculatePathQueryHandler.cs
  src/Application/Grid/Services/InMemoryGridStateService.cs
  tests/Application/Grid/GridStateDebugTest.cs
  tests/Domain/Pathfinding/AStarRuntimeDebugTest.cs
Labels: application, tests, documentation, phase-1, phase-2
